# Created by .ignore support plugin (hsz.mobi)
/vanlevysite/settings/secret_key.txt

/vanlevysite/media/static/base_style.css
!/vanlevy/static/base_style.css
/vanlevysite/settings/aws_secret_access_key.txt
/vanlevysite/settings/s3_access_key.txt
/vanlevysite/settings/alpha.py
.idea/misc.xml
.idea/modules.xml
.idea/vanlevysite.iml
.idea/workspace.xml
accounts/__pycache__/
accounts/migrations/0002_userprofile_user_url_image.py
accounts/migrations/0003_avatar_avatar_url_image.py
accounts/migrations/__pycache__/
accounts/static/
swdice/__pycache__/
swdice/migrations/0013_auto_20181210_1539.py
swdice/migrations/0014_auto_20190123_1022.py
swdice/migrations/0015_swroomchat_recipient_avatar.py
swdice/migrations/0016_swdicepool_secret_roll.py
swdice/migrations/__pycache__/
swdice/static/
vanlevy/__pycache__/
vanlevy/migrations/__pycache__/
vanlevy/static/vanlevy/images/
vanlevysite/__pycache__/
vanlevysite/media/avatar_image/QiuYuen_ZGY3eEk.jpg
vanlevysite/media/avatar_image/QiuYuen_sy35q8W.jpg
vanlevysite/media/avatar_image/tamoq_gVLqV0b.jpg
vanlevysite/settings/__pycache__/
vanlevysite/settings/alpha.py
vanlevysite/static/
.idea/codeStyles/
accounts/migrations/0004_auto_20190315_0812.py
accounts/migrations/0005_auto_20190520_0911.py
accounts/migrations/0006_pdfcharsheet.py
accounts/migrations/0007_pdfcharsheet_archived.py
accounts/migrations/0008_auto_20190520_1707.py
accounts/migrations/0009_pdfcharsheet_created_on.py
gendice/__pycache__/
gendice/migrations/0001_initial.py
gendice/migrations/__pycache__/
gendice/static/
myzdice/__pycache__/
myzdice/migrations/
myzdice/static/
polydice/__pycache__/
polydice/migrations/0001_initial.py
polydice/migrations/0002_auto_20190425_1410.py
polydice/migrations/__pycache__/
polydice/static/
swdice/migrations/0001_squashed_0023_auto_20190422_1148.py
swdice/migrations/0002_auto_20190425_1123.py
swdice/migrations/0003_auto_20190517_0745.py
swdice/migrations/0004_auto_20190520_0857.py
swdice/migrations/0005_enterswroom_user.py
swdice/migrations/0017_auto_20190315_1059.py
swdice/migrations/0018_swroom_direct.py
swdice/migrations/0019_remove_swroom_direct.py
swdice/migrations/0020_auto_20190321_0723.py
swdice/migrations/0021_swroomtouser_archive.py
swdice/migrations/0022_auto_20190418_1428.py
swdice/migrations/0023_auto_20190422_1148.py
vanlevysite/settings/auth.csv
/db.sqlite3
!/vanlevy/static/vanlevy/files/base_style_19_06_05.css
vanlevy/migrations/0001_initial.py
!/vanlevy/static/vanlevy/files/base_style_19_06_11.css
!/vanlevy/static/vanlevy/files/base.js
!/vanlevy/static/vanlevy/files/vanlevy_base_19_06_13.css
!/vanlevy/static/vanlevy/files/other/PDFCharSheet.pdf
!/vanlevy/static/vanlevy/files/js/dice_sw.js
