# Created by .ignore support plugin (hsz.mobi)
/vanlevysite/settings/secret_key.txt

/vanlevysite/media/static/base_style.css
!/vanlevy/static/base_style.css
/vanlevysite/settings/aws_secret_access_key.txt
/vanlevysite/settings/s3_access_key.txt
/vanlevysite/settings/alpha.py
.idea/misc.xml
.idea/modules.xml
.idea/vanlevysite.iml
.idea/workspace.xml
accounts/__pycache__/
accounts/migrations/0002_userprofile_user_url_image.py
accounts/migrations/0003_avatar_avatar_url_image.py
accounts/migrations/__pycache__/
accounts/static/
swdice/__pycache__/
swdice/migrations/0013_auto_20181210_1539.py
swdice/migrations/0014_auto_20190123_1022.py
swdice/migrations/0015_swroomchat_recipient_avatar.py
swdice/migrations/0016_swdicepool_secret_roll.py
swdice/migrations/__pycache__/
swdice/static/
vanlevy/__pycache__/
vanlevy/migrations/__pycache__/
vanlevy/static/vanlevy/
vanlevysite/__pycache__/
vanlevysite/media/avatar_image/QiuYuen_ZGY3eEk.jpg
vanlevysite/media/avatar_image/QiuYuen_sy35q8W.jpg
vanlevysite/media/avatar_image/tamoq_gVLqV0b.jpg
vanlevysite/settings/__pycache__/
vanlevysite/settings/alpha.py
vanlevysite/static/
