{% extends 'gen_base.html' %}

{% block head %}
    <meta charset="UTF-8">
    <title>About Gen Dice Roller</title>
{% endblock %}

{% block subtitle %} About{% endblock %}

{% block body %}
{% block other_navbar_right %}
{% endblock %}
{% load static %}
<div class="container">
    <p></p>
    <div class="row no-gutters">
        <div class="col-lg-2 col-md-3 col-sm-4"></div>
        <div class="col-lg-10 col-md-9 col-sm-8">
            <div class="container"><p></p><h4>Using the Dice Roller</h4></div>
        </div>
    </div>
    <div class="row no-gutters"  style="min-height: 280px;">
        <div class="col-lg-2 col-md-3 col-sm-4">
          <div class="btn-group-vertical align-right" style="width: 100%;">
            <button class="btn btn-outline-dark" type="button" data-toggle="collapse"
                    data-target="#JoiningRoom" aria-expanded="false" aria-controls="JoiningRoom">
                Joining a Room
            </button>
            <button class="btn btn-outline-dark" type="button" data-toggle="collapse"
                    data-target="#MakingRoom" aria-expanded="false" aria-controls="MakingRoom">
                Making a Room
            </button>
            <button class="btn btn-outline-dark" type="button" data-toggle="collapse"
                    data-target="#RoomInfo" aria-expanded="false" aria-controls="RoomInfo">
                Getting Room Info
            </button>
            <button class="btn btn-outline-dark" type="button" data-toggle="collapse"
                    data-target="#GMControls" aria-expanded="false" aria-controls="GMControls">
                GM Controls
            </button>
          </div>
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8">
            <div class="container-fluid" id="DiceRoller">
              <div class="collapse show" id="JoiningRoom" data-parent="#DiceRoller">
                <div class="card border-dark mb-3" style="max-width: 100%;">
                  <div class="card-header bg-dark text-white ">
                    <h5>Joining a Room</h5>
                  </div>
                  <div class="card card-body">
                    <p class="card-text">
                      There are two ways to join a room: Use a Direct Link or the Room ID and Passcode.
                    </p>
                    <ul style="margin-left: -20px;">
                        <li>
                            If you have a Direct Link, paste it into your browser.
                        </li>
                        <li>
                            If you know the Room ID and Passcode, you can enter them (and choose your Avatar) while in
                            the <a href="{% url 'gendice:confluence' %}">Confluence</a>.
                        </li>
                    </ul>
                    <p class="card-text">
                      Once inside a room, a player can change their Avatar by using the Switch Avatar button.
                    </p>
                  </div>
                </div>
              </div>
              <div class="collapse" id="MakingRoom" data-parent="#DiceRoller">
                <div class="card border-dark mb-3" style="max-width: 100%;">
                  <div class="card-header bg-dark text-white ">
                    <h5>Making a Room</h5>
                  </div>
                  <div class="card card-body">
                    <p class="card-text">
                      To make a new room, you must be in the <a href="{% url 'gendice:confluence' %}">Confluence</a>,
                        and then click on the button (bottom right) to make a new room.
                        You will be asked to give the room a Name and choose to have the room Open or Closed.
                    </p>
                    <ul style="margin-left: -20px;">
                        <li>Open Rooms can be joined by anyone who knows (or guesses) the Room ID.</li>
                        <li>
                            Closed Rooms require a Passcode to enter; when you create a Closed room, you will be
                            prompted for a Passcode.
                        </li>
                        <li>
                            If you send the Direct Link to your players, it will have the Passcode embedded.
                        </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="collapse" id="RoomInfo" data-parent="#DiceRoller">
                <div class="card border-dark mb-3" style="max-width: 100%;">
                  <div class="card-header bg-dark text-white ">
                    <h5>Getting Room Info</h5>
                  </div>
                  <div class="card card-body">
                    <p class="card-text">
                      There are two places you can go to find Room Info.
                    </p>
                    <ul style="margin-left: -20px;">
                        <li>
                            Inside each Dice Room is an info link (
                            <span style="background: #252525"><img src="{% static '/swdice/RoomInfoSmall_32.png' %}"
                                                                    alt="Room Info" height="20" width="20" style="margin-bottom: 3px"></span>
                            ) found on the top right of the page (next to the Profile Drop-down).
                            Both Players and GMs can use this link, but GMs have access to more information.
                        </li>
                        <li>
                            (GMs only) Once you're on the Hub Page, look for a plus button (
                            <button type="button" style="padding: 0;">
                                <img src="{% static '/vanlevy/plus_clear_40.png' %}" alt="info" width="16" height="16">
                            </button>
                            ) for your room;
                            clicking that reveals info that only GM's can see.
                        </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="collapse" id="GMControls" data-parent="#DiceRoller">
                <div class="card border-dark mb-3" style="max-width: 100%;">
                  <div class="card-header bg-dark text-white ">
                    <h5>GM Controls</h5>
                  </div>
                  <div class="card card-body">
                    <p class="card-text">
                      GMs have additional privileges in their rooms.  (The user who creates a room is GM by default.)
                      GMs can...
                    </p>
                    <ul style="margin-left: -20px;">
                        <li>See more information about the room (including Direct Links, Passcode, etc.)</li>
                        <li>Ban/Unban players; GMs can also make a player the GM for that room.</li>
                        <li>
                            Archive a room.  Archived Rooms are hidden (but still accessible) on the
                            <a href="{% url 'gendice:confluence' %}">Confluence</a>;
                            they also have Dice and Chat turned off.
                        </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-lg-2 col-md-3 col-sm-4"></div>
        <div class="col-lg-10 col-md-9 col-sm-8">
            <div class="container"><p></p><h4>Dice Mechanics</h4></div>
        </div>
    </div>
    <div class="row no-gutters" style="min-height: 320px;">
        <div class="col-lg-2 col-md-3 col-sm-4">
          <div class="btn-group-vertical align-right" style="width: 100%;">
            <button class="btn btn-outline-primary" type="button" data-toggle="collapse"
                    data-target="#DiceTypes" aria-expanded="false" aria-controls="DiceTypes">
                Dice Types
            </button>
            <button class="btn btn-outline-primary" type="button" data-toggle="collapse"
                    data-target="#Success" aria-expanded="false" aria-controls="Success">
                Basic Results
            </button>
            <button class="btn btn-outline-primary" type="button" data-toggle="collapse"
                    data-target="#Triumph" aria-expanded="false" aria-controls="Triumph">
                Triumph & Despair
            </button>
            <button class="btn btn-outline-primary" type="button" data-toggle="collapse"
                    data-target="#Numerical" aria-expanded="false" aria-controls="Numerical">
                Numerical Dice
            </button>
          </div>
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8">
            <div class="container-fluid" id="DiceMechanics">
              <div class="collapse show" id="DiceTypes" data-parent="#DiceMechanics">
                <div class="card border-dark mb-3" style="max-width: 100%;">
                  <div class="card-header bg-primary text-white ">
                    <h5>Dice Types</h5>
                  </div>
                  <div class="card card-body">
                    <p class="card-text">
                      The Genesys Dice Roller uses seven different dice.
                    </p>
                    <div class="row">
                        <div class="col">
                            <ul style="list-style-type:none;">
                                <li><img src="{% static 'gendice/Dice/gen_boost.png' %}" width="32" height="32">
                                    Boost</li>
                                <li><img src="{% static 'gendice/Dice/gen_ability.png' %}" width="32" height="32">
                                    Ability</li>
                                <li><img src="{% static 'gendice/Dice/gen_proficiency.png' %}" width="32" height="32">
                                    Proficiency</li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul style="list-style-type:none;">
                                <li><img src="{% static 'gendice/Dice/gen_setback.png' %}" width="32" height="32">
                                    Setback</li>
                                <li><img src="{% static 'gendice/Dice/gen_difficulty.png' %}" width="32" height="32">
                                    Difficulty</li>
                                <li><img src="{% static 'gendice/Dice/gen_challenge.png' %}" width="32" height="32">
                                    Challenge</li>
                                <li><img src="{% static 'gendice/Dice/gen_D100.png' %}"
                                         style="margin-left: -32px;" width="64" height="32">
                                    Numerical</li>
                            </ul>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="collapse" id="Success" data-parent="#DiceMechanics">
                <div class="card-group">
                <div class="card border-dark mb-3" style="max-width: 100%;">
                  <div class="card-header bg-primary text-white ">
                    <h5>Successes and Failures</h5>
                  </div>
                  <div class="card card-body">
                    <ul style="margin-left: -20px;">
                      <li>Success
                        <img src="{% static 'gendice/Results/Suc01.png' %}" width="20" height="20" title="Success">
                        and Failure
                        <img src="{% static 'gendice/Results/Fai01.png' %}" width="20" height="20" title="Failure">
                        pips cancel each other.
                      </li>
                      <li>In order to succeed in a roll, the results must have (at least) one more Success pip than Failures.</li>
                      <li>A roll with no uncancelled success pips is a failure. (E.g. a roll with two successes and two failures.)</li>
                    </ul>
                  </div>
                </div>
                <div class="card border-dark mb-3" style="max-width: 100%;">
                  <div class="card-header bg-primary text-white ">
                    <h5>Advantage and Threat</h5>
                  </div>
                  <div class="card card-body">
                    <ul style="margin-left: -20px;">
                      <li>
                        Advantage
                        <img src="{% static 'gendice/Results/Adv01.png' %}" width="20" height="20" title="Advantage">
                        and Threat
                        <img src="{% static 'gendice/Results/Thr01.png' %}" width="20" height="20" title="Threat">
                        pips cancel each other.
                      </li>
                      <li>
                        It is possible to succeed on a roll, but with threat, just as it is possible to fail with advantage.
                      </li>
                      <li>
                        See the Core Rulebooks for how these results play out narratively.
                      </li>
                    </ul>
                  </div>
                </div>
                </div>
              </div>
              <div class="collapse" id="Triumph" data-parent="#DiceMechanics">
                <div class="card border-dark mb-3" style="max-width: 100%;">
                  <div class="card-header bg-primary text-white ">
                    <h5>Triumph and Despair</h5>
                  </div>
                  <div class="card card-body">
                    <ul>
                      <li>
                        Triumph
                        <img src="{% static 'gendice/Results/Tri01.png' %}" width="20" height="20" title="Triumph">
                        and Despair
                        <img src="{% static 'gendice/Results/Des01.png' %}" width="20" height="20" title="Despair">
                        pips <strong>do not</strong> cancel each other.
                      </li>
                      <li>
                        The effects of a Triumph can be compared to a "critical hit" that you may have seen in another system.
                        Likewise, a Despair can be thought of as a "critical failure".
                      </li>
                      <li>
                        In addition to these effects, each Triumph "includes" a Success, and each Despair "includes" a failure.
                        These additional pips are accounted for by the dice roller.
                      </li>
                      <li>
                        It is possible to fail a roll with Triumph, or succeed with Despair.
                      </li>
                      <li>
                        See the Core Rulebooks for how these results play out narratively.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="collapse" id="Numerical" data-parent="#DiceMechanics">
                <div class="card border-dark mb-3" style="max-width: 100%;">
                  <div class="card-header bg-primary text-white ">
                    <h5>Numerical Dice</h5>
                  </div>
                  <div class="card card-body">
                    <ul>
                      <li>
                        In the Genesys Role Playing System, Numerical dice tend to only be used in the
                          determination of critical injuries to characters or vehicles.
                      </li>
                      <li>
                        By default, the Numerical Dice are set as d100.
                      </li>
                      <li>
                        You can change the number of sides by selecting the "100" and typing the desired value.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-lg-2 col-md-3 col-sm-4"></div>
        <div class="col-lg-10 col-md-9 col-sm-8">
            <div class="container"><h4>Resources</h4></div>
        </div>
    </div>
    <div class="row no-gutters" style="min-height: 240px;">
        <div class="col-lg-2 col-md-3 col-sm-4">
          <div class="btn-group-vertical align-right" style="width: 100%;">
            <button class="btn btn-outline-info" type="button" data-toggle="collapse"
                    data-target="#CoreRuleBooks" aria-expanded="false" aria-controls="CoreRuleBooks">
                Core Rulebooks
            </button>
            <button class="btn btn-outline-info" type="button" data-toggle="collapse"
                    data-target="#Supplements" aria-expanded="false" aria-controls="Supplements">
                Supplements
            </button>
            <button class="btn btn-outline-info" type="button" data-toggle="collapse"
                    data-target="#Additional" aria-expanded="false" aria-controls="Additional">
                Additional
            </button>
          </div>
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8">
            <div class="container-fluid" id="Resources">
              <div class="collapse show" id="CoreRuleBooks" data-parent="#Resources">
                <div class="card border-dark mb-3" style="max-width: 100%;">
                  <div class="card-header bg-info text-white ">
                    <h5>Core Rule Books (CRBs)</h5>
                  </div>
                  <div class="card card-body">
                    <ul>
                        <li><a href="https://www.fantasyflightgames.com/en/products/genesys/products/genesys-core-rulebook/">
                                Genesys Core Rulebook</a>
                             - Genesys isn't a realm so much as a set of mechanics to develop your own realm.
                        </li>
                        <li><a href="https://www.fantasyflightgames.com/en/products/genesys/products/realms-terrinoth/">
                                Realms of Terrinoth</a>
                             - This is the first "world-book" of Genesys.  Classic high-medieval fantasy.
                        </li>
                        <li><a href="https://www.fantasyflightgames.com/en/products/genesys/products/shadow-beanstalk/">
                            Shadow of the Beanstalk</a>
                            - Set in the Android universe, this "world-book" is set in a near-future Earth.
                        </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="collapse" id="Supplements" data-parent="#Resources">
                <div class="card border-info mb-3" style="max-width: 100%;">
                  <div class="card-header bg-info text-white ">
                    <h5>Supplements</h5>
                  </div>
                  <div class="card card-body">
                    <ul style="margin-left: -20px;">
                        <li><a href="https://www.fantasyflightgames.com/en/products/genesys/products/runners-mercs-and-criminals/">
                                Runners, Mercs, and Criminals</a>
                             - Adversary Deck for Shadow of the Beanstalk
                        </li>
                        <li><a href="https://www.fantasyflightgames.com/en/products/genesys/products/citizens-new-angeles/">
                                Citizens of New Angeles</a>
                             - Adversary Deck for Shadow of the Beanstalk
                        </li>
                        <li><a href="https://www.fantasyflightgames.com/en/products/genesys/products/androids-drones-and-synthetics-adversary-deck/">
                                Androids, Drones, and Synthetics</a>
                             - Adversary Deck for Shadow of the Beanstalk
                        </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="collapse" id="Additional" data-parent="#Resources">
                <div class="card border-info mb-3" style="max-width: 100%;">
                  <div class="card-header bg-info text-white ">
                    <h5>Additional</h5>
                  </div>
                  <div class="card card-body">
                    <ul style="margin-left: -20px;">
                        <li><a href="https://www.fantasyflightgames.com/en/products/genesys/products/denizens-terrinoth/">
                                Denizens of Terrinoth</a>
                             - Adversary Deck for Realms of Terrinoth
                        </li>
                        <li><a href="https://www.fantasyflightgames.com/en/products/genesys/products/foes-terrinoth/">
                            Foes of Terrintoh</a>
                            - Adversary Deck for Realms of Terrinoth
                        </li>
                        <li><a href="https://www.fantasyflightgames.com/en/products/genesys/products/genesys-dice-pack/">
                            Dice</a>
                            - You know how this is a virtual dice roller website?  Well, buying those dice will let you
                            roll <em>in real life!</em>  Crazy!
                        </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-lg-2 col-md-3 col-sm-4"></div>
        <div class="col-lg-10 col-md-9 col-sm-8">
            <div class="container"><p></p>
                <p style="font-size: 0.75em;">
                <strong>Disclaimer:</strong>
                <br>
                The Genesys Dice Roller is designed to be used in conjunction with
                <a href="https://www.fantasyflightgames.com/en/products/genesys/">Fantasy Flight Games'</a>
                Genesys Role Playing System. This website is not made with any input or coordination from Fantasy
                Flights, which still holds the copyright to all of their original content.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}