{% extends 'gen_base.html' %}

{% block head %}
  <meta charset="UTF-8">
  <title>Confluence</title>
{% endblock %}

{% block subtitle %} Confluence{% endblock %}

{% block body %}

{% block link_dice_gen %}
{% endblock %}
{% load static %}
<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <br>
      <h1>Hail,
        {% if user.userprofile.user_first_name %}
          {{user.userprofile.user_first_name}}!
        {% else %}
          {{user.username}}!
        {% endif %}
      </h1>
      <p>
        This is the <strong>Confluence</strong>.
        From here, you will be able to join and make rooms that use FFG's Genesys dice.
      </p>
    </div>
    <div class="col-lg-8">
      <br>
      <img src="{% static '/gendice/GenesysMashConfluence.png' %}" alt="Confluence Banner" style="width: 100%;">
      <p></p>
    </div>
  </div>
  {% if problem %}
    <div class="row">
      <div class="col-12">
        <h3 style="text-align:center; color:darkred">{{ problem }}<br>{{requested_url}}</h3>
      </div>
    </div>
  {% endif %}
  <div class="row">
    <div class="col-lg-8">
      <div class="card border-dark mb-3" style="max-width: 100%;">
        <div class="card-header">
          <h5 class="card-title">
            {% if my_rooms_list %}
              Rooms you've been in:
              {% if has_archived_rooms %}
                <button class="btn btn-outline-secondary btn-sm align-right" type="button" data-toggle="collapse"
                            data-target=".multi-collapse" aria-expanded="false" aria-controls="Regular Archived"
                            style="margin-right: 20px; display: inline;" id="archivedButton" onclick="switchButton()">
                  Show Archived Rooms
                </button>
                <button class="btn btn-outline-info btn-sm align-right" type="button" data-toggle="collapse"
                            data-target=".multi-collapse" aria-expanded="false" aria-controls="Regular Archived"
                            style="margin-right: 20px; display: none;" id="regularButton" onclick="switchButtonBack()">
                    Show Regular Rooms
                </button>
              {% endif %}
            {% else %}
              You have not yet entered a room.
            {% endif %}
          </h5>
        </div>
        <div class="card-body text-dark">
          <div class="collapse multi-collapse show" id="Regular">
            {% if number_of_rooms > 0 %}
              <table class="star_wars_table" style="width: 100%;">
                <col style="width: 60%;">
                <col style="width: 20%;">
                <col style="width: 20%;">
                <tr>
                  <td><strong>Name (Link)</strong></td>
                  <td><strong>Avatar</strong></td>
                  <td><strong>GM</strong></td>
                </tr>
                {% for room in my_rooms_list %}
                  {% if not room.disabled %}
                    <tr style="border-top: 1px solid #ddd;">
                      <td class="room_name_table">
                        <div>
                          <a href="{% url 'gendice:genroom' room.id %}">{{ room.name }}</a>
                        </div>
                      </td>
                      <td>
                        {{ my_avatars_list|get_item:room.id }}
                      </td>
                      <td>
                        {{ gms_list|get_item:room.id }}
                        {% if gms_list|get_item:room.id == 'you' %}
                          <button class="align-right" type="button" style="padding: 0; display: inline;"
                                  data-toggle="collapse" data-target=".multi-collapse{{room.id}}"
                                  aria-expanded="false"
                                  aria-controls="row1_room_{{room.id}} row2_room_{{room.id}}"
                                  id="plusButton_{{room.id}}" onclick="switchToMinus({{room.id}})">
                            <img src="{% static '/vanlevy/images/plus_clear_40.png' %}"
                                 alt="info" width="16" height="16">
                          </button>
                          <button class="align-right" type="button" style="padding: 0; display: none;"
                                  data-toggle="collapse" data-target=".multi-collapse{{room.id}}"
                                  aria-expanded="false"
                                  aria-controls="row1_room_{{room.id}} row2_room_{{room.id}}"
                                  id="minusButton_{{room.id}}" onclick="switchToPlus({{room.id}})">
                            <img src="{% static '/vanlevy/images/minus_clear_40.png' %}"
                                 alt="info" width="16" height="16">
                          </button>
                        {% endif %}
                      </td>
                    </tr>
                    {% if gms_list|get_item:room.id == 'you' %}
                      <tr class="collapse multi-collapse{{room.id}}" id="row1_room_{{room.id}}">
                        <td style="padding-left: 20px;">
                          <strong>ID:</strong>
                          {{ room.id }}
                          <span style="padding-left: 20px"><strong>Passcode:</strong>
                            {% if room.open_to_all %}open to all{%else%}<em>{{room.passcode}}</em>{%endif%}
                          </span>
                        </td>
                        <td colspan="2">
                          <strong>Copy direct link:</strong>
                          <div style="display: none;" id="link_{{room.id}}">www.vanlevy.com{% url 'gendice:genroom' room.id %}direct/{% if room.open_to_all %}open{% else %}{{ room.passcode}}{% endif %}</div>
                          <button type="button" style="padding: 0;margin-left: 10px;"
                                  onclick="copyURL(link_{{room.id}})">
                            <img src="{% static '/vanlevy/images/copy_button_40_clear.png' %}" alt="info" width="20" height="20">
                          </button>
                        </td>
                      </tr>
                      <tr class="collapse multi-collapse{{room.id}}" id="row2_room_{{room.id}}"
                          style="border-bottom: 1px solid #888;">
                        <td style="padding-left: 20px;">
                          Created: {{ room.created_on }}
                        </td>
                        <td>
                          {{ player_numbers_list|get_item:room.id }} players
                        </td>
                        <td>
                          <strong>Info Page: </strong>
                          <a href="{% url 'gendice:genroom_info' room.id %}">
                            <img src="{% static '/vanlevy/images/info_32.png' %}" alt="info" width="20" height="20">
                          </a>
                        </td>
                      </tr>
                    {% endif %}
                  {% endif %}
                {% endfor %}
              </table>
            {% else %}
              {% if has_archived_rooms %}
                All of your Genesys rooms have been archived.
              {% else %}
                Once you've been in a room, this will be a list of direct links to get back in.
              {% endif %}
            {% endif %}
          </div>
          <div class="collapse multi-collapse" id="Archived">
            <table class="star_wars_table" style="width: 100%;">
              <col style="width: 60%;">
              <col style="width: 20%;">
              <col style="width: 20%;">
              <tr>
                <td><strong>Name (Link)</strong></td>
                <td><strong>Avatar</strong></td>
                <td><strong>GM</strong></td>
              </tr>
              {% for room in my_rooms_list %}
                {% if room.disabled %}
                  <tr style="border-top: 1px solid #ddd;">
                    <td class="room_name_table">
                      <div>
                          <a href="{% url 'gendice:genroom' room.id %}">{{ room.name }}</a>
                      </div>
                    </td>
                    <td>
                      {{ my_avatars_list|get_item:room.id }}
                    </td>
                    <td>
                      {{ gms_list|get_item:room.id }}
                      {% if gms_list|get_item:room.id == 'you' %}
                        <button class="align-right" type="button" style="padding: 0;"
                                data-toggle="collapse"
                                data-target=".multi-collapse{{room.id}}"
                                aria-expanded="false"
                                aria-controls="row1_room_{{room.id}} row2_room_{{room.id}}">
                          <img src="{% static '/vanlevy/images/plus_clear_40.png' %}"
                               alt="info" width="16" height="16">
                        </button>
                      {% endif %}
                    </td>
                  </tr>
                  {% if gms_list|get_item:room.id == 'you' %}
                    <tr class="collapse multi-collapse{{room.id}}" id="row1_room_{{room.id}}">
                      <td style="padding-left: 20px;">
                        <strong>ID:</strong>
                        {{ room.id }}
                        <span style="padding-left: 20px"><strong>Passcode:</strong>
                          {% if room.open_to_all %}open to all{%else%}<em>{{room.passcode}}</em>{%endif%}
                        </span>
                      </td>
                      <td colspan="2">
                        <strong>Copy direct link:</strong>
                        <div style="display: none;" id="link_{{room.id}}">www.vanlevy.com{% url 'gendice:genroom' room.id %}direct/{% if room.open_to_all %}open{% else %}{{ room.passcode}}{% endif %}</div>
                        <button type="button" style="padding: 0;margin-left: 10px;"
                                onclick="copyURL(link_{{room.id}})">
                          <img src="{% static '/vanlevy/images/copy_button_40_clear.png' %}" alt="info" width="20" height="20">
                        </button>
                      </td>
                    </tr>
                    <tr class="collapse multi-collapse{{room.id}}" id="row2_room_{{room.id}}"
                        style="border-bottom: 1px solid #888;">
                      <td style="padding-left: 20px;">
                        Created: {{ room.created_on }}
                      </td>
                      <td>
                        {{ player_numbers_list|get_item:room.id }} players
                      </td>
                      <td>
                        <strong>Info Page: </strong>
                        <a href="{% url 'gendice:genroom_info' room.id %}">
                          <img src="{% static '/vanlevy/images/info_32.png' %}" alt="info" width="20" height="20">
                        </a>
                      </td>
                    </tr>
                  {% endif %}
                {% endif %}
              {% endfor %}
          </table>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="card border-dark mb-3" style="max-width: 100%;">
        <div class="card-header">
          <h5 class="card-title">Make a new room</h5>
        </div>
        <div class="card-body text-dark">
          <div class="row">
            <div class="col-9">
              <p class="card-text">
                Create a new Genesys Dice Room where you are the GM.
              </p>
            </div>
            <div class="col-3">
              <a href="{% url 'gendice:make_genroom' %}" role="button"
                 class="btn btn-primary align-right">
                  <strong>&#12299;</strong>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-12">
      <div class="card border-dark mb-3" style="max-width: 100%;">
        <div class="card-header">
          <h5 class="card-title">Enter another player's room with
            <span id="enterHeader">ID & Passcode</span>
            <button class="btn btn-outline-primary btn-sm align-right" id="UseDirect" data-toggle="collapse"
                    data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"
                    style="display: inline;" onclick="switchToDirect()">
              Use Direct Link
            </button>
            <button class="btn btn-outline-primary btn-sm align-right" id="UsePasscode" data-toggle="collapse"
                    data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne"
                    style="display: none;" onclick="switchToPasscode()">
              Use Passcode
            </button>
          </h5>
        </div>
        <div id="accordion">
          <div id="collapseOne" class="collapse" data-parent="#accordion">
            <div class="card-body text-dark">
              <form method="post"  autocomplete="off">
              {% csrf_token %}
                <div class="row">
                  <div class="col-lg-6 col-md-7 col-sm-12 col-xs-12">
                    <strong>Direct Link:</strong><br>
                    {{form_direct.direct}} <br>
                    <strong>{{ form_direct.direct.errors }}</strong><br>
                  </div>
                  <div class="col-lg-4 col-md-5 col-sm-9 col-xs-6">
                    <strong>Avatar:</strong><br>
                      {{form.default_avatar}} <br>
                      Select your avatar.<br>
                      <strong>{{ form.default_avatar.errors }}</strong>
                  </div>
                  <div class="col-lg-2 col-md-3 col-sm-3 col-xs-4 offset-xs-0 offset-sm-0 offset-md-9 offset-lg-0">
                    <br>
                    <button type="submit" class="btn btn-primary align-right" id="direct-button">
                      Enter Room <strong>&#12299;</strong>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div id="collapseTwo" class="collapse show" data-parent="#accordion">
            <div class="card-body text-dark">
              <form method="post"  autocomplete="off">
              {% csrf_token %}
                <div class="row">
                  <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12">
                    <strong>Room ID:</strong><br>
                    {{form.room_number}} <br>
                    <strong>{{ form.room_number.errors }}</strong><br>
                  </div>
                  <div class="col-lg-4 col-md-5 col-sm-8 col-xs-12">
                    <strong>Passcode:</strong><br>
                    {{form.passcode}} <br>
                    <strong>{{ form.passcode.errors }}</strong>
                  </div>
                  <div class="col-lg-4 col-md-5 col-sm-9 col-xs-12">
                    <strong>Avatar:</strong><br>
                    {{form.default_avatar}} <br>
                    <strong>{{ form.default_avatar.errors }}</strong>
                  </div>
                  <div class="col-lg-2 col-md-4 col-sm-3 col-xs-12 offset-lg-0 offset-md-8">
                    <br>
                    <button type="submit" class="btn btn-primary align-right" id="passcode-button">
                      Enter Room <strong>&#12299;</strong>
                    </button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% block page_scripts %}
<script>
function copyTextToClipboard(text) {
  var textArea = document.createElement("textarea");

  // Place in top-left corner of screen regardless of scroll position.
  textArea.style.position = 'fixed';
  textArea.style.top = 0;
  textArea.style.left = 0;

  // Ensure it has a small width & height. Setting to 1px / 1em doesn't work as this gives a negative w/h on some browsers.
  textArea.style.width = '2em';
  textArea.style.height = '2em';

  // We don't need padding, reducing the size if it does flash render.
  textArea.style.padding = 0;

  // Clean up any borders.
  textArea.style.border = 'none';
  textArea.style.outline = 'none';
  textArea.style.boxShadow = 'none';

  // Avoid flash of white box if rendered for any reason.
  textArea.style.background = 'transparent';

  textArea.value = text;

  document.body.appendChild(textArea);
  textArea.focus();
  textArea.select();

  try {
    var successful = document.execCommand('copy');
    var msg = successful ? 'successful' : 'unsuccessful';
    console.log('Copying text command was ' + msg);
  } catch (err) {
    console.log('Oops, unable to copy');
  }

  document.body.removeChild(textArea);
}

function copyURL(element){
    console.log(element.innerText);
    var copyText = element.innerText;
    copyTextToClipboard(copyText)
    var msg = (copyText).concat(" copied to clipboard.")
    alert(msg);
}

function switchButton() {
    document.getElementById('archivedButton').style.display='none';
    document.getElementById('regularButton').style.display='inline';
}
function switchButtonBack() {
    document.getElementById('archivedButton').style.display='inline';
    document.getElementById('regularButton').style.display='none';
}
function switchToDirect() {
    document.getElementById('UseDirect').style.display='none';
    document.getElementById('UsePasscode').style.display='inline';
    document.getElementById('enterHeader').innerText="Direct Link";
}
function switchToPasscode() {
    document.getElementById('UseDirect').style.display='inline';
    document.getElementById('UsePasscode').style.display='none';
    document.getElementById('enterHeader').innerText="ID & Passcode";
}
function switchToMinus(room_id) {
    var minus_name = 'minusButton_' + room_id.toString();
    var plus_name  = 'plusButton_' + room_id.toString();
    console.log(minus_name);
    document.getElementById(minus_name).style.display='inline';
    document.getElementById(plus_name).style.display='none';
}
function switchToPlus(room_id) {
    var minus_name = 'minusButton_' + room_id.toString();
    var plus_name  = 'plusButton_' + room_id.toString();
    document.getElementById(plus_name).style.display='inline';
    document.getElementById(minus_name).style.display='none';
}
</script>
{% endblock %}

{% endblock %}  <!-- body -->
