{% extends 'sw_base.html' %}

{% block head %}
  <meta charset="UTF-8">
  <title>404</title>
{% endblock %}

{% block subtitle %} Uh Oh!{% endblock %}

{% block body %}

<div class="container">
  <br>
  <h1>Something went horribly wrong.</h1>
  <h5>
    <em>Uh, we had a slight weapons malfunction, but uh...everything's perfectly all right now.
    We're fine. We're all fine here now, thank you. How are you?</em>
  </h5>
  <p><br></p>
  <p>
    So, ahh, yeah.  We have no idea what just happened.  I mean, we know something went wrong, but we don't know
    just how badly.  It was probably really bad.  Like, about to send the Earth plummeting into the fiery depths of
    the Sun, or perhaps the cold, frozen depths of outer space.  But we stopped that, so it's all cool.  Except
    that you're still not where you want to be.
  </p>
  <p>
    So, uh, I dunno.  Maybe try one of the links in the Navbar up top?
  </p>
</div>
{% endblock %}