{% extends 'base.html' %}

{% block navbar_characteristics %}
    <nav class="navbar navbar-expand-sm navbar-dark" style="background-color: #252525">
{% endblock %}

{% block brand %}
  {% load static %}
  <h4>
    <a class="navbar-brand" href="{% url 'vanlevy:home' %}">
        <img src="{% static '/vanlevy/images/IconReverse_32.png' %}" alt="Van Levy Icon" height="32" width="32">
      Van Levy
    </a>
    <a class="navbar-brand" style="color:white;">
        <img src="{% static '/vanlevy/images/droid_background_32.png' %}" alt="SW Dice Roller" height="32" width="32">
      {% block subtitle %}{% endblock %}
    </a>
  </h4>
{% endblock %}

{% block other_navbar_right %}
  <a class="navbar-brand" href="{% url 'swdice:about' %}">
    <img src="{% static '/swdice/RoomInfoSmall_32.png' %}" alt="SW Dice Roller" height="32" width="32">
    {% block info_label %}
      <span style="font-size: 0.67em; color: white;">
        About
      </span>
    {% endblock %}
  </a>
{% endblock %}

{% block navbar_end %}
</nav>
{% endblock %}