{% extends 'vl_base.html' %}

{% block head %}
    <meta charset="UTF-8">
    <title>VanLevy Resources</title>
{% endblock %}

{% block body %}
    <div class="container">
        <br>
        <h3>Dice Rollers</h3>
        <p>
            We've made dice roller apps for the following games:
        </p>
        <ul>
            <li>Fantasy Flight Games Star Wars (Edge of the Empire)</li>
            <li><span style="text-decoration: line-through;">Fantasy Flight Games Genesys</span>
                <em>(coming soon)</em></li>
            <li><span style="text-decoration: line-through;">Mutant Year Zero</span>
                <em>(coming soon)</em></li>
        </ul>

    </div>
{% endblock %}