{% extends 'vl_base.html' %}

{% block head %}
    <meta charset="UTF-8">
    <title>VanLevy Website</title>
{% endblock %}

{% block vanlevy %} <!-- this is the link in the navbar. -->
{% endblock %}

{% block body %}

<div class="container">
    <br>
    <h3>Welcome {% if user.is_authenticated %}back {% endif %}to Van Levy.com,
        {% if user.is_authenticated %}
            {% if user.userprofile.user_first_name %}
            {{user.userprofile.user_first_name}}.
            {% else %}
            {{user.username}}.
            {% endif %}
        {% else %}
            stranger.
        {% endif %}
    </h3>

    <p></p>
    <h5>
        Speeding up your RPG time wasting.
    </h5>
    <p><br></p>
    <p>You are {% if user.is_authenticated %}currently {% else %}not {% endif %}
        logged in{% if user.is_authenticated %} as <strong>{{user.username}}</strong>.{% else %}.{% endif %}
        To {% if user.is_authenticated %}
        manage your account or go directly to a Dice Roller,
        {% else %}
        login or register,
        {% endif %}
        click on "Navigate".
    </p>
    <p><br></p>
    <p>
        We're here to help you spend less time getting set up to waste time playing games!
    </p>


</div>

{% endblock %}