{% extends 'vl_base.html' %}

{% block head %}
    <meta charset="UTF-8">
    <title>VanLevy Resources</title>
{% endblock %}

{% block body %}
    <div class="container">
        <br>
        <h1>Our Resources</h1>
        <p>
            Thare the resources that we have created that we want to share with the world.  Enjoy!
        </p>
        <table>
            <tr>
                <th>
                    Link
                </th>
                <th>
                    Category
                </th>
                <th>
                    Description
                </th>
            </tr>
            <tr>
                <td>
                    <a href="https://goo.gl/P2GwTw">Kobolds Ate My Baby Char Gen</a>
                </td>
                <td>
                    Character generator - Kobolds Ate My Baby (in color!)
                </td>
                <td>
                    This is a link to a view-only Google Spreadsheet.  In order to use it, you will have to  <br>
                    <ol>
                        <li>Make your own copy.</li>
                        <li>Click the big button.</li>
                        <li>Wait; Google will realize there is a script, then realize the script doesn't have
                            permission to run.</li>
                        <li>When Google pops up the big scary warning, go to the "advanced" link.</li>
                        <li>Authorize the "Unsafe Script".</li>
                    </ol>
                </td>
            </tr>
            <tr>
                <td>
                    <a href="https://goo.gl/cjGKUu">Aeon Trinity Char Gen</a>
                </td>
                <td>
                    Character Generator - Aeon Trinity
                </td>
                <td>
                    Link to a view-only Google Spreadsheet.  Make your self a copy.
                </td>
            </tr>
        </table>

    </div>
{% endblock %}