{% extends 'vl_base.html' %}

{% block head %}
    <meta charset="UTF-8">
    <title>VanLevy Cool Stuff</title>
{% endblock %}

{% block body %}
    <div class="container">
        <h4>Terms and Conditions</h4>
        <div class="row">
            <div class="col-md-6">
                <h5>Party of the First Party</h5>
                <p>It was quite a party</p>
                <p style="text-align: justify; text-justify: inter-word;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eleifend dui auctor nunc eleifend
                    feugiat. Suspendisse in ligula ac ipsum aliquam blandit eget in leo. Integer lacinia vel sem eu
                    ullamcorper. Integer ac mattis mi. Pellentesque sollicitudin dignissim eros vel vulputate. Duis
                    dapibus neque at justo feugiat, ac aliquet urna vestibulum. In vestibulum, metus sit amet sagittis
                    lobortis, eros ligula imperdiet ante, in tempus ligula diam vitae nisi.
                </p>
                <p style="text-align: justify; text-justify: inter-word;">
                    Curabitur malesuada accumsan mauris, at ullamcorper odio pellentesque id. Morbi dignissim pharetra
                    felis et efficitur. Nulla tempus, elit ut pharetra finibus, augue leo porttitor tortor, et semper
                    massa lorem vitae quam. Aenean vestibulum lacus quis sapien posuere finibus ac vel diam. Nullam
                    maximus sem turpis, quis tristique sem euismod ut. Suspendisse purus dolor, mattis ac elit vel,
                    pharetra efficitur mi. Praesent non lacus suscipit, venenatis urna non, aliquet tortor. Morbi mi
                    tellus, fermentum a fermentum vel, venenatis sit amet massa. Vivamus sit amet luctus lectus. Aenean
                    nec justo lorem. Aenean viverra urna at malesuada tempus. Phasellus porta, risus vitae mollis
                    lacinia, mauris ligula rutrum velit, sed vulputate eros turpis sed est. Phasellus condimentum odio
                    lobortis ipsum dictum, non tempor tellus pharetra. Fusce nec ante ut diam mollis laoreet nec ac
                    ipsum. Integer venenatis quis orci id placerat.
                </p>
                <p style="text-align: justify; text-justify: inter-word;">
                    Donec tellus ligula, consequat nec lacus sit amet, porta fermentum nibh. Integer nisi risus,
                    gravida sed lacinia viverra, convallis at nisl. Etiam id sapien consequat, tempus ipsum vel,
                    sollicitudin dui. Proin aliquet mattis dapibus. Sed suscipit, massa mattis finibus vestibulum,
                    quam purus consequat nisl, at cursus est nunc eu nisl. Vestibulum ullamcorper turpis ac posuere
                    dignissim. Ut posuere congue dui ut convallis. Integer nisl urna, mattis in leo vitae, egestas
                    condimentum arcu. Pellentesque sollicitudin enim nec nisi condimentum lacinia. Suspendisse justo
                    metus, varius at mi a, pulvinar congue velit. In sit amet quam id felis dictum porta. Donec gravida,
                    tellus a placerat ullamcorper, neque lacus volutpat tortor, ornare fringilla purus massa nec urna.
                    Nulla luctus ante vel leo aliquet auctor.
                </p>
            </div>
            <div class="col-md-6">
                <h5>Sic transit gloria</h5>
                <p>I hope she feels better.</p>
                <p style="text-align: justify; text-justify: inter-word;">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac eleifend mauris. Proin ultrices
                    aliquet pellentesque. Vivamus condimentum ullamcorper mollis. Sed egestas sem at mollis aliquam.
                    Quisque dapibus nisl nec ipsum consectetur aliquam. Aliquam vel justo sit amet mi porta mattis.
                    Quisque sed neque consequat, ultrices velit nec, dictum ligula. Pellentesque ullamcorper turpis id
                    consectetur pretium. Curabitur id placerat eros. Fusce posuere libero in elit placerat facilisis.
                    Vestibulum mollis enim in leo tristique condimentum. Vivamus lacinia, augue et euismod feugiat,
                    elit est egestas libero, et consectetur felis ipsum id arcu. Aliquam consectetur, ante eu luctus
                    fermentum, quam massa accumsan nunc, non suscipit ligula metus sed erat.
                </p>
                <p style="text-align: justify; text-justify: inter-word;">
                    Mauris sed dui non velit semper consectetur eu in enim. Sed interdum id velit finibus consequat.
                    Nullam malesuada lacus at augue iaculis, ut placerat turpis pretium. Integer iaculis malesuada
                    justo vel molestie. Pellentesque feugiat ac risus ut accumsan. Phasellus ac sollicitudin lectus.
                    Phasellus lacinia lacus non odio tristique, vitae hendrerit orci mollis. Quisque enim lectus,
                    viverra quis ultricies eget, interdum non erat. Vestibulum sed purus odio. Curabitur tincidunt
                    cursus ligula at condimentum. Cras pretium at turpis vel facilisis. Cras laoreet semper eros vel
                    tristique. Sed non gravida tortor. Sed ut ultrices quam. Suspendisse dui quam, vehicula at arcu a,
                    varius lacinia odio.
                </p>
            </div>
        </div>
    </div>
{% endblock %}