{% extends 'accounts_base.html' %}

{% block head %}
    <meta charset="UTF-8">
    <title>About Accounts</title>
{% endblock %}


{% block body %}
<br>
<div class="container">
    <p></p>
    <h2>Van Levy Accounts</h2>
    <p>
        This part of the website is dedicated to creating and maintaining your account.
    </p>
    <br>
        {% if user.is_authenticated %}
        <h4>You are logged in as {{user.first_name}}.</h4>
            <br>
            Would you like to:
            <ul>
                <li><a href="{% url 'accounts:view_profile' %}">View or edit your profile</a></li>
                <li><a href="{% url 'accounts:password' %}">Change your password</a></li>
                <li><a href="{% url 'accounts:logout' %}">Logout</a></li>
            </ul>
        {% else %}
        <h4>You are not logged in.</h4>
            <br>
            Would you like to:
            <ul>
                <li><a href="{% url 'accounts:login' %}">Login</a></li>
                <li><a href="{% url 'accounts:password_reset' %}">Reset your password</a></li>
                <li><a href="{% url 'accounts:register' %}">Create a new account</a></li>
            </ul>
        {% endif %}
</div>
{% endblock %}