{% extends 'accounts_base.html' %}

{% block head %}
    <meta charset="UTF-8">
    <title>Login</title>
{% endblock %}


{% block link_account %}
    {% if user.is_authenticated %}
    {% else %}
        <a class="dropdown-item" href="{% url 'accounts:password_reset' %}">Reset Password</a>
    {% endif %}
{% endblock %}



{% block body %}
    <div class="container">
        <br>
        {% if user.is_authenticated %}
        <h2>You are logged in as {{user.first_name}}.</h2>
        <br>
        <p><a href="{% url 'accounts:logout' %}">Logout</a>?</p>
        {% else %}
        {% block required_warning %}
        {% endblock %}
        <div class="container-fluid">
            <div class="row">
                <div class="col">
                    <h1>Login</h1>
                    <p>
                        If you already have an account, please login here:
                    </p>
                    <form method="post">
                       {% csrf_token %}
                        {{ form.as_p }}
                       <button type="submit" class="btn btn-outline-primary">Login</button>
                    </form>
                </div>
                <div class="col">
                    <p><br></p>
                    <h3>Register</h3>
                    <p>
                        If you do not have an account, please click below to create a new account.
                    </p>
                    <a href="{% url 'accounts:register' %}">
                        <button type="button" class="btn btn-outline-dark">Register</button>
                    </a>

                    <p><br></p>
                    <h4>Reset Password</h4>
                    <p>
                        Accounts are tied to your email address.  If you have an account, but cannot remember your
                        password, please click below to start the to reset process.
                    </p>
                    <a href="{% url 'accounts:password_reset' %}">
                        <button type="button" class="btn btn-outline-secondary">Reset Password</button>
                    </a>
                </div>
            </div>
            <div class="row">

            </div>
        </div>
        {% endif %}
    </div>
{% endblock %}