{% extends 'accounts_base.html' %}

{% block head %}
  <meta charset="UTF-8">
  <title>Password Reset Done</title>
{% endblock %}


{% block navbar_ResetPassword_button %}
{% endblock %}


{% block body %}
  <div class="container">
    <br>
    <h3>Password reset submitted</h3>
    <br>
    <p>
      You have successfully submitted a request to reset your password.  You should receive an email (from
      webmaster@vanlevy.com) with the appropriate link to complete the process.
    </p>
    <p>
      The email can take 5 minutes (or more) to show up in your inbox.
      If you don't receive your email within a few moments, please check your spam folder.
    </p>
    <p>
      If you still don't get an email from us, please white-list us and request another reset.
    </p>
  </div>
{% endblock %}