{% extends 'accounts_base.html' %}

{% block head %}
    <meta charset="UTF-8">
    <title>Profile</title>
{% endblock %}


{% block navbar_Rooms_button %}
{% endblock %}
{% block navbar_Register_button %}
{% endblock %}
{% block navbar_Login_button %}
{% endblock %}
<!-- include navbar_Profile_button -->
<!-- include navbar_Logout_button -->


{% block body %}
<br>
<div class="container">
    {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
</div>
<div class="container">
    <form method="post">
        {% csrf_token %}
        {{form.as_p }}
        <button type="submit">Submit Changes</button>
    </form>
</div>
{% endblock %}