{% extends "accounts_base.html" %}
{% load i18n static %}

{% block head %}
    <meta charset="UTF-8">
    <title>Enter New Password</title>
{% endblock %}


{% block body %}

    {% if validlink %}
        <div class="container">
            <br>
            {% if user.is_authenticated %}
                <h2>You are logged in as {{user.first_name}}.</h2>
                <br>
                <p><a href="{% url 'accounts:logout' %}">Logout</a>?</p>
            {% else %}
                <h3>Password reset</h3>
                <br>
                <p>
                    You are here because you have requested a new password.
                </p>
                <br>
                <h5>Please enter your below.</h5>
                <br>
                <p>
                    Please type in your new password twice.
                </p>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-outline-primary">Reset my password</button>
                </form>
            {% endif %}

        </div>
    {% else %}
        <div class="container">
            <br>
            <p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
        </div>
    {% endif %}

{% endblock %}

