{% extends 'accounts_base.html' %}

{% block head %}
  <meta charset="UTF-8">
  <title>Change Password</title>
{% endblock %}


{% block navbar_Rooms_button %}
{% endblock %}
{% block navbar_Register_button %}
{% endblock %}
{% block navbar_Login_button %}
{% endblock %}
<!-- include navbar_Profile_button -->
<!-- include navbar_Logout_button -->


{% block body %}
<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-3 col-sm-2 col-xs-12"></div>
    <div class="col-lg-4 col-md-6 col-sm-8 col-xs-12">
      {% if error_message %}
      <br>
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          <p><strong>{{ error_message }}</strong></p>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      {% endif %}
      <div class="container-fluid"
           style="text-align:center; border-radius: 5px; background-color: #f2f2f2; padding: 20px;
                  margin-top: 60px;">
        <form method="post" id="changePassword">
          {% csrf_token %}
          <table style="width: 100%;">
            <tr><td>
            <input type="password" name="old_password" id="old_password" placeholder="Your Old Password"
                   style="width: 100%; padding: 12px 20px; margin: 8px 0; text-align: center;
                          border: 1px solid #ccc; border-radius: 4px;"
                   autofocus="autofocus">
            </td></tr>
            <tr><td>
            <input type="password" name="new_password1" id="new_password1" placeholder="New Password"
                   style="width: 100%; padding: 12px 20px; margin: 8px 0; text-align: center;
                          border: 1px solid #ccc; border-radius: 4px;">
            </td></tr>
            <tr><td>
            <input type="password" name="new_password2" id="new_password2" placeholder="Retype New Password"
                   style="width: 100%; padding: 12px 20px; margin: 8px 0; text-align: center;
                          border: 1px solid #ccc; border-radius: 4px;">
            </td></tr>
            {% if form.errors %}
              {% for field in form %}
                {% for error in field.errors %}
                  <tr><td>
                    <div class="alert alert-warning" style="margin: 8px 0;">
                      <a class="close" href="#" data-dismiss="alert">×</a>
                      {{ error|escape }}
                    </div>
                  </td></tr>
                {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                <tr><td>
                  <div class="alert alert-warning" style="margin: 8px 0;">
                    <a class="close" href="#" data-dismiss="alert">×</a>
                    {{ error }}
                  </div>
                </td></tr>
              {% endfor %}
            {% endif %}
            <tr><td>
              <button type="submit" class="btn btn-primary btn-block" id="submitButton"
                      style="margin: 8px 0px 8px 0px; padding-bottom: 9px;">
                <span style="font-size: 1.25em;">Change Password</span>
              </button>
            </td></tr>
          </table>
        </form>
        </div>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-2 col-xs-12"></div>
  </div>
  <div class="row">
    <div class="col-lg-3 col-md-2 col-sm-1 col-xs-12"></div>
    <div class="col-lg-6 col-md-8 col-sm-10 col-xs-12">
      <div class="container-fluid" style="border-radius: 5px; background-color: #ffffff; padding: 20px;
                  margin-top: 30px;">
        <span style="font-size: 1.33em; width: 100%;">
          <strong>Password Requirements</strong>
        </span>
        <p></p>
          <ul>
            <li>Your password can't be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can't be entirely numeric.</li>
          </ul>
      </div>
    </div>
    <div class="col-lg-3 col-md-2 col-sm-1 col-xs-12"></div>
  </div>
</div>

<script>
var $myForm = $("#changePassword");
$myForm.submit(function(){
  $myForm.submit(function(){
    return false;
  });
});
</script>
{% endblock %}
