{% extends "base.html" %}
{% load i18n %}

{% block head %}
    <meta charset="UTF-8">
    <title>New Password Confirmed</title>
{% endblock %}

{% block body %}

<div class="container">
    <br>
    {% if user.is_authenticated %}
        <h2>You are logged in as {{user.first_name}}.</h2>
        <br>
        <p><a href="{% url 'accounts:logout' %}">Logout</a>?</p>
    {% else %}
        <h3>Password reset</h3>
        <br>
        <p>
            <h3>You have successfully changed your password.</h3>
        </p>
        <br>
        <p>
        You will need to <a href="{% url 'accounts:login' %}">login</a> with you username and new password</p>
        </p>
        <br>

    {% endif %}

</div>


{% endblock %}