{% extends 'accounts_base.html' %}

{% block head %}
    <meta charset="UTF-8">
    <title>Password Reset Done</title>
{% endblock %}


{% block navbar_ResetPassword_button %}
{% endblock %}


{% block body %}
    <div class="container">
        <br>
        <h3>Password reset submitted</h3>
        <br>
        <p>
            You have successfully submitted a request to reset your password.  You should receive an email with the
            appropriate link to complete the process.
        </p>
    </div>
{% endblock %}