{% extends 'accounts_base.html' %}

{% block head %}
  <meta charset="UTF-8">
  <title>Reset Password</title>
{% endblock %}

{% block body %}
{% block navbar_ResetPassword_button %}
{% endblock %}

  <div class="container">
    <br>
    {% if user.is_authenticated %}
      <h2>You are logged in as {{user.first_name}}.</h2>
      <br>
      <p><a href="{% url 'accounts:logout' %}">Logout</a>?</p>
    {% else %}
      <h3>Password reset</h3>
      <br>
      <p>
        Forgotten your password?  Enter your email address below, and we'll send you instructions for setting a new one.
      </p>
      <br>
      <h5>Please enter your email.</h5>
      <br>
      <form method="post" id="resetPassword">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-outline-danger">Reset my password</button>
      </form>
    {% endif %}
  </div>
{% endblock %}

{% block page_scripts %}
<script>
var $myForm = $("#resetPassword");
$myForm.submit(function(){
  $myForm.submit(function(){
    return false;
  });
});
</script>
{% endblock %}