{% extends 'accounts_base.html' %}

{% block head %}
  <meta charset="UTF-8">
  <title>Edit Avatar</title>

<style>
  /* xs */
  @media (max-width: 575px) { #form_table {margin-left: 0px;} }
  /* sm */
  @media (min-width: 576px) { #form_table {margin-left: 0px;} }
  /* md */
  @media (min-width: 768px) { #form_table {margin-left: 50px;} }
  /* lg */
  @media (min-width: 992px) { #form_table {margin-left: -30px;} }
  /* xl */
  @media (min-width: 1200px) {#form_table {margin-left: 15px;} }
</style>

{% endblock %}

{% block accounts_page %}
  {% load static %}
  <img src="{% static '/vanlevy/images/NewAvatar_32.png' %}" alt="New Avatar" height="32" width="32">
  <span style="color: white;">Edit Avatar</span>
{% endblock %}

{% block navbar_Rooms_button %}
{% endblock %}


{% block body %}
<br>
<div class="container">
  <div class="row no-gutters" style="margin-bottom: 20px;">
    <div class="col-lg-6">
      <div class="container-fluid" id="profile_cards" style="margin-left: -15px;">
        <div class="collapse multi-collapse show" id="current_profile" data-parent="#profile_cards">
          <div class="card border-dark mb-3">
            <h4 class="card-header">
              <button class="btn btn-outline-success btn-sm align-right" type="button" data-toggle="collapse"
                    data-target=".multi-collapse" aria-expanded="false" aria-controls="current_profile edited_profile"
                    onclick="preview('{% static "/vanlevy/images/NoImage.png" %}')">
                Show edits
              </button>
              <img src="{% static '/vanlevy/images/Profile_32.png' %}" height="32" width="32" title="Profile">
              {{user}}<br>Current Avatar
            </h4>
            <div class="card-body">
              <div class="row">
                <div class="col-6">
                  {% if this_avatar.avatar_url_image %}
                    <p>
                      <img src="{{ this_avatar.avatar_url_image }}" class="w-100"
                           alt="{{ this_avatar.avatar_name }}'s Original Image">
                    </p>
                  {% else %}
                    <img src="{% static '/vanlevy/images/NoImage.png' %}" class="w-100" alt="no image">
                  {% endif %}
                </div>
                <div class="col-6">
                  <p>
                    <span style="font-size: 1.33em"><strong>{{ this_avatar.avatar_name }}</strong></span>
                  </p>
                  <p><u>Description:</u> <br>
                    {{ this_avatar.avatar_description }}
                  </p>
                  <p><u>Character Sheet:</u> <br>
                    {% if this_avatar.use_char_sheet == 0 %}
                      You have not attached a Character Sheet
                    {% elif this_avatar.use_char_sheet == 1 %}
                      {{ this_avatar.char_pdf.pdf_name }}
                    {% endif %}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="collapse multi-collapse" id="edited_profile" data-parent="#profile_cards">
          <div class="card border-success mb-3">
            <h4 class="card-header">
              <button class="btn btn-outline-dark btn-sm align-right" type="button" data-toggle="collapse"
                    data-target=".multi-collapse" aria-expanded="false"
                      aria-controls="current_profile edited_profile">
                Show Original
              </button>
              <img src="{% static '/vanlevy/images/Profile_32.png' %}" height="32" width="32" title="Profile">
              {{user}}<br>Edited Avatar
              <button class="btn btn-outline-success btn-sm align-right" type="button"
                      onclick="preview('{% static "/vanlevy/images/NoImage.png" %}')">
                Refresh
              </button>
            </h4>
            <div class="card-body">
              <div class="row">
                <div class="col-6">
                  <img src="{{ this_avatar.avatar_url_image }}" class="w-100" id="new_image"
                       alt="{{ this_avatar.avatar_name }}'s New Image">
                </div>
                <div class="col-6">
                  <p style="font-size: 1.33em">
                    <strong>
                      <span id="new_name">{{ this_avatar.avatar_name }}</span>
                    </strong>
                  </p>
                  <p>
                    <u>Description:</u> <br>
                    <span id="new_description">{{ this_avatar.avatar_description }}</span>
                  </p>
                  <p><u>Character Sheet:</u> <br>
                    {% if this_avatar.use_char_sheet == 0 %}
                      You have not attached a Character Sheet
                    {% elif this_avatar.use_char_sheet == 1 %}
                      {{ this_avatar.char_pdf.pdf_name }}
                    {% endif %}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <form method="POST" enctype="multipart/form-data" id="editAvatar">
        {% csrf_token %}
        <table id="form_table">
          <col style="width: 80px;">
          <col style="width: 280px;">
          <tr>
            <td></td>
            <td><h4>Edit {{ this_avatar.avatar_name }}</h4></td>
          </tr>
          <tr>
            <td class="align-right">
              <strong>Name:</strong>
            </td>
            <td>
              {{avatar_form.avatar_name}} <span style="color:red">*</span> Required field
            </td>
          </tr>
          <tr>
            <td class="align-right">
              <strong>Description:</strong>
            </td>
            <td>
              {{avatar_form.avatar_description}}
            </td>
          </tr>
          <tr>
            <td class="align-right">
              <strong>Image URL:</strong><br>
              <button type="button" class="btn btn-outline-secondary btn-sm align-right"
                      onclick="revertImageURL()"
                      style="margin-top: 6px;">
                Revert
              </button>
            </td>
            <td>
              {{avatar_form.avatar_url_image}}
            </td>
          </tr>
          {% if avatar_form.errors %}
            {% for field in avatar_form %}
              {% for error in field.errors %}
                <tr><td colspan="2">
                  <div class="alert alert-warning">
                    <a class="close" href="#" data-dismiss="alert">×</a>
                    {{ error }}
                  </div>
                </td></tr>
              {% endfor %}
            {% endfor %}
          {% endif %}
          <tr>
            <td></td>
            <td>
              <button type="submit" class="btn btn-success">Submit Changes</button>
              <a href="{% url 'accounts:view_profile' %}" role="button"
                 class="btn btn-outline-danger btn-sm align-right">
                Cancel <strong>&#12299;</strong>
              </a>
            </td>
          </tr>
          <tr>
            <td></td>
            <td><p><br></p></td>
          </tr>
        </table>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h4>Pregenerated Images</h4>
      <div class="card-group">
        <div class="card border-dark mb-3" style="text-align: center;">
          <div class="card-header">
            <h5 class="card-title">Your <a href="https://en.gravatar.com/">Gravatar</a></h5>
          </div>
          <div class="card-body text-dark">
            <img src="{{ gravatar }}" class="w-100" alt="your gravatar">
            <p></p>
            <button type="button" class="btn btn-outline-dark btn-sm" id="gravatar_button"
                    onclick="useGravatar('{{ gravatar }}', 'gravatar_button')">
              Pick me!
            </button>
          </div>
        </div>
        <div class="card border-dark mb-3" style="text-align: center;">
          <div class="card-header">
            <h5 class="card-title">Identicon</h5>
          </div>
          <div class="card-body text-dark">
            <img src="{{ identicon }}" class="w-100" alt="identicon">
            <p></p>
            <button type="button" class="btn btn-outline-dark btn-sm" id="identicon_button"
                    onclick="useGravatar('{{ identicon }}', 'identicon_button')">
              Pick me!
            </button>
          </div>
        </div>
        <div class="card border-dark mb-3" style="text-align: center;">
          <div class="card-header">
            <h5 class="card-title">Monster</h5>
          </div>
          <div class="card-body text-dark">
            <img src="{{ monsterid }}" class="w-100" alt="monsterid">
            <p></p>
            <button type="button" class="btn btn-outline-dark btn-sm" id="monsterid_button"
                    onclick="useGravatar('{{ monsterid }}', 'monsterid_button')">
              Pick me!
            </button>
          </div>
        </div>
        <div class="card border-dark mb-3" style="text-align: center;">
          <div class="card-header">
            <h5 class="card-title">Wavatar</h5>
          </div>
          <div class="card-body text-dark">
            <img src="{{ wavatar }}" class="w-100" alt="wavatar">
            <p></p>
            <button type="button" class="btn btn-outline-dark btn-sm" id="wavatar_button"
                    onclick="useGravatar('{{ wavatar }}', 'wavatar_button')">
              Pick me!
            </button>
          </div>
        </div>
        <div class="card border-dark mb-3" style="text-align: center;">
          <div class="card-header">
            <h5 class="card-title">Retro</h5>
          </div>
          <div class="card-body text-dark">
            <img src="{{ retro }}" class="w-100" alt="retro">
            <p></p>
            <button type="button" class="btn btn-outline-dark btn-sm" id="retro_button"
                    onclick="useGravatar('{{ retro }}', 'retro_button')">
              Pick me!
            </button>
          </div>
        </div>
        <div class="card border-dark mb-3" style="text-align: center;">
          <div class="card-header">
            <h5 class="card-title">Robohash</h5>
          </div>
          <div class="card-body text-dark">
            <img src="{{ robohash }}" class="w-100" alt="robodash">
            <p></p>
            <button type="button" class="btn btn-outline-dark btn-sm" id="robohash_button"
                    onclick="useGravatar('{{ robohash }}', 'robohash_button')">
              Pick me!
            </button>
          </div>
        </div>
      </div>
        <p>
          These are pregenerated images that you can use as profile or avatar images.
          The first is your <a href="https://en.gravatar.com/">Gravatar</a> that you control.
          (Gravatar is its own website that allows users to upload an image that is used consistently on
          multiple sites.)  Your Gravatar is linked to the email address you provided to us.
        </p>
        <p>
          Since half of the fun of Roll Playing Games is having different characters, we also provide you with
          some alternative possibilities; these use Gravatar, but based on a fake (non-existent) email tied to
          your account here at vanlevy.com.
        </p>
        <p style="display: none;" id="initial_url">{{ this_avatar.avatar_url_image }}</p>
    </div>
  </div>
</div>

<script src="{% static 'vanlevy/files/js/accounts.js' %}"></script>
<script>
var $myForm = $("#editAvatar");
$myForm.submit(function(){
  $myForm.submit(function(){
    return false;
  });
});
</script>

{% endblock %}

{% block page_scripts %}
{% endblock %}