{% extends 'accounts_base.html' %}

{% block head %}
    <meta charset="UTF-8">
    <title>Delete Avatar</title>
{% endblock %}

{% block accounts_page %}
    {% load static %}
    <img src="{% static '/vanlevy/AvatarDelete_32.png' %}" height="32" width="32" title="Avatar">
    <span style="color: white;">Delete {{this_avatar.avatar_name}}?</span>
{% endblock %}

{% block body %}
<br>
<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card border-secondary mb-3">
                    <h4 class="card-header">
                        {{ this_avatar.avatar_name }}
                    </h4>
                    <div class="card-body">
                        {% if this_avatar.avatar_url_image %}
                            <p><img src="{{ this_avatar.avatar_url_image }}" width="100%"></p>
                        {% else %}
                            This avatar has no image.
                        {% endif %}
                        <p class="card-text">
                            <strong>Description</strong><br>
                            {{ this_avatar.avatar_description }}
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <h4>Are you REALLY sure that you want to delete {{this_avatar.avatar_name}}?</h4>
                <h5>Once this is done, you can't undo it!</h5>
                <p>&nbsp</p>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col">
                            <p><em>Delete </em><strong>{{this_avatar.avatar_name}}?</strong></p>
                            <form method="POST" id="deleteAvatar">
                                {% csrf_token %}
                                {{ avatar_form.deleted }}
                            <p></p>
                        </div>
                        <div class="col">
                            <p><br></p>
                            <button type="submit" id="delete_button" class="btn btn-outline-success">
                                Never mind.<br>Return to Profile page
                            </button>
                            </form>
                        </div>
                    </div>
                    <p id="delete_language">
                        In order to delete {{this_avatar.avatar_name}}, you must check "Yes" <em>and then</em>
                        click the button.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block page_scripts %}
<script>
$("#id_deleted").click(function () {
    var button = $("#delete_button");
    var language = document.getElementById("delete_language");
    var new_words = '<br><strong>This is permanent.</strong>  There is no going back once you click the button.'
        + '<br><em>{{this_avatar.avatar_name}}</em><strong> will be deleted.</strong>';
    var revert = 'In order to delete {{avatar_data.avatar_name}}, you must check "Yes" <em>and then</em>'
        + ' click the button.';
    if (document.getElementById('id_deleted_0').checked) {
        console.log("True")
        button.removeClass('btn btn-outline-success');
        button.addClass('btn btn-outline-danger');
        button.html('I am sure.<br>FEED THIS AVATAR TO THE SARLAAC!<br>(I mean, "Delete this Avatar.")');
        language.innerHTML = new_words;
    } else {
        console.log("False")
        button.removeClass('btn btn-outline-danger');
        button.addClass('btn btn-outline-success');
        button.html('Never mind.<br>Return to Profile page');
        language.innerHTML = revert;
    };
});
</script>
<script>
var $myForm = $("#destiny");
$myForm.submit(function(){
    $myForm.submit(function(){
        return false;
    });
});
</script>
{% endblock %}
