{% extends 'accounts_base.html' %}

{% block head %}
  <meta charset="UTF-8">
  <title>Create Avatar</title>
{% endblock %}

{% load static %}

{% block accounts_page %}
  <img src="{% static '/vanlevy/images/NewAvatar_32.png' %}" alt="New Avatar" height="32" width="32">
  <span style="color: white;">New Avatar</span>
{% endblock %}

{% block navbar_Rooms_button %}
{% endblock %}


{% block body %}
{% block new_avatar %} <!-- remove link in dropdown -->
{% endblock %}

<br>
<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="card border-dark mb-3">
        <h4 class="card-header">
          <img src="{% static '/vanlevy/images/Profile_32.png' %}" height="32" width="32" title="Profile" alt="profile">
          {{user}}
          <button class="btn btn-outline-success btn-sm align-right" type="button"
                  onclick="preview('{% static "/vanlevy/images/NoImage.png" %}')">
            Show edits
          </button>
          <br>New Avatar
        </h4>
        <div class="card-body">
          <div class="row">
            <div class="col-6">
              <img src="{% static '/vanlevy/images/NoImage.png' %}" class="w-100" id="new_image" alt="no image">
            </div>
            <div class="col-6">
              <p style="font-size: 1.33em">
                <strong>
                  <span id="new_name">Your Avatar's Name</span>
                </strong>
              </p>
              <p>
                <u>Description:</u> <br>
                <span id="new_description">Your Avatar's Description</span>
              </p>
              <p><u>Character Sheet:</u> <br>
                <span style="font-size: 0.8em;">
                  Once your avatar has been created, you can attach a character sheet.
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6">
      <br>
      <form method="POST" enctype="multipart/form-data" id="createAvatar">
        {% csrf_token %}
        <table>
          <col style="width: 80px;">
          <col style="width: 280px;">
          <tr>
            <td class="align-right">
              <strong>Name:</strong>
            </td>
            <td>
              {{avatar_form.avatar_name}} <span style="color:red">*</span> Required field
            </td>
          </tr>
          <tr>
            <td class="align-right">
              <strong>Description:</strong>
            </td>
            <td>
              {{avatar_form.avatar_description}}
            </td>
          </tr>
          <tr>
            <td class="align-right">
              <strong>Image URL:</strong><br>
              <button type="button" class="btn btn-outline-secondary btn-sm align-right"
                      onclick="clearImageURL('{% static "/vanlevy/images/NoImage.png" %}')"
                      style="margin-top: 6px;">
                Clear
              </button>
            </td>
            <td>
              {{avatar_form.avatar_url_image}}
            </td>
          </tr>
          {% if avatar_form.errors %}
            {% for field in avatar_form %}
              {% for error in field.errors %}
                <tr><td colspan="2">
                  <div class="alert alert-warning">
                    <a class="close" href="#" data-dismiss="alert">×</a>
                    {{ error }}
                  </div>
                </td></tr>
              {% endfor %}
            {% endfor %}
          {% endif %}
          <tr>
            <td></td>
            <td>
              <button type="submit" class="btn btn-outline-primary">Create your Avatar</button>
            </td>
          </tr>
        </table>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h4>Pregenerated Images</h4>
      <div class="card-group">
        <div class="card border-dark mb-3" style="text-align: center;">
          <div class="card-header">
            <h5 class="card-title">
              <span class="d-none d-xl-inline">Your </span>
              <a href="https://en.gravatar.com/">Gravatar</a>
            </h5>
          </div>
          <div class="card-body text-dark">
            <img src="{{ gravatar }}" class="w-100" alt="your gravatar">
            <p></p>
            <button type="button" class="btn btn-outline-dark btn-sm" id="gravatar_button"
                    onclick="useGravatar('{{ gravatar }}', 'gravatar_button')">
              Pick me!
            </button>
          </div>
        </div>
        <div class="card border-dark mb-3" style="text-align: center;">
          <div class="card-header">
            <h5 class="card-title">Identicon</h5>
          </div>
          <div class="card-body text-dark">
            <img src="{{ identicon }}" class="w-100" alt="identicon">
            <p></p>
            <button type="button" class="btn btn-outline-dark btn-sm" id="identicon_button"
                    onclick="useGravatar('{{ identicon }}', 'identicon_button')">
              Pick me!
            </button>
          </div>
        </div>
        <div class="card border-dark mb-3" style="text-align: center;">
          <div class="card-header">
            <h5 class="card-title">Monster</h5>
          </div>
            <div class="card-body text-dark">
              <img src="{{ monsterid }}" class="w-100" alt="monsterid">
              <p></p>
              <button type="button" class="btn btn-outline-dark btn-sm" id="monsterid_button"
                      onclick="useGravatar('{{ monsterid }}', 'monsterid_button')">
                Pick me!
              </button>
            </div>
        </div>
        <div class="card border-dark mb-3" style="text-align: center;">
          <div class="card-header">
            <h5 class="card-title">Wavatar</h5>
          </div>
          <div class="card-body text-dark">
            <img src="{{ wavatar }}" class="w-100" alt="wavatar">
            <p></p>
            <button type="button" class="btn btn-outline-dark btn-sm" id="wavatar_button"
                    onclick="useGravatar('{{ wavatar }}', 'wavatar_button')">
              Pick me!
            </button>
          </div>
        </div>
        <div class="card border-dark mb-3" style="text-align: center;">
          <div class="card-header">
            <h5 class="card-title">Retro</h5>
          </div>
          <div class="card-body text-dark">
            <img src="{{ retro }}" class="w-100" alt="retro">
            <p></p>
            <button type="button" class="btn btn-outline-dark btn-sm" id="retro_button"
                    onclick="useGravatar('{{ retro }}', 'retro_button')">
              Pick me!
            </button>
          </div>
        </div>
        <div class="card border-dark mb-3" style="text-align: center;">
          <div class="card-header">
            <h5 class="card-title">Robohash</h5>
          </div>
          <div class="card-body text-dark">
            <img src="{{ robohash }}" class="w-100" alt="robodash">
            <p></p>
            <button type="button" class="btn btn-outline-dark btn-sm" id="robohash_button"
                    onclick="useGravatar('{{ robohash }}', 'robohash_button')">
              Pick me!
            </button>
          </div>
          </div>
      </div>
        <p>
          These are pregenerated images that you can use as profile or avatar images.
          The first is your <a href="https://en.gravatar.com/">Gravatar</a> that you control.
          (Gravatar is its own website that allows users to upload an image that is used consistently on
          multiple sites.)  Your Gravatar is linked to the email address you provided to us.
        </p>
        <p>
          Since half of the fun of Roll Playing Games is having different characters, we also provide you with
          some alternative possibilities; these use Gravatar, but based on a hypothetical email.
        </p>
    </div>
  </div>
</div>

<script src="{% static 'vanlevy/files/js/accounts.js' %}"></script>
<script>
  var $myForm = $("#createAvatar");
  $myForm.submit(function(){
    $myForm.submit(function(){
      return false;
    });
  });
</script>

{% endblock %}

{% block page_scripts %}
{% endblock %}