{% extends 'accounts_base.html' %}

{% block head %}
    <meta charset="UTF-8">
    <title>Edit Avatar</title>
{% endblock %}


{% block navbar_Rooms_button %}
{% endblock %}


{% block body %}
<br>
<div class="container">
    <div class="container">
        <div class="row">
            <div class="col-5">
                <!-- One of two columns -->
                <h1>Profile</h1>
            </div>
            <div class="col-7">
                <!-- Two of two columns -->
                <h1>Avatar</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <!-- One of two columns -->
                <p><strong>First Name:</strong> {{user.userprofile.user_first_name}}</p>
                <p><strong>Last Name:</strong> {{user.userprofile.user_last_name}}</p>
                <p><strong>Bio:</strong> {{ user.userprofile.user_bio }}</p>
                <p><strong>Description:</strong> {{user.userprofile.user_description}}</p>
                {% if user.userprofile.user_url_image %}
                    <p><img src="{{ user.userprofile.user_url_image }}" width="240"></p>
                {% else %}
                    <p><strong>No image uploaded</strong></p>
                {% endif %}
            </div>
            <div class="col-8">
                <!-- Two of two columns -->
                <br>
                <form method="POST" enctype="multipart/form-data" id="editAvatar">
                    {% csrf_token %}
                    <table>
                        <col width="80">
                        <col width="280">
                        <tr>
                            <td class="align-right">
                                <strong>Name:</strong>
                            </td>
                            <td>
                                {{avatar_form.avatar_name}} <span style="color:red">*</span> Required field
                            </td>
                        </tr>
                        <tr>
                            <td class="align-right">
                                <strong>Description:</strong>
                            </td>
                            <td>
                                {{avatar_form.avatar_description}}
                            </td>
                        </tr>
                        <tr>
                            <td class="align-right">
                                <strong>Image:</strong>
                            </td>
                            <td>
                                {{avatar_form.avatar_url_image}}
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <em>Images need to be valid URLs to a web-hosted image file.</em>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button type="submit" class="btn btn-outline-primary">Submit Changes</button>
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block page_scripts %}
<script>
var $myForm = $("#editAvatar");
$myForm.submit(function(){
    $myForm.submit(function(){
        return false;
    });
});
</script>
{% endblock %}