{% extends 'base.html' %}

{% block head %}
    <meta charset="UTF-8">
    <title>Edit Avatar</title>
{% endblock %}


{% block navbar_Rooms_button %}
{% endblock %}


{% block body %}
<br>
<div class="container">
    <div class="container">
        <div class="row">
            <div class="col">
                <!-- One of two columns -->
                <h1>Profile</h1>
            </div>
            <div class="col">
                <!-- Two of two columns -->
                <h1>Avatar</h1>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <!-- One of two columns -->
                <p><strong>First Name:</strong> {{user.userprofile.user_first_name}}</p>
                <p><strong>Last Name:</strong> {{user.userprofile.user_last_name}}</p>
                <p><strong>Bio:</strong> {{ user.userprofile.user_bio }}</p>
                <p><strong>Description:</strong> {{user.userprofile.user_description}}</p>
                {% if user.userprofile.user_image %}
                    <p><img src="{{ user.userprofile.user_image.url }}" width="240"></p>
                {% else %}
                    <p><strong>No image uploaded</strong></p>
                {% endif %}
            </div>
            <div class="col">
                <!-- Two of two columns -->
                <form method="POST", enctype="multipart/form-data">
                    {% csrf_token %}
                    <p><strong>Avatar Name:</strong> {{avatar_form.avatar_name}}</p>
                    <p><strong>Avatar Description:</strong> {{avatar_form.avatar_description}}</p>
                    <p><strong>Image:</strong> {{avatar_form.avatar_image}}</p>
                    <button type="submit" class="btn btn-outline-primary">Submit Changes</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}