{% extends 'accounts_base.html' %}

{% block head %}
    <meta charset="UTF-8">
    <title>My Profile</title>
{% endblock %}

{% block Title_link_auth %}{% url 'accounts:about' %}{% endblock %}
{% block Title_link_not_auth %}{% url 'accounts:about' %}{% endblock %}
{% block Title %}Accounts{% endblock %}

<!--include navbar_Rooms_button-->
{% block link_account %}<!--exclude navbar link to profile-->{% endblock %}

{% block body %}
<style>
    #avatar {display: inline-block}
</style>
<br>
<div class="container">
    <div class="container">
        <div class="row">
            <div class="col">
                <h3>Login Info:</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p><strong>Username:</strong> {{user}}</p>
            </div>
            <div class="col">
                <p><strong>Email:</strong> {{user.email}}</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <!-- One of two columns -->
                <h1>Profile</h1>
                <p><strong>First Name:</strong> {{user.userprofile.user_first_name}}</p>
                <p><strong>Last Name:</strong> {{user.userprofile.user_last_name}}</p>
                <p><strong>Bio:</strong> {{ user.userprofile.user_bio }}</p>
                <p><strong>Description:</strong> {{user.userprofile.user_description}}</p>
                {% if user.userprofile.user_image %}
                    <p><img src="{{ user.userprofile.user_image.url }}" width="240"></p>
                {% else %}
                    <p><strong>No image uploaded</strong></p>
                {% endif %}
                <a href="{% url 'accounts:edit_profile' %}"><button type="button" class="btn btn-outline-primary">
                    Edit Profile
                </button></a>
                <p></p>
                <a href="{% url 'accounts:password' %}"><button type="button" class="btn btn-outline-secondary">
                    Change Password
                </button></a>

            </div>
            <div class="col">
                <!-- Two of two columns -->
                <h1 id="avatar">Avatars</h1>
                <a href="{% url 'accounts:create_avatar' %}">
                    <button type="button" class="btn btn-primary align-right">
                        Create a new Avatar
                    </button></a>
                {% if has_avatars %}
                    {% for avatar in my_avatars_list %}
                        <hr>
                        <div class="row">
                        <div class="col">
                            <!-- One of two columns -->
                            <p><strong>{{ avatar.avatar_name }}</strong> </p>
                            <p>{{ avatar.avatar_description }}</p>
                            <a href="{% url 'accounts:edit_avatar' avatar.id %}">
                                <button type="button" class="btn btn-outline-primary btn-sm">
                                    Edit {{ avatar.avatar_name }}
                                </button>
                            </a>
                            <!---->
                        </div>
                        <div class="col">
                            {% if avatar.avatar_image %}
                                <p><img src="{{ avatar.avatar_image.url }}" width="150"></p>
                            {% else %}
                                This avatar has no image.
                            {% endif %}
                            <p align="right"><a href="{% url 'accounts:delete_avatar' avatar.id %}">Delete?</a></p>
                        </div>
                        </div>
                    {% endfor %}
                    <hr>
                    <p></p>
                {% else %}
                    <p><strong>You have not created any avatars.</strong></p>
                    <p></p>
                    <!--<a href="{% url 'accounts:create_avatar' %}"><button type="button"  class="btn btn-primary">-->
                        <!--Create your first Avatar-->
                    <!--</button></a>-->

                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock %}