{% extends 'accounts_base.html' %}

{% block head %}
    <meta charset="UTF-8">
    <title>Edit Profile</title>
{% endblock %}


{% block navbar_Rooms_button %}
{% endblock %}


{% block body %}
<br>
<div class="container">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Profile</h1>

                You are logged in as <strong>{{user}}</strong>.
                <br>Emails cannot be changed at this time.
                <p></p>
                <form method="post" enctype="multipart/form-data" id="editProfile">
                    {% csrf_token %}
                    <table>
                        <tr>
                            <td class="align-right"><strong>First Name:</strong></td>
                            <td>{{profile_form.user_first_name}} </td>
                        </tr>
                        <tr>
                            <td class="align-right"><strong>Last Name:</strong></td>
                            <td>{{profile_form.user_last_name}} </td>
                        </tr>
                        <tr>
                            <td class="align-right"><strong>Bio:</strong></td>
                            <td>{{profile_form.user_bio}} </td>
                        </tr>
                        <tr>
                            <td class="align-right"><strong>Description:</strong></td>
                            <td>{{profile_form.user_description}} </td>
                        </tr>
                        <tr>
                            <td class="align-right"><strong>Image:</strong></td>
                            <td>{{profile_form.user_url_image}} </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <em>Images need to be valid URLs to a web-hosted image file.</em>
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <button type="submit" class="btn btn-outline-primary">Submit Change</button>
                            </td>
                        </tr>
                    </table>
                </form>
                <p><br></p>
            </div>
        </div>
    </div>
    <p></p><br><p></p><br>

</div>

{% endblock %}

{% block page_scripts %}
<script>
var $myForm = $("#editProfile");
$myForm.submit(function(){
    $myForm.submit(function(){
        return false;
    });
});
</script>
{% endblock %}