{% extends 'accounts_base.html' %}

{% block head %}
    <meta charset="UTF-8">
    <title>Registration Form</title>
{% endblock %}

{% block link_logout %}
    {% if user.is_authenticated %}
    {% else %}
        <a class="dropdown-item" href="{% url 'accounts:password_reset' %}">Reset Password</a>
    {% endif %}
{% endblock %}


{% block body %}
<div class="container">
    <br>
    {% if user.is_authenticated %}
        <h2>You are logged in as {{user.first_name}}.</h2>
        <br>
        <p>To create a new account, please <a href="{% url 'accounts:logout' %}">logout</a> and then register.</p>
    {% else %}
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-outline-primary">Register</button>
        </form>
    {% endif %}
</div>
{% endblock %}