{% extends 'base.html' %}
{% load static %}

  {% block css %}
  <link rel="stylesheet" type="text/css" href="{% static '/vanlevy/files/css/vanlevy_base_19_06_13.css' %}" />
  {% endblock %}

{% block navbar_characteristics %}
  <nav class="navbar navbar-blend navbar-expand-sm navbar-dark" style="background-color: #001452">
{% endblock %}

{% block navbar_end %}
  </nav>
{% endblock %}

{% block bottom_navbar %}
<div class="container" {% block bottom_navbar_padding %}style="padding: 80px 10px 0px 0px"{% endblock %}>
  <div class="container" {% block bottom_navbar_style %}
                          style="position: fixed; bottom: 0; "
                          {% endblock %} >
    <nav class="navbar bottom navbar-expand-md navbar-dark" style="background-color: #000F3D">
      <div class="collapse navbar-collapse" id="navbarToggler">
        {% block bottom_navbar_links %}
          <ul class="navbar-nav mr-auto">
            {% block bottom_home %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'vanlevy:blank' %}">Home</a>
              </li>
            {% endblock %}
            {% block bottom_about %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'vanlevy:vl_about' %}">About</a>
              </li>
            {% endblock %}
            {% block bottom_dice %}
                <li class="nav-item">
                <a class="nav-link" href="{% url 'vanlevy:dice_rollers' %}">Dice Rollers</a>
              </li>
            {% endblock %}
            {% block bottom_resources %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'vanlevy:resources' %}">Our Resources</a>
              </li>
            {% endblock %}
            {% block bottom_links %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'vanlevy:cool_stuff' %}">Links to Cool Stuff</a>
              </li>
            {% endblock %}
            {% block bottom_terms %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'vanlevy:terms' %}">Terms</a>
              </li>
            {% endblock %}
          </ul>
        {% endblock %}
      </div>
      <span class="navbar-text">
        &copy; Van Levy Consultants, <span class="show-md"><br></span> All Rights Reserved.
      </span>
    </nav>
  </div>
</div>


{% block scripts %}
  <script src="{% static '/vanlevy/files/js/base.js' %}"></script>
{% endblock %}

{% endblock %}
