{% extends 'base.html' %}

{% block navbar_characteristics %}
    <nav class="navbar navbar-blend navbar-expand-lg navbar-dark" style="background-color: #001452">
{% endblock %}

{% block navbar_end %}
    </nav>
{% endblock %}

{% block bottom_navbar %}
<div class="container" style="padding: 10px 10px 0px 0px">
    <div class="container" style="position: fixed; bottom: 0; ">
        <nav class="navbar bottom navbar-expand-lg navbar-dark" style="background-color: #000F3D">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              {% block bottom_navbar_links %}
                <ul class="navbar-nav mr-auto">
                  <li>
                    <a class="nav-link" href="{% url 'vanlevy:blank' %}">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'vanlevy:vl_about' %}">About</a>
                  </li>
                    <li class="nav-item">
                    <a class="nav-link" href="{% url 'vanlevy:dice_rollers' %}">Dice Rollers</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'vanlevy:resources' %}">Our Resources</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'vanlevy:cool_stuff' %}">Links to Cool Stuff</a>
                  </li>
                </ul>
              {% endblock %}
                <span class="navbar-text">
                  &copy; Van Levy Consultants, All Rights Reserved.
                </span>
            </div>
        </nav>
    </div>
</div>

{% endblock %}

{% block page_scripts %}
<script type="text/javascript">
    $(document).ready(function () {
        var url = window.location;
        $('ul.navbar-nav a[href="'+ url +'"]').parent().addClass('active');
        $('ul.navbar-nav a').filter(function() {
             return this.href == url;
        }).parent().addClass('active');
    });
</script>
{% endblock %}