{% extends 'base.html' %}
{% load static %}
{% load diceroomtags %}

{% block navbar_characteristics %}
    <nav class="navbar navbar-expand-sm navbar-dark"
         style="background-color: #252525;
                background-image:   url({% static '/myzdice/myz_background_side_3.png' %}),
                                    url({% static '/myzdice/myz_background_side_3.png' %}),
                                    url({% static '/myzdice/myz_background_top_3.png' %}),
                                    url({% static '/myzdice/myz_background_top_3.png' %});
                background-repeat: repeat-y, repeat-y, repeat-x, repeat-x;
                background-position: left, right, top, bottom;">
{% endblock %}

{% block brand %}
    <h4>
        <a class="navbar-brand" href="{% url 'vanlevy:home' %}">
            <img src="{% static '/vanlevy/images/IconReverse_32.png' %}" alt="Van Levy Icon" height="32" width="32">
            Van Levy
        </a>
        <a class="navbar-brand" style="color:white;">
            <img src="{% static '/myzdice/MutantYearZero_32.png' %}" alt="SW Dice Roller" height="32" width="32">
            {% block subtitle %}{% endblock %}
        </a>
    </h4>
{% endblock %}

{% block other_navbar_right %}
    <a class="navbar-brand" href="{% url 'myzdice:about' %}">
        <img src="{% static '/swdice/RoomInfoSmall_32.png' %}" alt="MYZ Dice Roller" height="32" width="32">
        {% block info_label %}
            <span style="font-size: 0.67em; color: white;">
                About
            </span>
        {% endblock %}
    </a>
{% endblock %}

{% block navbar_end %}
</nav>
{% endblock %}