.sml-input {
    width: 30px;
    font-size: 1.5em;
    margin: 5px 0px;
}

.med-input {
    width: 60px;
    font-size: 1.5em;
    background-color: #f8f9fa;
    border-style: none;
}

.roll-caption {
    width: 230px;
    padding: 7px 5px;
    margin: 5px 3px;
}

.big-font {
    font-size: 1.5em;
    font-weight: bold;
}

.destiny_table {
    background-color: #f8f9fa;
    width: 125px;
    margin: 0px 0px 5px 0px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

input[type=number] {
    -moz-appearance:textfield;
}

.outline-me {
    border: 1px solid black;
}

.align-right {
    float: right;
    margin: 15px 0px 0px 0xp;
}

.top_margin {
    margin: 10px 0px 0px 0xp;
}

.action-odd {
    padding: 0px;
    background-color: #f8f9fa;
}

.action-even {
    padding: 0px;
}

#action_table {width: 100%;}
#action_table td {padding: 5px 0px;}
#action_table tr:nth-child(odd){background-color: #f8f9fa;}
#action_table tr:hover {background-color: #ddd;}
#action_table tr{border-bottom: 1px solid #ddd}

#users_table {width: 100%;}
#users_table td {padding: 5px 0px;}
#users_table tr:nth-child(odd){background-color: #f8f9fa;}
#users_table tr:hover {background-color: #ddd;}
#users_table tr{border-bottom: 1px solid #ddd}

#chat_table {width: 100%;}
#chat_table td {padding: 5px;}
#chat_table tr:nth-child(odd){background-color: #e8e8e8;}
#chat_table tr:nth-child(even){background-color: #f4f4f4;}

.room-name {
    max-width: 750px;
    color:white;
    font-size: 150%;
}

.room_name_table div {
    text-overflow: ellipsis;
    overflow: hidden;
}

#star_wars_table tr:nth-child(odd){background-color: #f9f9f9;}

.chat_whisper {
    background-color: #fff3a2;
}

.chat_regular {
    background-color: #ffffff;
}

.dice_table_sml {
    width: 125px;
    background-color: #f8f9fa;
}

.dice_table_lrg {
    width: 250px;
    background-color: #f8f9fa;
}

.dice_table_sml tr {
    height: 70px;
    padding: 3px 3px;
    margin: 10px 0px 0px 0xp;
    border: 1px solid lightgray;
}

.dice_table_lrg tr {
    height: 70px;
    padding: 3px 3px;
    margin: 10px 0px 0px 0xp;
    border: 1px solid lightgray;
}

.dice-col-1 {
    width: 16.66%
    padding: 3px;
    margin: 0px;
}
.dice-col-2 {
    width: 33.33%
    padding: 3px;
    margin: 0px;
}
.dice-col-2-hidden {
    width: 33.33%
    padding: 3px;
    margin: 0px;
}

.dice-box {
    width: 750px;
    background-color: #f8f9fa;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: 0;
    margin-left: 15;
}


@media screen and (max-width:1024px) {
    /* For Tablets */
    .big-font {
        font-size: 1.0em;
        font-weight: bold;
    }
    .sml-input {
        width: 30px;
        font-size: 1.0em;
        margin: 5px 0px;
    }
    .med-input {
        width: 60px;
        font-size: 1.0em;
        background-color: #f8f9fa;
        border-style: none;
    }
    .room-name {
        max-width: 500px;
        color:white;
        font-size: 125%;
    }
}

@media screen and (max-width:991px) {
    /* For Tablets */
    .dice-box {
        width: 500px;
        background-color: #f8f9fa;
        padding-right: 0px;
        padding-left: 0px;
        margin-right: 0;
        margin-left: 15;
    }
    .big-font {
        font-size: 1.0em;
        font-weight: bold;
    }
    .sml-input {
        width: 30px;
        font-size: 1.0em;
        margin: 5px 0px;
    }
    .med-input {
        width: 60px;
        font-size: 1.0em;
        background-color: #f8f9fa;
        border-style: none;
    }
    .hide-small {
        display: none;
    }
    .room-name {
        max-width: 500px;
        color:white;
        font-size: 125%;
    }
}

@media screen and (max-width:767px) {
    /* For Tablets */
    .dice-box {
        width: 250px;
        background-color: #f8f9fa;
        padding-right: 0px;
        padding-left: 0px;
        margin-right: 0;
        margin-left: 15;
    }
    .room-name {
        max-width: 400px;
        color:white;
        font-size: 100%;
    }
}

