{% extends 'swdice/swroom.html' %}

{% block head %}
    <meta charset="UTF-8">
    <title>SW Room</title>
    <slug>{% if room.open_to_all %}open{% else %}{{ room.passcode }}{% endif %}</slug>
{% endblock %}

{% block navbar_space_part_1 %}
<!--exclude space-->
{% endblock %}

{% block brand %}
    {% load static %}
    <a class="navbar-brand" href="{% url 'vanlevy:home' %}">
        <img src="{% static '/vanlevy/images/IconReverse_32.png' %}" alt="Van Levy Icon" height="32" width="32">
    </a>

    <a class="navbar-brand">
        <span class="d-inline-block text-truncate room-name" >
            {{room.name}}
        </span>
    </a>

    <a class="navbar-brand" style="color:white;" href="{% url 'swdice:dockingbay' %}">
        <img src="{% static '/vanlevy/images/droid_background_32.png' %}" alt="SW Dice Roller" height="32" width="32">
        {% block subtitle %}{% endblock %}
    </a>
{% endblock %}

{% block other_navbar_right %}
<a href="{% url 'swdice:swroom_info' room_number %}">
    <img src="{% static '/swdice/RoomInfoSmall_32.png' %}" alt="Room Info" height="32" width="32">
    {% block info_label %}
        <span style="font-size: 0.67em; color: white; margin-right: 10px; margin-left: -5px;">
            Info
        </span>
    {% endblock %}
</a>
<!--<span style="color: white;">Info </span>-->
{% endblock %}


{% block navbar_space_part_2 %}
<!--exclude space-->
{% endblock %}

{% block body %}

{% load static %}
<h3>Redirecting...</h3>

{% endblock %} <!--body-->