{% extends 'myz_base.html' %}
{% load static %}
{% load diceroomtags %}

{% block head %}
    <meta charset="UTF-8">
    <title>MYZ Room</title>
{% endblock %}

<!-- block navbar_space_part_1 -->
<!--exclude space-->
<!-- endblock -->

{% block brand %}
  <a class="navbar-brand" href="{% url 'vanlevy:home' %}">
    <img src="{% static '/vanlevy/images/IconReverse_32.png' %}" alt="Van Levy Icon" height="32" width="32">
  </a>

  <a class="navbar-brand">
    <span class="d-inline-block text-truncate room-name" >
      {{room.name}}
    </span>
  </a>

  <a class="navbar-brand" style="color:white;" href="{% url 'myzdice:the_zone' %}">
    <img src="{% static '/myzdice/MutantYearZero_32.png' %}" alt="MYZ Dice Roller" height="32" width="32">
    {% block subtitle %}{% endblock %}
  </a>
{% endblock brand %}

{% block other_navbar_right %}
  <a href="{% url 'myzdice:myzroom_info' room_number %}">
    <img src="{% static '/swdice/RoomInfoSmall_32.png' %}" alt="Room Info" height="32" width="32">
    {% block info_label %}
      <span style="font-size: 0.67em; color: white; margin-right: 10px; margin-left: -5px;">
        Info
      </span>
    {% endblock info_label %}
  </a>
{% endblock other_navbar_right %}


<!-- block navbar_space_part_2 -->
<!--exclude space-->
<!-- endblock -->

{% block body %}
<div id="slideout_parent">
  <input type="checkbox" id="showblock">
  {% if viewing_basic_room %}
  <div id="{% if has_char %}slideout_c{% else %}slideout{% endif %}">
    <label id="slideout_tab" for="showblock" title="Dice Meanings">
      <i>Glossary</i>
    </label>
    <div id="slideout_inner_MYZ">
      <div class="btn-group" style="padding-bottom: 10px; padding-left: 20px;">
        <button class="btn btn-sm btn-light" type="button" id="btnDice" disabled
                onClick="return switchAndCollapse('#btnDice',
                                                  ['#btnPips'],
                                                  '#glossary1',
                                                  ['#glossary2'],
                                                  'btn-outline-light', 'btn-light')">
          Dice
        </button>
        <button class="btn btn-sm btn-outline-light " type="button" id="btnPips"
                onClick="return switchAndCollapse('#btnPips',
                                                  ['#btnDice'],
                                                  '#glossary2',
                                                  ['#glossary1'],
                                                  'btn-outline-light', 'btn-light')">
          Pips
        </button>
        <!--<button class="btn btn-sm btn-outline-light" type="button" id="btnActive"-->
                <!--onClick="return switchAndCollapse('#btnActive',-->
                                                  <!--['#btnDice', '#btnStatus', '#btnPassive'],-->
                                                  <!--'#glossary4',-->
                                                  <!--['#glossary1', '#glossary3', '#glossary5'],-->
                                                  <!--'btn-outline-light', 'btn-light')">-->
          <!--Active-->
        <!--</button>-->
        <!--<button class="btn btn-sm btn-outline-light" type="button" id="btnPassive"-->
                <!--onClick="return switchAndCollapse('#btnPassive',-->
                                                  <!--['#btnDice', '#btnStatus', '#btnActive'],-->
                                                  <!--'#glossary5',-->
                                                  <!--['#glossary1', '#glossary3', '#glossary4'],-->
                                                  <!--'btn-outline-light', 'btn-light')">-->
          <!--Passive-->
        <!--</button>-->
      </div>

      <div class="row no-gutters" id="Glossaries">

        <div class="collapse show" id="glossary1" data-parent="#Glossaries">
          <hr style="border: 1px solid white; margin-left: 20px;">
          <p style="color: white; margin-left: 35px;"><strong>Dice</strong></p>
          <ul class="glossaryMYZ">
            <li><img src="{% static 'myzdice/Dice/Die_Base.png' %}" width="32" title="Base Die"> Base</li>
            <li><img src="{% static 'myzdice/Dice/Die_Skill.png' %}" width="32" title="Skill Die"> Skill</li>
            <li><img src="{% static 'myzdice/Dice/Die_Neg_Skill.png' %}" width="32" title="Negative Skill Die">
              Negative Skill</li>
            <li><img src="{% static 'myzdice/Dice/Die_Gear.png' %}" width="32" title="Gear_Die"> Gear</li>
            <br><span style="font-size: 0.8em;">&#8659; Found in "Extras" &#8659;</span>
            <li><img src="{% static 'myzdice/Dice/d6.png' %}" width="32" title="D6"> D6</li>
            <li><img src="{% static 'myzdice/Dice/d66.png' %}" width="32" title="D66"> D66</li>
            <li><img src="{% static 'myzdice/Dice/d666.png' %}" width="32" title="D666"> D666</li>
            <li><img src="{% static 'swdice/Dice/D100.png' %}" width="32" title="Numerical"> Numerical</li>
          </ul>
        </div>

        <div class="collapse" id="glossary2" data-parent="#Glossaries">
          <hr style="border: 1px solid white; margin-left: 20px; margin-right: 20px;">
          <p style="color: white; margin-left: 35px;"><strong>Pips</strong></p>
          <ul class="glossaryMYZ">
            <li style="padding-bottom: 10px;">
              <span class="glossaryDieBG">
              <img src="{% static 'myzdice/Results/success.png' %}" width="24" title="Success"></span>
              <strong>Success</strong>
              <br><span style="font-size: 0.8em;"> - Found on Base, Skill, or Gear dice</span>
            </li>
            <li>
              <span class="glossaryDieBG">
                <img src="{% static 'myzdice/Results/trauma.png' %}" width="24" title="Trauma"></span>
              <strong>Trauma</strong>
              <br><span style="font-size: 0.8em;"> - Wound to stat used for base dice</span>
            </li>
            <li><span class="glossaryDieBG">
              <img src="{% static 'myzdice/Results/damage.png' %}" width="24" title="Damage"></span>
              <strong>Damage</strong>
              <br><span style="font-size: 0.8em;"> - Reduces Gear/Armor Bonus</span>
            </li>
            <li>
              <span class="glossaryDieBG">
                <img src="{% static 'myzdice/Results/neg_suc.png' %}" width="24" title="Negative Success"></span>
              <strong>Negative Success</strong>
              <br><span style="font-size: 0.8em;"> - Only found on Negative Skill Dice; cancels a Success</span>
            </li>
          </ul>
        </div>

        <!--<div class="collapse" id="glossary4" data-parent="#Glossaries">-->
          <!--<p style="color: white; margin-left: 15px; margin-bottom: 5px;"><strong>Weapon Qualities - Active</strong></p>-->
          <!--<ul class="glossaryList">-->
            <!--<li><strong><u>Auto-fire</u></strong>-->
              <!--<span class="glossaryDieBG"-->
              <!--&gt;<img src="{% static 'gendice/Results/Adv01.png' %}" width="16" title="Advantage"><img-->
              <!--src="{% static 'gendice/Results/Adv01.png' %}" width="16" title="Advantage"></span>-->
              <!--(add +1-->
              <!--<span class="glossaryDieDiff" title="Difficulty"><strong>&#9830;</strong></span>-->
              <!--to roll)-->
              <!--<br>-->
              <!--Add add'n'l dam. (weapon base + <span class="glossaryDieBG"-->
              <!--&gt;<img src="{% static 'gendice/Results/Suc01.png' %}" width="16" title="Success"></span>'s)-->
              <!--[rating] times (may be diff. targets)-->
            <!--</li>-->
            <!--<li><strong><u>Blast</u></strong>-->
              <!--<span class="glossaryDieBG"-->
              <!--&gt;<img src="{% static 'gendice/Results/Adv01.png' %}" width="16" title="Advantage"><img-->
              <!--src="{% static 'gendice/Results/Adv01.png' %}" width="16" title="Advantage"></span> /-->
              <!--<span class="glossaryDieBG"-->
              <!--&gt;<img src="{% static 'gendice/Results/Adv01.png' %}" width="16" title="Advantage"><img-->
              <!--src="{% static 'gendice/Results/Adv01.png' %}" width="16" title="Advantage"><img-->
              <!--src="{% static 'gendice/Results/Adv01.png' %}" width="16" title="Advantage"></span>-->
              <!--(if unsuc.)-->
              <!--<br>All engaged with target take Damage = [rating] plus <span class="glossaryDieBG"-->
              <!--&gt;<img src="{% static 'gendice/Results/Suc01.png' %}" width="16" title="Success"></span>'s.-->
            <!--</li>-->
            <!--<li><strong><u>Burn</u></strong>-->
              <!--<span class="glossaryDieBG"-->
              <!--&gt;<img src="{% static 'gendice/Results/Adv01.png' %}" width="16" title="Advantage"><img-->
              <!--src="{% static 'gendice/Results/Adv01.png' %}" width="16" title="Advantage"></span>-->
              <!--<br>-->
              <!--Base weap. dam. for [rating] rounds-->
            <!--</li>-->
            <!--<li><strong><u>Concussive</u></strong>-->
              <!--<span class="glossaryDieBG"-->
              <!--&gt;<img src="{% static 'gendice/Results/Adv01.png' %}" width="16" title="Advantage"><img-->
              <!--src="{% static 'gendice/Results/Adv01.png' %}" width="16" title="Advantage"></span>-->
              <!--<br>Target <em>Staggered</em> for [rating] rounds</li>-->
            <!--<li><strong><u>Disorient</u></strong>-->
              <!--<span class="glossaryDieBG"-->
              <!--&gt;<img src="{% static 'gendice/Results/Adv01.png' %}" width="16" title="Advantage"><img-->
              <!--src="{% static 'gendice/Results/Adv01.png' %}" width="16" title="Advantage"></span>-->
              <!--<br>-->
              <!--Target <em>Disoriented</em> for [rating] rounds-->
            <!--</li>-->
            <!--<li><strong><u>Ensnare</u></strong>-->
              <!--<span class="glossaryDieBG"-->
              <!--&gt;<img src="{% static 'gendice/Results/Adv01.png' %}" width="16" title="Advantage"><img-->
              <!--src="{% static 'gendice/Results/Adv01.png' %}" width="16" title="Advantage"></span>-->
              <!--<br>Target <em>Immobilized</em> [rating] rounds.-->
              <!--<br><span class="glossaryDieDiff" title="Difficulty"><strong>&#9830; &#9830; &#9830;</strong></span>-->
              <!--Athletics check to escape-->
            <!--</li>-->
            <!--<li><strong><u>Guided</u></strong>-->
              <!--<span class="glossaryDieBG"-->
              <!--&gt;<img src="{% static 'gendice/Results/Adv01.png' %}" width="16" title="Advantage"><img-->
              <!--src="{% static 'gendice/Results/Adv01.png' %}" width="16" title="Advantage"><img-->
              <!--src="{% static 'gendice/Results/Adv01.png' %}" width="16" title="Advantage"></span>-->
              <!--<br>End of round incidental;-->
              <!--<span class="glossaryDieDiff" title="Difficulty"><strong>&#9830; &#9830;</strong></span> vs [rating]-->
              <!--<span class="glossaryDieAbil" title="Ability"><strong>&#9830;</strong></span>-->
              <!--for add'n'l attack-->
            <!--</li>-->
            <!--<li><strong><u>Knockdown</u></strong>-->
              <!--<span class="glossaryDieBG"-->
              <!--&gt;<img src="{% static 'gendice/Results/Adv01.png' %}" width="16" title="Advantage"><img-->
              <!--src="{% static 'gendice/Results/Adv01.png' %}" width="16" title="Advantage"></span>-->
              <!--(+ for sil. > 1)-->
              <!--<br>Target knocked <em>Prone</em>-->
            <!--</li>-->
            <!--<li><strong><u>Linked</u></strong>-->
              <!--<span class="glossaryDieBG"><img-->
              <!--src="{% static 'gendice/Results/Adv01.png' %}" width="16" title="Advantage"><img-->
              <!--src="{% static 'gendice/Results/Adv01.png' %}" width="16" title="Advantage"></span>-->
              <!--<br>Additional hits / [rating] to one target</li>-->
            <!--<li><strong><u>Stun</u></strong>-->
              <!--<span class="glossaryDieBG"-->
              <!--&gt;<img src="{% static 'gendice/Results/Adv01.png' %}" width="16" title="Advantage"><img-->
              <!--src="{% static 'gendice/Results/Adv01.png' %}" width="16" title="Advantage"></span>-->
              <!--<br>Cause <em>Strain</em> / [rating]; no Soak</li>-->
            <!--<li><strong><u>Sunder</u></strong>-->
              <!--<span class="glossaryDieBG"-->
              <!--&gt;<img src="{% static 'gendice/Results/Adv01.png' %}" width="16" title="Advantage"></span>-->
              <!--<br>One item/turn; may dam. mult. steps</li>-->
          <!--</ul>-->
        <!--</div>-->

        <!--<div class="collapse" id="glossary5" data-parent="#Glossaries">-->
          <!--<p style="color: white; margin-left: 15px; margin-bottom: 5px;"><strong>Weapon Qualities - Passive</strong></p>-->
          <!--<ul class="glossaryList">-->
            <!--<li><strong><u>Accurate</u></strong> - Add-->
              <!--<span class="glossaryDieBoo" title="Boost">&#9632;</span> / [rating]</li>-->
            <!--<li><strong><u>Breach</u></strong> - Ignore <strong>10</strong> Soak / [rating]</li>-->
            <!--<li><strong><u>Cumbersome</u></strong> - Increase difficulty / Brawn < [rating]</li>-->
            <!--<li><strong><u>Defensive</u></strong> - Inc. Melee Def. / [rating]</li>-->
            <!--<li><strong><u>Deflection</u></strong> - Inc. Rang. Def. / [rating]</li>-->
            <!--<li><strong><u>Inaccurate</u></strong> - Add-->
              <!--<span class="glossaryDieSet" title="Setback">&#9632;</span> / [rating]</li>-->
            <!--<li><strong><u>Inferior</u></strong> - Auto. <span class="glossaryDieBG"-->
              <!--&gt;<img src="{% static 'gendice/Results/Thr01.png' %}" width="16" title="Threat"></span>-->
              <!--on check</li>-->
            <!--<li><strong><u>Limited Ammo</u></strong> - Weapon can only be used [rating] times before reloading</li>-->
            <!--<li><strong><u>Pierce</u></strong> - Ignore 1 Soak / [rating]</li>-->
            <!--<li><strong><u>Prepare</u></strong> - Requires maneuver to ready</li>-->
            <!--<li><strong><u>Reinforced</u></strong> - Immune to Sunder</li>-->
            <!--<li><strong><u>Slow-firing</u></strong> - Wait rounds / [rating] between uses</li>-->
            <!--<li><strong><u>Stun-damage</u></strong> - Weapon only deals damage to Strain (soak applies)</li>-->
            <!--<li><strong><u>Superior</u></strong> - Auto <span class="glossaryDieBG"-->
              <!--&gt;<img src="{% static 'gendice/Results/Adv01.png' %}" width="16" title="Advantage"></span>-->
              <!--to checks</li>-->
            <!--<li><strong><u>Tractor</u></strong> - Immobilizes people; Piloting check against-->
              <!--<span class="glossaryDieDiff" title="Difficulty"><strong>&#9830;</strong></span> / [rating]</li>-->
            <!--<li><strong><u>Unwieldy</u></strong> - Increase difficulty / Agility < [rating]</li>-->
            <!--<li><strong><u>Vicious</u></strong> - Adds +10 / [rating] to Crit Rolls</li>-->
          <!--</ul>-->
        <!--</div>-->

      </div>

    </div>
  </div>
  {% endif %}
</div>

<div class="container">
  <br>
  {% if not viewing_basic_room %}
    {% block info_page %}
    {% endblock %}
  {% endif %}
  {% block form_inputs %}
    {% if not room.disabled %}
    <form id="destiny" method="POST" autocomplete="off">
      {% csrf_token %}
      <div class="row no-gutters">
        <div class="col-lg-9 col-xl-8">
          {% block dice_box %}
            <div class="dice-box">
              <div class="row no-gutters justify-content-start">
                <div class="col-6 col-md-3 col-lg-2">
                  <table class="dice_table_sml">
                    <tr>
                      <td>
                        <img src="{% static 'myzdice/Dice/Die_Base.png' %}" width="40" title="Base Die">
                        {{ dice_form.num_base_dice }}
                      </td>
                      <td>
                        <button type="button"
                                onclick="addOne('base')"
                                class="btn btn-light btn-sm">
                            &#9650
                        </button>
                        <br>
                        <button type="button"
                                onclick="subtractOne('base')"
                                class="btn btn-light btn-sm">
                            &#9660
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                  <table class="dice_table_sml">
                    <tr>
                      <td>
                        <img src="{% static 'myzdice/Dice/Die_Skill.png' %}" width="40"
                             title="Skill Die" id="skill_die">
                        {{ dice_form.num_skill_dice }}
                      </td>
                      <td>
                        <button type="button" onclick="addOneSkill()" class="btn btn-light btn-sm">
                          &#9650
                        </button>
                        <br>
                        <button type="button" onclick="subtractOneSkill()" class="btn btn-light btn-sm">
                          &#9660
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                  <table class="dice_table_sml">
                    <tr>
                      <td>
                        <img src="{% static 'myzdice/Dice/Die_Gear.png' %}" width="40" title="Gear Die">
                        {{ dice_form.num_gear_dice }}
                      </td>
                      <td>
                        <button type="button" onclick="addOne('gear')" class="btn btn-light btn-sm">
                          &#9650
                        </button>
                        <br>
                        <button type="button" onclick="subtractOne('gear')" class="btn btn-light btn-sm">
                          &#9660
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                  <table class="dice_table_sml">
                    <tr><td>
                      <button type="button" id="show_pips_button" class="btn btn-outline-secondary btn-sm"
                                  onclick="showAutoPipsMYZ()" style="margin: auto; display: block;">
                        Show Extras
                      </button>
                      <button type="button" id="hide_pips_button" class="btn btn-outline-secondary btn-sm"
                              onclick="hideAutoPipsMYZ()" style="margin: auto; display: none">
                        Hide Extras
                      </button>
                    </td></tr>
                  </table>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <table class="dice_table_lrg">
                    <tr>
                      <td>
                        {{ dice_form.caption }}
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="row no-gutters" id="hidden_fields_1" style="display:none">
                <div class="col-6 col-md-3 col-lg-2">
                  <table class="dice_table_sml">
                    <tr>
                      <td>
                        <img src="{% static 'myzdice/Dice/Auto_Trauma.png' %}" width="40"
                             title='Automatic Trauma'>
                        {{ dice_form.additional_trauma }}
                      </td>
                      <td>
                        <button type="button" onclick="addOne('trauma')" class="btn btn-light btn-sm">
                          &#9650
                        </button>
                        <br>
                        <button type="button" onclick="subtractOne('trauma')" class="btn btn-light btn-sm">
                          &#9660
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                  <table class="dice_table_sml">
                    <tr>
                      <td>
                        <img src="{% static 'myzdice/Dice/Auto_Negative_Success.png' %}" width="40"
                             title='Automatic Negative Success'>
                        {{ dice_form.additional_failure }}
                      </td>
                      <td>
                        <button type="button" onclick="addOne('failure')" class="btn btn-light btn-sm">
                          &#9650
                        </button>
                        <br>
                        <button type="button" onclick="subtractOne('failure')" class="btn btn-light btn-sm">
                          &#9660
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                  <table class="dice_table_sml">
                    <tr>
                      <td>
                        <img src="{% static 'myzdice/Dice/Auto_Gear_Damage.png' %}" width="40"
                             title='Automatic Gear Damage'>
                        {{ dice_form.additional_damage }}
                      </td>
                      <td>
                        <button type="button" onclick="addOne('damage')" class="btn btn-light btn-sm">
                          &#9650
                        </button>
                        <br>
                        <button type="button" onclick="subtractOne('damage')" class="btn btn-light btn-sm">
                          &#9660
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                  <table class="dice_table_sml">
                    <tr>
                      <td>
                        {{ dice_form.is_pushed }}
                      </td>
                      <td>
                        Check if <em>pushed</em>.
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                  <table class="dice_table_lrg">
                    <tr>
                      <td>
                        <img src="{% static 'swdice/Dice/D100.png' %}" width="80" title="Numerical Dice">
                        <span class="big-font"> d</span>
                        {{ dice_form.numerical_dice_sides }}
                        {{ dice_form.num_numerical_dice }}
                      </td>
                      <td>
                        <button type="button" onclick="addOne('numerical')" class="btn btn-light btn-sm">
                          &#9650
                        </button>
                        <br>
                        <button type="button" onclick="subtractOne('numerical')" class="btn btn-light btn-sm">
                          &#9660
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="row no-gutters" id="hidden_fields_2" style="display:none">
                <div class="col-6 col-md-3 col-lg-2">
                  <table class="dice_table_sml">
                    <tr>
                      <td>
                        <img src="{% static 'myzdice/Dice/Auto_Success_Base.png' %}" width="40"
                             title='Automatic Success (Base)'>
                        {{ dice_form.additional_success_base }}
                      </td>
                      <td>
                        <button type="button" onclick="addOne('success_base')" class="btn btn-light btn-sm">
                          &#9650
                        </button>
                        <br>
                        <button type="button" onclick="subtractOne('success_base')" class="btn btn-light btn-sm">
                          &#9660
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                  <table class="dice_table_sml">
                    <tr>
                      <td>
                        <img src="{% static 'myzdice/Dice/Auto_Success_Skill.png' %}" width="40"
                             title='Automatic Success (Skill)'>
                        {{ dice_form.additional_success_skill }}
                      </td>
                      <td>
                        <button type="button" onclick="addOne('success_skill')" class="btn btn-light btn-sm">
                          &#9650
                        </button>
                        <br>
                        <button type="button" onclick="subtractOne('success_skill')" class="btn btn-light btn-sm">
                          &#9660
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                  <table class="dice_table_sml">
                    <tr>
                      <td>
                        <img src="{% static 'myzdice/Dice/Auto_Success_Gear.png' %}" width="40"
                             title='Automatic Success (Gear)'>
                        {{ dice_form.additional_success_gear }}
                      </td>
                      <td>
                        <button type="button" onclick="addOne('success_gear')" class="btn btn-light btn-sm">
                          &#9650
                        </button>
                        <br>
                        <button type="button" onclick="subtractOne('success_gear')" class="btn btn-light btn-sm">
                          &#9660
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                  <table class="dice_table_sml">
                    <tr>
                      <td>
                        <img src="{% static 'myzdice/Dice/d6.png' %}" width="40" title="MYZ D6">
                        {{ dice_form.num_d6 }}
                      </td>
                      <td>
                        <button type="button" onclick="addOne('d6')" class="btn btn-light btn-sm">
                          &#9650
                        </button>
                        <br>
                        <button type="button" onclick="subtractOne('d6')" class="btn btn-light btn-sm">
                          &#9660
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                  <table class="dice_table_sml">
                    <tr>
                      <td>
                        <img src="{% static 'myzdice/Dice/d66.png' %}" width="40" title="MYZ D66">
                        {{ dice_form.num_d66 }}
                      </td>
                      <td>
                        <button type="button" onclick="addOne('d66')" class="btn btn-light btn-sm">
                          &#9650
                        </button>
                        <br>
                        <button type="button" onclick="subtractOne('d66')" class="btn btn-light btn-sm">
                          &#9660
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-6 col-md-3 col-lg-2">
                  <table class="dice_table_sml">
                    <tr>
                      <td>
                        <img src="{% static 'myzdice/Dice/d666.png' %}" width="40" title="MYZ D666">
                        {{ dice_form.num_d666 }}
                      </td>
                      <td>
                        <button type="button" onclick="addOne('d666')" class="btn btn-light btn-sm">
                          &#9650
                        </button>
                        <br>
                        <button type="button" onclick="subtractOne('d666')" class="btn btn-light btn-sm">
                          &#9660
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col-12 col-md-6 col-lg-4" style="text-align:center">
                  <table class="dice_table_lrg">
                    <tr>
                      <td>
                        <button type="submit" class="btn btn-warning btn-lg" id="roll_dice_button"
                                name="roll_dice" style="margin: auto">
                          <strong>Roll 'Em!</strong>
                        </button>
                        <button type="submit" class="btn btn-outline-warning btn-lg" id="roll_dice_secret_button"
                                name="roll_dice_secret" style="margin: auto; display: none;">
                          <strong>Roll 'Em</strong><em>, secretly!</em>
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-12 col-md-6 col-lg-4" style="text-align:center">
                  <table class="dice_table_lrg">
                    <tr>
                      <td>
                        <button type="button" id="show_secret_roll_button" class="btn btn-outline-secondary btn-sm"
                                onclick="showSecretRoll()" style="display: block; margin: auto;">
                          Switch to Secret Roll
                        </button>
                        <button type="button" id="hide_secret_roll_button" class="btn btn-outline-secondary btn-sm"
                                onclick="hideSecretRoll()" style="display: none; margin: auto">
                          Switch to Regular Roll
                        </button>
                        <span id="secret_warning" style="display:none">
                          {% if player_is_gm %}
                            <em>As GM, only you will see this roll.</em>
                          {% else %}
                            <em>You and the GM will see this roll.</em>
                          {% endif %}
                        </span>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-12 col-md-6 col-lg-4" style="text-align:center">
                  <table class="dice_table_lrg">
                    <tr>
                      <td></td>
                      <td>
                        <div id="push_button">
                          {% if allow_push %}
                            <button type="button" id="reset_dice" class="btn btn-outline-secondary btn-sm"
                                  onclick="resetDiceMYZ()" style="margin: auto; display: none">
                              Reset Dice
                            </button>
                            <button type="button" id="setup_push" class="btn btn-outline-success btn-sm"
                                  onclick="setupPushMYZ()" style="margin: auto; display: block">
                              Setup Push
                            </button>
                          {% endif %}
                        </div>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          {% endblock dice_box %}
        </div>
        <div class="col-lg-3 col-xl-4">
          {% block player_info %}
            <table style="width: 100%;">
              <tr>
                {% if icon %}
                  <td rowspan="2" style="width:90px">
                    <img src="{{ icon }}" width="80">
                  </td>
                  <td>
                    <span style="color:gray">You are signed in as: </span>
                    <br>
                    <strong>{{ name_in_room }}</strong>
                  </td>
                {% else %}
                  <td colspan="2">
                    <span style="color:gray">You are signed in as: </span>
                    <br>
                    <strong>{{ name_in_room }}</strong>
                  </td>
                {% endif %}
              </tr>
              <tr>
                <td>
                  <a href="{% url 'myzdice:switch_avatar_room' room_number %}">
                    <button type="button" class="btn btn-light btn-sm" name="switch_avatar">
                      Switch Avatar <strong>&#12299</strong>
                    </button>
                  </a>
                </td>
              </tr>
            </table>
          {% endblock player_info %}
          {% block chat_header %}
            <hr>
            <h5>Chat</h5>
          {% endblock chat_header %}
          {% block chat_input %}
            <div class="container-fluid" id="chat_input" style="padding:0">
              {{ chat_form.chat_text }}
              {{ chat_form.recipient }}
              <button type="submit" name="chat" id="chat_submit"
                      class="btn {%if start_whisper%}btn-outline-warning{%else%}btn-outline-dark{%endif%} btn-sm" >
                {%if start_whisper%}Whisper{%else%}Add Chat{%endif%}
              </button>
            </div>
          {% endblock chat_input %}
            </div>
      </div>
    </form>
    {% else %}
    <h3>This room has been archived by the GM.</h3>
    <p>No new rolls or chats may be made in it.</p>
    {% endif %}
    {% endblock form_inputs %}
    <div class="row no-gutters">
      <div class="col-lg-9 col-xl-8">
        <hr>
        {% block alt_destiny %}
        {% endblock %}
        {% block actions_header %}
        {% endblock actions_header %}
        {% block action_log %}
          <div class="container-fluid" id="action_log" style="padding:0">
            {% if action_log is empty %}
                <p>This room has no actions.</p>
            {% else %}
            <table id="action_table">
              <col width="50px">
                {% for action in action_log %}
                  {% if not action.secret_roll or player_is_gm or action.user == user %}
                    {% if not action.secret_roll %}
                      <tr>
                    {% elif action.user == user %}
                      <tr style="background-color:#fff3a2;">
                    {% else %}
                      <tr style="background-color:#fff372;">
                    {% endif %}
                    {% if action.is_just_caption %}
                      <td>
                        {% if action.image_url %}
                          <img src="{{ action.image_url }}"
                               title="{{ action.user.username }} as {% if action.avatar %}{{ action.avatar.avatar_name }}{% else %}theirself{% endif %}"
                               width="40">
                        {% endif %}
                      </td>
                      <td>
                        {% if action.secret_roll %}
                          <em>secret roll</em><br>
                        {% endif %}
                          <strong>{% if action.avatar %}{{ action.avatar.avatar_name }}{% else %}
                              {{ action.user.username }}{% endif %}</strong>:
                        {{ action.caption }}
                      </td>
                    {% else %}
                      <td>
                        {% if action.image_url %}
                          <img src="{{ action.image_url }}"
                               title="{{ action.user.username }} as {% if action.avatar %}{{ action.avatar.avatar_name }}{% else %}theirself{% endif %}"
                               width="40">
                        {% endif %}
                      </td>
                      <td>
                        {% if action.secret_roll %}
                          <em>secret roll</em><br>
                        {% endif %}
                        <p style="padding: 0px; margin: 6px;">
                          <strong>{% if action.avatar %} {{ action.avatar.avatar_name }} {% else %}
                                  {{ action.user.username }} {% endif %} </strong>
                          {% if action.holdover_faces %}
                            Kept:
                            <!--Individual Faces-->
                            {% for face in action.holdover_faces|split_string %}
                              {% if face %}
                                {% with 'myzdice/Faces/'|add:face|add:'.png' as face_image %}
                                <img src="{% static face_image %}" title="{{face}}" width="32px">
                                {% endwith %}
                              {% endif %}
                            {% endfor %}
                          {% endif %}
                          Rolled:
                          <!--Individual Faces-->
                          {% for face in action.faces_summary|split_string %}
                            {% if face %}
                              {% with 'myzdice/Faces/'|add:face|add:'.png' as face_image %}
                              <img src="{% static face_image %}" title="{{face}}" width="32px">
                              {% endwith %}
                            {% endif %}
                          {% endfor %}
                        </p>
                        <p style="padding: 0px; margin: 6px;">
                          {% if action.results_success > 0 %}
                            <strong>Succeeds with: </strong>
                            {% for i in action.results_success|get_range %}
                              <img src="{% static 'myzdice/Results/success.png' %}"
                                   title="{{action.results_success}} Success" width="32px">
                            {% endfor %}
                          {% else %}
                            {% if action.num_base_dice > 0 or action.num_skill_dice != 0 or action.num_gear_dice > 0 %}
                              <strong>Fails </strong>
                            {% endif %}
                          {% endif %}

                          {% if action.results_failure > 0 %}
                            <strong>with: </strong>
                            {% for i in action.results_failure|get_range %}
                              <img src="{% static 'myzdice/Results/neg_suc.png' %}"
                                   title="{{action.results_failure}} Negative Success" width="32px">
                            {% endfor %}
                          {% endif %}

                          {% if action.results_trauma > 0 %}
                            <strong>Suffers: </strong>
                            {% for i in action.results_trauma|get_range %}
                              <img src="{% static 'myzdice/Results/trauma.png' %}"
                                   title="{{action.results_trauma}} Trauma" width="32px">
                            {% endfor %}
                          {% endif %}

                          {% if action.results_damage > 0 %}
                            <strong>Damages Gear: </strong>
                            {% for i in action.results_damage|get_range %}
                              <img src="{% static 'myzdice/Results/damage.png' %}"
                                   title="{{action.results_damage}} Gear Damage" width="32px">
                            {% endfor %}
                          {% endif %}
                          {% if action.num_numerical_dice > 0 or action.num_d6_dice > 0 or action.num_d66_dice > 0 or action.num_d666_dice > 0 %}
                              <strong>Rolls: </strong>
                          {% endif %}

                          {% if action.results_d6 %}
                            {% for number in action.results_d6|split_string %}
                              {% if number %}
                                <div style="border-style: solid; border-color: black; border-width: 1px;
                                    display: inline-block; margin: 5px; padding: 2px; width: 32px; height: 32px;
                                    background-color: #474F8D; color: white; text-align: center;">
                                  {{ number }}
                                </div>
                              {% endif %}
                            {% endfor %}
                          {% endif %}

                          {% if action.results_d66 %}
                            {% for number in action.results_d66|split_string %}
                              {% if number %}
                                <div style="border-style: solid; border-color: black; border-width: 1px;
                                    display: inline-block; margin: 5px; padding: 2px; width: 40px; height: 32px;
                                    background-color: #121961; color: white; text-align: center;">
                                  {{ number }}
                                </div>
                              {% endif %}
                            {% endfor %}
                          {% endif %}

                          {% if action.results_d666 %}
                            {% for number in action.results_d666|split_string %}
                              {% if number %}
                                <div style="border-style: solid; border-color: black; border-width: 1px;
                                    display: inline-block; margin: 5px; padding: 2px; width: 48px; height: 32px;
                                    background-color: #0B1044; color: white; text-align: center;">
                                  {{ number }}
                                </div>
                              {% endif %}
                            {% endfor %}
                          {% endif %}

                          {% if action.results_numerical %}
                            {% for number in action.results_numerical|split_string %}
                              {% if number %}
                                (
                                <span style="border-style: solid; border-color: black; border-width: 1px;
                                    display: inline; margin: 5px; padding: 2px; width: 40px; height: 40px;">
                                  {{ number }}
                                </span>
                                /
                                <span style="border-style: groove; border-color: black; border-width: 1px;
                                    display: inline; margin: 5px; padding: 2px; width: 40px; height: 40px;
                                    border-radius: 10px">
                                  d {{ action.numerical_dice_sides }}
                                </span>
                                )
                              {% endif %}
                            {% endfor %}
                          {% endif %}

                           {% if action.results_cancel%}
                            <em>All dice have cancelled.</em>
                           {% endif %}
                        </p>
                        {% if action.caption %}
                          <p style="padding: 0px; margin: 6px;">
                            <strong>Caption: </strong>
                            {{ action.caption }}
                          </p>
                        {% endif %}
                      </td>
                    {% endif %}
                  </tr>
                  {% endif %}
                  {% endfor %}
              </table>
              {% endif %}
          </div>
          {% endblock action_log %}
      </div>
      <div class="col-lg-3 col-xl-4" style="padding:0;">
        {% block alt_chat_header %}
        {% endblock %}
        {% block chat_log %}
          <div class="container-fluid" id="chat_log" style="padding:0">
            <hr>
            {% block glossary %}
            {% endblock glossary %}
            {% if chat_log is empty %}
              <p>This room has no chats</p>
            {% else %}
              <table id="chat_table">
                <col width="50px">
                {% for chat in chat_log %}
                  {% if chat.is_private %}
                    {% if chat.recipient == user %}
                      <tr>
                        <td>
                        {% if chat.image_url %}
                          <img src="{{ chat.image_url }}"
                               title="{{ chat.user.username }} as {% if chat.avatar %}{{ chat.avatar.avatar_name }}{% else %}theirself{% endif %}"
                               width="40">
                        {% endif %}
                        </td>
                        <td style="background-color:#fff372;">
                          {% if chat.avatar %}
                            <em>{{ chat.avatar.avatar_name }} whispers to you:</em>
                          {% else %}
                            <em>{{ chat.user.username }} whispers to you:</em>
                          {% endif %}
                          <br>{{chat.chat_text}}
                        </td>
                      </tr>
                    {% elif chat.user == user %}
                      <tr>
                        <td>
                          {% if chat.image_url %}
                            <img src="{{ chat.image_url }}"
                                 title="{{ chat.user.username }} as {% if chat.avatar %}{{ chat.avatar.avatar_name }}{% else %}theirself{% endif %}"
                                 width="40">
                          {% endif %}
                        </td>
                        <td style="background-color:#fff3a2;">
                          <em>You whisper to
                          {% if chat.recipient_avatar %}
                            {{ chat.recipient_avatar.avatar_name }}:
                          {% else %}
                            {{ chat.recipient.username }}:</em>
                          {% endif %}
                          <br>{{chat.chat_text}}
                        </td>
                      </tr>
                    {% endif %}
                  {% else %}
                    <tr>
                      <td>
                        {% if chat.image_url %}
                          <img src="{{ chat.image_url }}"
                               title="{{ chat.user.username }} as {% if chat.avatar %}{{ chat.avatar.avatar_name }}{% else %}theirself{% endif %}"
                               width="40">
                        {% else %}
                          <div class="container-fluid" style="overflow: hidden; max-height: 70px; margin: 0px; padding: 0px;">
                            {% if chat.avatar %}
                              <span style="width:40px; word-wrap:break-word; display:inline-block;">
                              <strong>{{ chat.avatar.avatar_name }}</strong></span>
                            {% else %}
                              <span style="width:40px; word-wrap:break-word; display:inline-block;">
                              <strong>{{ chat.user.username }}</strong></span>
                            {% endif %}
                          </div>
                        {% endif %}
                      </td>
                      <td>
                        {{chat.chat_text}}
                      </td>
                    </tr>
                  {% endif %}
                {% endfor %}
              </table>
            {% endif %}
          </div>
          {% endblock %}
          {% block page_updates %}
          <div class="container-fluid" id="last_times">
            <p style="display: none">Last action taken: <span id="actionTime">{{ update_times.action.isoformat }}</span></p>
            <p style="display: none">Last chat made: <span id="chatTime">{{ update_times.chat.isoformat }}</span></p>
          </div>
          <div class="container-fluid">
            <p style="display: none">Page last updated: <span id="updateTime"></span></p>
          </div>
        {% endblock %}
      </div>
  </div>
</div>

{% block page_scripts %}
<script src="{% static 'vanlevy/files/js/dice_common.js' %}"></script>
<script>
function addOne(id) {
    document.getElementById(id).stepUp(1);
};
function subtractOne(id) {
    document.getElementById(id).stepDown(1);
};
function changeSkillImage() {
    var skill_dice = document.getElementById('skill').value;
    var skill_url = "{% static 'myzdice/Dice/Die_Skill.png' %}";
    var negsk_url = "{% static 'myzdice/Dice/Die_Neg_Skill.png' %}";
    if (skill_dice < 0) {
        document.getElementById('skill_die').src = negsk_url;
    } else {
        document.getElementById('skill_die').src = skill_url;
    };
};
function addOneSkill() {
    document.getElementById('skill').stepUp(1);
    changeSkillImage();
};
function subtractOneSkill() {
    document.getElementById('skill').stepDown(1);
    changeSkillImage();
};
function setupPushMYZ() {
    document.getElementById('base').value = {{ push_base }};
    document.getElementById('skill').value = {{ push_skill }};
    document.getElementById('gear').value = {{ push_gear }};
    document.getElementById('is_pushed').checked = true;
    document.getElementById('trauma').value = {{ push_trauma }};
    document.getElementById('failure').value = {{ push_neg_suc }};
    document.getElementById('damage').value = {{ push_damage }};
    document.getElementById('success_base').value = {{ push_base_suc }};
    document.getElementById('success_skill').value = {{ push_skill_suc }};
    document.getElementById('success_gear').value = {{ push_gear_suc }};
    document.getElementById('reset_dice').style.display='block';
    document.getElementById('setup_push').style.display='none';
    changeSkillImage();
};
function showAutoPipsMYZ() {
    document.getElementById('hidden_fields_1').style.display='flex';
    document.getElementById('hidden_fields_2').style.display='flex';
    document.getElementById('show_pips_button').style.display='none';
    document.getElementById('hide_pips_button').style.display='block';
};
function hideAutoPipsMYZ() {
    document.getElementById('hidden_fields_1').style.display='none';
    document.getElementById('hidden_fields_2').style.display='none';
    document.getElementById('show_pips_button').style.display='block';
    document.getElementById('hide_pips_button').style.display='none';
};

</script>
{% endblock page_scripts %}
{% endblock body %}