{% extends 'sw_base.html' %}

{% block head %}
    <meta charset="UTF-8">
    <title>About SW Dice Roller</title>
{% endblock %}

{% block brand %}
    {% load static %}
        <h4>
            <a class="navbar-brand" href="{% url 'vanlevy:home' %}">
                <img src="{% static '/vanlevy/IconReverse_32.png' %}" alt="Van Levy Icon" height="32" width="32">
                Van Levy
            </a>
            <a class="navbar-brand" style="color:white;" href="{% url 'swdice:dockingbay' %}">
                <img src="{% static '/vanlevy/droid_background_32.png' %}" alt="SW Dice Roller" height="32" width="32">
                {% block subtitle %} About{% endblock %}
            </a>

        </h4>
{% endblock %}

{% block body %}
{% block other_navbar_right %}
{% endblock %}
<div class="container">
    <p></p>
    <h2>About the SW Dice Roller</h2>
    <p>
        Words here about SW Dice Roller.
    </p>
    <p>
        Possible ideas:
    </p>
    <ul>
        <li>amazon affiliate links</li>
        <li>pdf for character sheets</li>
        <li>pdf for vehicle sheets</li>
        <li>SW Specific resources? (risks overlapping with cool stuff; make based on category?)</li>
    </ul>

</div>
{% endblock %}