{% extends 'sw_base.html' %}
{% load static %}
{% load diceroomtags %}

{% block head %}
  <meta charset="UTF-8">
  <title>About SW Dice Roller</title>
{% endblock %}

{% block brand %}
  <h4>
    <a class="navbar-brand" href="{% url 'vanlevy:home' %}">
      <img src="{% static '/vanlevy/images/IconReverse_32.png' %}" alt="Van Levy Icon" height="32" width="32">
      Van Levy
    </a>
    <a class="navbar-brand" style="color:white;" href="{% url 'swdice:dockingbay' %}">
      <img src="{% static '/vanlevy/images/droid_background_32.png' %}" alt="SW Dice Roller" height="32" width="32">
      {% block subtitle %} About - Star Wars Dice{% endblock %}
    </a>
  </h4>
{% endblock %}

{% block body %}
{% block other_navbar_right %}
{% endblock %}
<div class="container">
  <div class="row no-gutters" style="margin-top: 24px; min-height: 60px;">
    <div class="card text-center text-white bg-dark mb-3 col-lg-3 col-sm-6">
      <img class="card-img" src="{% static '/swdice/DockingBay2.png' %}" alt="Docking Bay Banner">
      <div class="card-img-overlay">
        <h3 class="card-title" style="color: #b6baf4; margin-top: -8px;">
          <strong>Star Wars</strong>
        </h3>
      </div>
    </div>
    <div class="card text-center border-dark mb-3 text-white col-lg-3 col-sm-6">
      <a href="{% url 'gendice:about' %}" style="color: #fb911d;">
        <img class="card-img" src="{% static '/gendice/GenesysMashConfluence_BW_BW.png' %}" alt="Confluence Banner">
        <div class="card-img-overlay">
          <h5 class="card-title" style="text-decoration: underline;">Genesys</h5>
        </div>
      </a>
    </div>
    <div class="card text-center border-dark mb-3 text-white col-lg-3 col-sm-6">
      <a href="{% url 'myzdice:about' %}" style="color: #f1d56a;">
        <img class="card-img" src="{% static '/myzdice/MYZ_Banner_BW_BW.png' %}" alt="The Zone Banner">
        <div class="card-img-overlay">
          <h5 class="card-title" style="text-decoration: underline;">Mutant: Year Zero</h5>
        </div>
      </a>
    </div>
    <div class="card text-center border-dark mb-3 text-white col-lg-3 col-sm-6">
        <a href="{% url 'polydice:about' %}" style="color: #92C777;">
          <img class="card-img" src="{% static '/polydice/hub_dungeon_BW_BW.png' %}" alt="Dungeon Banner" >
          <div class="card-img-overlay">
            <h5 class="card-img-overlay" style="text-decoration: underline;">Polyhedral</h5>
          </div>
        </a>
      </div>
  </div>

  <div class="row no-gutters card-roller" id="card-roller-all">
    <div class="card border-dark mb-3" style="max-width: 100%; width: 100%;">
      <div class="card-header bg-dark text-white ">
        <h4>
          Using the Star Wars Dice Roller
          <button class="btn btn-outline-light align-right" type="button" id="card-roller-btn-hide"
                  style="display: inline;"
                  onClick="return collapseCard('#DiceRollerCard', '#card-roller-all', 'card-roller',
                                               '#card-roller-btn-hide', '#card-roller-btn-show')">
            &#9866;
          </button>
          <button class="btn btn-outline-light align-right" type="button" id="card-roller-btn-show"
                  style="display: none;"
                  onClick="return showCard('#DiceRollerCard', '#card-roller-all', 'card-roller',
                                          '#card-roller-btn-show', '#card-roller-btn-hide')">
            &#10010;
          </button>
        </h4>
      </div>
      <div class="collapse show" id="DiceRollerCard">
        <div class="card card-body border-0" style="width: 100%;">
          <div class="row no-gutters" id="DiceRoller">
            <div class="col-lg-10 col-md-9 col-sm-8">
              <div class="collapse show" id="JoinRoom" data-parent="#DiceRoller">
                <h5>Joining a Room</h5>
                <p class="card-text">
                  There are two ways to join a room: Use a Direct Link or the Room ID and Passcode.
                </p>
                <ul style="margin-left: -20px;">
                    <li>
                        If you have a Direct Link, paste it into your browser.
                    </li>
                    <li>
                        If you know the Room ID and Passcode, you can enter them (and choose your Avatar) while in
                        the <a href="{% url 'swdice:dockingbay' %}">Docking Bay</a>.
                    </li>
                </ul>
                <p class="card-text">
                  Once inside a room, a player can change their Avatar by using the Switch Avatar button.
                </p>
              </div>
              <div class="collapse" id="MakeRoom" data-parent="#DiceRoller">
                <h5>Making a Room</h5>
                <p class="card-text">
                  To make a new room, you must be in the <a href="{% url 'swdice:dockingbay' %}">Docking Bay</a>,
                    and then click on the button (bottom right) to make a new room.
                    You will be asked to give the room a Name and choose to have the room Open or Closed.
                </p>
                <ul style="margin-left: -20px;">
                    <li>Open Rooms can be joined by anyone who knows (or guesses) the Room ID.</li>
                    <li>
                      Restricted Rooms require a Passcode to enter; when you create one, you will be
                      prompted for a Passcode.
                    </li>
                    <li>
                      If you send the Direct Link to your players, it will have the Passcode embedded.
                    </li>
                  </ul>
              </div>
              <div class="collapse" id="RoomInfo" data-parent="#DiceRoller">
                <h5>Getting Room Info</h5>
                <p class="card-text">
                  There are two places you can go to find Room Info.
                </p>
                <ul style="margin-left: -20px;">
                  <li>
                    Inside each Dice Room is an info link (
                    <span style="background: #252525"><img src="{% static '/swdice/RoomInfoSmall_32.png' %}"
                                                            alt="Room Info" height="20" width="20" style="margin-bottom: 3px"></span>
                    ) found on the top right of the page (next to the Profile Drop-down).
                    Both Players and GMs can use this link, but GMs have access to more information.
                  </li>
                  <li>
                    (GMs only) Once you're on the Hub Page, look for a plus button (
                    <button type="button" style="padding: 0;">
                        <img src="{% static '/vanlevy/images/plus_clear_40.png' %}" alt="info" width="16" height="16">
                    </button>
                    ) for your room;
                    clicking that reveals info that only GM's can see.
                  </li>
                </ul>
              </div>
              <div class="collapse" id="GMControls" data-parent="#DiceRoller">
                <h5>GM Controls</h5>
                <p class="card-text">
                  GMs have additional privileges in their rooms.  (The user who creates a room is GM by default.)
                  GMs can:
                </p>
                <ul style="margin-left: -20px;">
                  <li>See more information about the room (including Direct Links, Passcode, etc.)</li>
                  <li>Ban/Unban players; GMs can also make a player the GM for that room.</li>
                  <li>
                    Archive a room.  Archived Rooms are hidden (but still accessible) on the
                    <a href="{% url 'swdice:dockingbay' %}">Docking Bay</a>;
                    they also have Dice and Chat turned off.
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
              <div class="btn-group-vertical align-right" style="width: 100%;">
                <button class="btn btn-dark" type="button" id="btnJoinRoom" disabled
                        onClick="return switchAndCollapse('#btnJoinRoom',
                                                          ['#btnMakeRoom','#btnRoomInfo', '#btnGmControls'],
                                                          '#JoinRoom', ['#MakeRoom', '#RoomInfo', '#GMControls'],
                                                          'btn-outline-dark', 'btn-dark')">
                    Joining a Room
                </button>
                <button class="btn btn-outline-dark" type="button" id="btnMakeRoom"
                        onClick="return switchAndCollapse('#btnMakeRoom',
                                                          ['#btnJoinRoom','#btnRoomInfo', '#btnGmControls'],
                                                          '#MakeRoom', ['#JoinRoom', '#RoomInfo', '#GMControls'],
                                                          'btn-outline-dark', 'btn-dark')">
                    Making a Room
                </button>
                <button class="btn btn-outline-dark" type="button" id="btnRoomInfo"
                        onClick="return switchAndCollapse('#btnRoomInfo',
                                                          ['#btnJoinRoom', '#btnMakeRoom', '#btnGmControls'],
                                                          '#RoomInfo', ['#MakeRoom', '#JoinRoom', '#GMControls'],
                                                          'btn-outline-dark', 'btn-dark')">
                    Getting Room Info
                </button>
                <button class="btn btn-outline-dark" type="button" id="btnGmControls"
                        onClick="return switchAndCollapse('#btnGmControls',
                                                          ['#btnJoinRoom', '#btnMakeRoom','#btnRoomInfo'],
                                                          '#GMControls', ['#MakeRoom', '#JoinRoom', '#RoomInfo'],
                                                          'btn-outline-dark', 'btn-dark')">
                    GM Controls
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row no-gutters card-dice" id="card-dice-all">
    <div class="card border-dark mb-3" style="max-width: 100%; width: 100%;">
      <div class="card-header bg-primary text-white ">
        <h4>
          Dice Mechanics
          <button class="btn btn-outline-light align-right" type="button" id="card-dice-btn-hide"
                  style="display: inline;"
                  onClick="return collapseCard('#DiceMechanicsCard', '#card-dice-all', 'card-dice',
                                               '#card-dice-btn-hide', '#card-dice-btn-show')">
            &#9866;
          </button>
          <button class="btn btn-outline-light align-right" type="button" id="card-dice-btn-show"
                  style="display: none;"
                  onClick="return showCard('#DiceMechanicsCard', '#card-dice-all', 'card-dice',
                                          '#card-dice-btn-show', '#card-dice-btn-hide')">
            &#10010;
          </button>
        </h4>
      </div>
      <div class="collapse show" id="DiceMechanicsCard">
        <div class="card card-body border-0" style="width: 100%;">
          <div class="row no-gutters" id="DiceMechanics">
            <div class="col-lg-10 col-md-9 col-sm-8">
              <div class="collapse show" id="DiceTypes" data-parent="#DiceMechanics">
                <h5>Dice Types</h5>
                <p class="card-text">
                  The Star Wars Dice Roller uses eight different dice.
                </p>
                <div class="row">
                  <div class="col">
                    <ul style="list-style-type:none;">
                      <li>
                        <img src="{% static 'swdice/Dice/boost.png' %}" width="32" height="32" alt="boost die">
                        Boost
                      </li>
                      <li>
                        <img src="{% static 'swdice/Dice/ability.png' %}" width="32" height="32" alt="ability die">
                        Ability
                      </li>
                      <li>
                        <img src="{% static 'swdice/Dice/proficiency.png' %}" width="32" height="32" alt="proficiency die">
                        Proficiency
                      </li>
                      <li>
                        <img src="{% static 'swdice/Dice/force.png' %}" width="32" height="32" alt="force die">
                        Force
                      </li>
                    </ul>
                  </div>
                  <div class="col">
                    <ul style="list-style-type:none;">
                      <li>
                        <img src="{% static 'swdice/Dice/setback.png' %}" width="32" height="32" alt="setback die">
                        Setback
                      </li>
                      <li>
                        <img src="{% static 'swdice/Dice/difficulty.png' %}" width="32" height="32" alt="difficulty die">
                        Difficulty
                      </li>
                      <li>
                        <img src="{% static 'swdice/Dice/challenge.png' %}" width="32" height="32" alt="challenge die">
                        Challenge
                      </li>
                      <li>
                        <img src="{% static 'swdice/Dice/D100.png' %}" style="margin-left: -32px;"
                             width="64" height="32" alt="numerical dice">
                        Numerical
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="collapse" id="Results" data-parent="#DiceMechanics">
                <h5>Basic Results</h5>
                <div class="row">
                  <div class="col">
                    <h6>Successes and Failures</h6>
                    <ul style="margin-left: -20px;">
                      <li>Success
                        <img src="{% static 'swdice/Results/Suc01.png' %}" width="20" height="20" alt="Success">
                        and Failure
                        <img src="{% static 'swdice/Results/Fai01.png' %}" width="20" height="20" alt="Failure">
                        pips cancel each other.
                      </li>
                      <li>
                        In order to succeed in a roll, the results must have (at least) one more Success pip than
                        Failures.
                      </li>
                      <li>
                        A roll with no uncancelled success pips is a failure. (E.g. a roll with two successes and two
                        failures.)
                      </li>
                    </ul>
                  </div>
                  <div class="col">
                    <h6>Advantage and Threat</h6>
                    <ul style="margin-left: -20px;">
                      <li>
                        Advantage
                        <img src="{% static 'swdice/Results/Adv01.png' %}" width="20" height="20" alt="Advantage">
                        and Threat
                        <img src="{% static 'swdice/Results/Thr01.png' %}" width="20" height="20" alt="Threat">
                        pips cancel each other.
                      </li>
                      <li>
                        It is possible to succeed on a roll, but with threat, just as it is possible to fail with advantage.
                      </li>
                      <li>
                        See the Core Rulebooks for how these results play out narratively.
                      </li>
                      </ul>
                  </div>
                </div>
              </div>
              <div class="collapse" id="Triumph" data-parent="#DiceMechanics">
                <h5>Triumph and Despair</h5>
                <ul>
                  <li>
                    Triumph
                    <img src="{% static 'swdice/Results/Tri01.png' %}" width="20" height="20" title="Triumph">
                    and Despair
                    <img src="{% static 'swdice/Results/Des01.png' %}" width="20" height="20" title="Despair">
                    pips <strong>do not</strong> cancel each other.
                  </li>
                  <li>
                    The effects of a Triumph can be compared to a "critical hit" that you may have seen in another system.
                    Likewise, a Despair can be thought of as a "critical failure".
                  </li>
                  <li>
                    In addition to these effects, each Triumph "includes" a Success, and each Despair "includes" a failure.
                    These additional pips are accounted for by the dice roller.
                  </li>
                  <li>
                    It is possible to fail a roll with Triumph, or succeed with Despair.
                  </li>
                  <li>
                    See the Core Rulebooks for how these results play out narratively.
                  </li>
                </ul>
              </div>
              <div class="collapse" id="Force" data-parent="#DiceMechanics">
                <h5>Force Pips</h5>
                <ul>
                  <li>
                    Light side
                    <img src="{% static 'swdice/Results/Lig01.png' %}" width="20" height="20" title="Light">
                    force pips and Dark side
                    <img src="{% static 'swdice/Results/Dar01.png' %}" width="20" height="20" title="Dark">
                    force pips <em>do not</em> cancel each other.
                  </li>
                  <li>
                    They have their own unique rules for use.
                  </li>
                  <li>
                    See one of the Core Rulebooks for how they are used.
                  </li>
                </ul>
              </div>
              <div class="collapse" id="Numerical" data-parent="#DiceMechanics">
                <h5>Numerical Dice</h5>
                <ul>
                  <li>
                    In the Star Wars Role Playing Games, the Numerical dice tend to only be used in the
                      determination of critical injuries to characters or ships.
                  </li>
                  <li>
                    By default, the Numerical Dice are set as d100.
                  </li>
                  <li>
                    You can change the number of sides by selecting the "100" and typing the desired value.
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
              <div class="btn-group-vertical align-right" style="width: 100%;">
                <button class="btn btn-primary" type="button" id="btnDiceTypes" disabled
                        onClick="return switchAndCollapse('#btnDiceTypes',
                                                          ['#btnResults', '#btnTriumph', '#btnForce', '#btnNumerical'],
                                                          '#DiceTypes', ['#Results', '#Triumph', '#Force', '#Numerical'],
                                                          'btn-outline-primary', 'btn-primary')">
                    Dice Types
                </button>
                <button class="btn btn-outline-primary" type="button" id="btnResults"
                        onClick="return switchAndCollapse('#btnResults',
                                                          ['#btnDiceTypes', '#btnTriumph', '#btnForce', '#btnNumerical'],
                                                          '#Results', ['#DiceTypes', '#Triumph', '#Force', '#Numerical'],
                                                          'btn-outline-primary', 'btn-primary')">
                    Basic Results
                </button>
                <button class="btn btn-outline-primary" type="button" id="btnTriumph"
                        onClick="return switchAndCollapse('#btnTriumph',
                                                          ['#btnDiceTypes','#btnResults', '#btnForce', '#btnNumerical'],
                                                          '#Triumph', ['#DiceTypes', '#Results', , '#Force', '#Numerical'],
                                                          'btn-outline-primary', 'btn-primary')">
                    Triumph & Despair
                </button>
                <button class="btn btn-outline-primary" type="button" id="btnForce"
                        onClick="return switchAndCollapse('#btnForce',
                                                          ['#btnDiceTypes','#btnResults', '#btnTriumph', '#btnNumerical'],
                                                          '#Force', ['#DiceTypes', '#Results', '#Triumph', '#Numerical'],
                                                          'btn-outline-primary', 'btn-primary')">
                    Force Pips
                </button>
                <button class="btn btn-outline-primary" type="button" id="btnNumerical"
                        onClick="return switchAndCollapse('#btnNumerical',
                                                          ['#btnDiceTypes','#btnResults', '#btnTriumph', '#btnForce'],
                                                          '#Numerical', ['#DiceTypes', '#Results', '#Triumph', '#Force'],
                                                          'btn-outline-primary', 'btn-primary')">
                    Numerical Dice
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row no-gutters card-resources" id="card-resources-all">
    <div class="card border-dark mb-3" style="max-width: 100%; width: 100%">
      <div class="card-header bg-info text-white ">
        <h4>
          Resources
          <button class="btn btn-outline-light align-right" type="button" id="card-resources-btn-hide"
                  style="display: inline;"
                  onClick="return collapseCard('#ResourcesCard', '#card-resources-all', 'card-resources',
                                               '#card-resources-btn-hide', '#card-resources-btn-show')">
            &#9866;
          </button>
          <button class="btn btn-outline-light align-right" type="button" id="card-resources-btn-show"
                  style="display: none;"
                  onClick="return showCard('#ResourcesCard', '#card-resources-all', 'card-resources',
                                          '#card-resources-btn-show', '#card-resources-btn-hide')">
            &#10010;
          </button>
        </h4>
      </div>
      <div class="collapse show" id="ResourcesCard">
        <div class="card card-body border-0" style="width: 100%;">
          <div class="row no-gutters" id="Resources">
            <div class="col-lg-10 col-md-9 col-sm-8">
              <div class="collapse show" id="Rulebooks" data-parent="#Resources">
                <h5>Core Rule Books (CRBs)</h5>
                <ul>
                  <li>
                    <a href="https://www.fantasyflightgames.com/en/products/star-wars-edge-of-the-empire/">
                    Edge of the Empire
                    </a>
                    - Focuses on Smugglers, Bounty Hunters, Bantha Fodder, and Nerf Herders.
                  </li>
                  <li>
                    <a href="https://www.fantasyflightgames.com/en/products/star-wars-force-and-destiny/">
                      Force and Destiny
                    </a>
                    - Jedis are the centerpiece of this CRB.  Force powers galore.
                  </li>
                  <li>
                    <a href="https://www.fantasyflightgames.com/en/products/star-wars-age-of-rebellion/">
                      Age of Rebellion
                    </a>
                    - You know all those pilots and fighters that get killed in the movies?
                    Be one of them (and maybe <em>not</em> die)!
                  </li>
                </ul>
              </div>
              <div class="collapse" id="Supplements" data-parent="#Resources">
                <h5>Supplements</h5>
                <p class="card-text">
                    These are just a few examples.
                  </p>
                <ul style="margin-left: -20px;">
                  <li>
                    <a href="https://www.fantasyflightgames.com/en/products/star-wars-edge-of-the-empire/products/beyond-the-rim/">
                          Beyond the Rim
                    </a>
                    - Adventure module for Edge of the Empire.
                  </li>
                  <li>
                    <a href="https://www.fantasyflightgames.com/en/products/star-wars-edge-of-the-empire/products/enter-the-unknown/">
                      Enter the Unknown
                    </a>
                    - Rules Supplement for Edge of the Empire; this book adds three specializations for the Explorer.
                  </li>
                </ul>
              </div>
              <div class="collapse" id="Additional" data-parent="#Resources">
                <h5>Additional</h5>
                <ul style="margin-left: -20px;">
                  <li>
                    <a href="https://www.fantasyflightgames.com/en/products/star-wars-the-force-awakens-beginner-game/">
                      The Force Awakens Beginner Game
                    </a>
                    - Starter Game pack that follows the same rules / mechanics as the linked CRBs.
                  </li>
                  <li>
                    <a href="https://www.fantasyflightgames.com/en/products/star-wars-edge-of-the-empire/products/game-masters-kit-1-2-3-4-5/">
                      Game Master's Kit
                    </a>
                    - Screen, info about NPCs, stuff for GMs.
                  </li>
                  <li>
                    <a href="https://www.fantasyflightgames.com/en/products/star-wars-roleplaying-accessories/products/star-wars-roleplaying-dice-1/">
                      Dice
                    </a>
                    - You know how this is a virtual dice roller website?  Well, buying those dice will let you
                    roll <em>in real life!</em>  Crazy!
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-sm-4">
              <div class="btn-group-vertical align-right" style="width: 100%;">
                <button class="btn btn-info" type="button" id="btnRulebooks" disabled
                        onClick="return switchAndCollapse('#btnRulebooks',
                                                          ['#btnSupplements', '#btnAdditional'],
                                                          '#Rulebooks', ['#Supplements', '#Additional'],
                                                          'btn-outline-info', 'btn-info')">
                  Core Rulebooks
                </button>
                <button class="btn btn-outline-info" type="button" id="btnSupplements"
                        onClick="return switchAndCollapse('#btnSupplements',
                                                          ['#btnRulebooks', '#btnAdditional'],
                                                          '#Supplements', ['#Rulebooks', '#Additional'],
                                                          'btn-outline-info', 'btn-info')">
                  Supplements
                </button>
                <button class="btn btn-outline-info" type="button" id="btnAdditional"
                        onClick="return switchAndCollapse('#btnAdditional',
                                                          ['#btnRulebooks','#btnSupplements'],
                                                          '#Additional', ['#Rulebooks', '#Supplements'],
                                                          'btn-outline-info', 'btn-info')">
                  Additional
                </button>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row no-gutters">
    <div class="container">
      <p style="font-size: 0.75em; margin-top: 20px;">
        <strong>Disclaimer:</strong>
        <br>
        The Star Wars Dice Roller is designed to be used in conjunction with
        <a href="https://www.fantasyflightgames.com/en/index/">Fantasy Flight Games'</a> Star Wars Role Playing Game.
        This website is not made with any input or coordination from Fantasy Flights, which still holds the
        copyright to all of their original content.
      </p>
    </div>
  </div>
</div>

<script src="{% static 'vanlevy/files/js/dice_common.js' %}"></script>
{% endblock %}