{% extends 'sw_base.html' %}

{% block head %}
    <meta charset="UTF-8">
    <title>About SW Dice Roller</title>
{% endblock %}

{% block brand %}
    {% load static %}
        <h4>
            <a class="navbar-brand" href="{% url 'vanlevy:home' %}">
                <img src="{% static '/vanlevy/images/IconReverse_32.png' %}" alt="Van Levy Icon" height="32" width="32">
                Van Levy
            </a>
            <a class="navbar-brand" style="color:white;" href="{% url 'swdice:dockingbay' %}">
                <img src="{% static '/vanlevy/images/droid_background_32.png' %}" alt="SW Dice Roller" height="32" width="32">
                {% block subtitle %} About{% endblock %}
            </a>

        </h4>
{% endblock %}

{% block body %}
{% block other_navbar_right %}
{% endblock %}
<div class="container">
    <p></p>
    <div class="row no-gutters">
        <div class="col-lg-2 col-md-3 col-sm-4"></div>
        <div class="col-lg-10 col-md-9 col-sm-8">
            <div class="container"><p></p><h4>Using the Dice Roller</h4></div>
        </div>
    </div>
    <div class="row no-gutters"  style="min-height: 280px;">
        <div class="col-lg-2 col-md-3 col-sm-4">
          <div class="btn-group-vertical align-right" style="width: 100%;">
            <button class="btn btn-outline-dark" type="button" data-toggle="collapse"
                    data-target="#JoiningRoom" aria-expanded="false" aria-controls="JoiningRoom">
                Joining a Room
            </button>
            <button class="btn btn-outline-dark" type="button" data-toggle="collapse"
                    data-target="#MakingRoom" aria-expanded="false" aria-controls="MakingRoom">
                Making a Room
            </button>
            <button class="btn btn-outline-dark" type="button" data-toggle="collapse"
                    data-target="#RoomInfo" aria-expanded="false" aria-controls="RoomInfo">
                Getting Room Info
            </button>
            <button class="btn btn-outline-dark" type="button" data-toggle="collapse"
                    data-target="#GMControls" aria-expanded="false" aria-controls="GMControls">
                GM Controls
            </button>
          </div>
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8">
            <div class="container-fluid" id="DiceRoller">
              <div class="collapse show" id="JoiningRoom" data-parent="#DiceRoller">
                <div class="card border-dark mb-3" style="max-width: 100%;">
                  <div class="card-header bg-dark text-white ">
                    <h5>Joining a Room</h5>
                  </div>
                  <div class="card card-body">
                    <p class="card-text">
                      There are two ways to join a room: Use a Direct Link or the Room ID and Passcode.
                    </p>
                    <ul style="margin-left: -20px;">
                        <li>
                            If you have a Direct Link, paste it into your browser.
                        </li>
                        <li>
                            If you know the Room ID and Passcode, you can enter them (and choose your Avatar) while in
                            the <a href="{% url 'swdice:dockingbay' %}">Docking Bay</a>.
                        </li>
                    </ul>
                    <p class="card-text">
                      Once inside a room, a player can change their Avatar by using the Switch Avatar button.
                    </p>
                  </div>
                </div>
              </div>
              <div class="collapse" id="MakingRoom" data-parent="#DiceRoller">
                <div class="card border-dark mb-3" style="max-width: 100%;">
                  <div class="card-header bg-dark text-white ">
                    <h5>Making a Room</h5>
                  </div>
                  <div class="card card-body">
                    <p class="card-text">
                      To make a new room, you must be in the <a href="{% url 'swdice:dockingbay' %}">Docking Bay</a>,
                        and then click on the button (bottom right) to make a new room.
                        You will be asked to give the room a Name and choose to have the room Open or Closed.
                    </p>
                    <ul style="margin-left: -20px;">
                        <li>Open Rooms can be joined by anyone who knows (or guesses) the Room ID.</li>
                        <li>
                            Restricted Rooms require a Passcode to enter; when you create one, you will be
                            prompted for a Passcode.
                        </li>
                        <li>
                            If you send the Direct Link to your players, it will have the Passcode embedded.
                        </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="collapse" id="RoomInfo" data-parent="#DiceRoller">
                <div class="card border-dark mb-3" style="max-width: 100%;">
                  <div class="card-header bg-dark text-white ">
                    <h5>Getting Room Info</h5>
                  </div>
                  <div class="card card-body">
                    <p class="card-text">
                      There are two places you can go to find Room Info.
                    </p>
                    <ul style="margin-left: -20px;">
                        <li>
                            Inside each Dice Room is an info link (
                            <span style="background: #252525"><img src="{% static '/swdice/RoomInfoSmall_32.png' %}"
                                                                    alt="Room Info" height="20" width="20" style="margin-bottom: 3px"></span>
                            ) found on the top right of the page (next to the Profile Drop-down).
                            Both Players and GMs can use this link, but GMs have access to more information.
                        </li>
                        <li>
                            (GMs only) Once you're on the Hub Page, look for a plus button (
                            <button type="button" style="padding: 0;">
                                <img src="{% static '/vanlevy/images/plus_clear_40.png' %}" alt="info" width="16" height="16">
                            </button>
                            ) for your room;
                            clicking that reveals info that only GM's can see.
                        </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="collapse" id="GMControls" data-parent="#DiceRoller">
                <div class="card border-dark mb-3" style="max-width: 100%;">
                  <div class="card-header bg-dark text-white ">
                    <h5>GM Controls</h5>
                  </div>
                  <div class="card card-body">
                    <p class="card-text">
                      GMs have additional privileges in their rooms.  (The user who creates a room is GM by default.)
                      GMs can...
                    </p>
                    <ul style="margin-left: -20px;">
                        <li>See more information about the room (including Direct Links, Passcode, etc.)</li>
                        <li>Ban/Unban players; GMs can also make a player the GM for that room.</li>
                        <li>
                            Archive a room.  Archived Rooms are hidden (but still accessible) on the
                            <a href="{% url 'swdice:dockingbay' %}">Docking Bay</a>;
                            they also have Dice and Chat turned off.
                        </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-lg-2 col-md-3 col-sm-4"></div>
        <div class="col-lg-10 col-md-9 col-sm-8">
            <div class="container"><p></p><h4>Dice Mechanics</h4></div>
        </div>
    </div>
    <div class="row no-gutters" style="min-height: 320px;">
        <div class="col-lg-2 col-md-3 col-sm-4">
          <div class="btn-group-vertical align-right" style="width: 100%;">
            <button class="btn btn-outline-primary" type="button" data-toggle="collapse"
                    data-target="#DiceTypes" aria-expanded="false" aria-controls="DiceTypes">
                Dice Types
            </button>
            <button class="btn btn-outline-primary" type="button" data-toggle="collapse"
                    data-target="#Success" aria-expanded="false" aria-controls="Success">
                Basic Results
            </button>
            <button class="btn btn-outline-primary" type="button" data-toggle="collapse"
                    data-target="#Triumph" aria-expanded="false" aria-controls="Triumph">
                Triumph & Despair
            </button>
            <button class="btn btn-outline-primary" type="button" data-toggle="collapse"
                    data-target="#Force" aria-expanded="false" aria-controls="Force">
                Force Pips
            </button>
            <button class="btn btn-outline-primary" type="button" data-toggle="collapse"
                    data-target="#Numerical" aria-expanded="false" aria-controls="Numerical">
                Numerical Dice
            </button>
          </div>
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8">
            <div class="container-fluid" id="DiceMechanics">
              <div class="collapse show" id="DiceTypes" data-parent="#DiceMechanics">
                <div class="card border-dark mb-3" style="max-width: 100%;">
                  <div class="card-header bg-primary text-white ">
                    <h5>Dice Types</h5>
                  </div>
                  <div class="card card-body">
                    <p class="card-text">
                      The Star Wars Dice Roller uses eight different dice.
                    </p>
                    <div class="row">
                        <div class="col">
                            <ul style="list-style-type:none;">
                                <li><img src="{% static 'swdice/Dice/boost.png' %}" width="32" height="32">
                                    Boost</li>
                                <li><img src="{% static 'swdice/Dice/ability.png' %}" width="32" height="32">
                                    Ability</li>
                                <li><img src="{% static 'swdice/Dice/proficiency.png' %}" width="32" height="32">
                                    Proficiency</li>
                                <li><img src="{% static 'swdice/Dice/force.png' %}" width="32" height="32">
                                    Force</li>
                            </ul>
                        </div>
                        <div class="col">
                            <ul style="list-style-type:none;">
                                <li><img src="{% static 'swdice/Dice/setback.png' %}" width="32" height="32">
                                    Setback</li>
                                <li><img src="{% static 'swdice/Dice/difficulty.png' %}" width="32" height="32">
                                    Difficulty</li>
                                <li><img src="{% static 'swdice/Dice/challenge.png' %}" width="32" height="32">
                                    Challenge</li>
                                <li><img src="{% static 'swdice/Dice/D100.png' %}"
                                         style="margin-left: -32px;" width="64" height="32">
                                    Numerical</li>
                            </ul>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="collapse" id="Success" data-parent="#DiceMechanics">
                <div class="card-group">
                <div class="card border-dark mb-3" style="max-width: 100%;">
                  <div class="card-header bg-primary text-white ">
                    <h5>Successes and Failures</h5>
                  </div>
                  <div class="card card-body">
                    <ul style="margin-left: -20px;">
                      <li>Success
                        <img src="{% static 'swdice/Results/Suc01.png' %}" width="20" height="20" title="Success">
                        and Failure
                        <img src="{% static 'swdice/Results/Fai01.png' %}" width="20" height="20" title="Failure">
                        pips cancel each other.
                      </li>
                      <li>In order to succeed in a roll, the results must have (at least) one more Success pip than Failures.</li>
                      <li>A roll with no uncancelled success pips is a failure. (E.g. a roll with two successes and two failures.)</li>
                    </ul>
                  </div>
                </div>
                <div class="card border-dark mb-3" style="max-width: 100%;">
                  <div class="card-header bg-primary text-white ">
                    <h5>Advantage and Threat</h5>
                  </div>
                  <div class="card card-body">
                    <ul style="margin-left: -20px;">
                      <li>
                        Advantage
                        <img src="{% static 'swdice/Results/Adv01.png' %}" width="20" height="20" title="Advantage">
                        and Threat
                        <img src="{% static 'swdice/Results/Thr01.png' %}" width="20" height="20" title="Threat">
                        pips cancel each other.
                      </li>
                      <li>
                        It is possible to succeed on a roll, but with threat, just as it is possible to fail with advantage.
                      </li>
                      <li>
                        See the Core Rulebooks for how these results play out narratively.
                      </li>
                    </ul>
                  </div>
                </div>
                </div>
              </div>
              <div class="collapse" id="Triumph" data-parent="#DiceMechanics">
                <div class="card border-dark mb-3" style="max-width: 100%;">
                  <div class="card-header bg-primary text-white ">
                    <h5>Triumph and Despair</h5>
                  </div>
                  <div class="card card-body">
                    <ul>
                      <li>
                        Triumph
                        <img src="{% static 'swdice/Results/Tri01.png' %}" width="20" height="20" title="Triumph">
                        and Despair
                        <img src="{% static 'swdice/Results/Des01.png' %}" width="20" height="20" title="Despair">
                        pips <strong>do not</strong> cancel each other.
                      </li>
                      <li>
                        The effects of a Triumph can be compared to a "critical hit" that you may have seen in another system.
                        Likewise, a Despair can be thought of as a "critical failure".
                      </li>
                      <li>
                        In addition to these effects, each Triumph "includes" a Success, and each Despair "includes" a failure.
                        These additional pips are accounted for by the dice roller.
                      </li>
                      <li>
                        It is possible to fail a roll with Triumph, or succeed with Despair.
                      </li>
                      <li>
                        See the Core Rulebooks for how these results play out narratively.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="collapse" id="Force" data-parent="#DiceMechanics">
                <div class="card border-dark mb-3" style="max-width: 100%;">
                  <div class="card-header bg-primary text-white ">
                    <h5>Force Pips</h5>
                  </div>
                  <div class="card card-body">
                    <ul>
                      <li>
                        Light side
                        <img src="{% static 'swdice/Results/Lig01.png' %}" width="20" height="20" title="Light">
                        force pips and Dark side
                        <img src="{% static 'swdice/Results/Dar01.png' %}" width="20" height="20" title="Dark">
                        force pips <em>do not</em> cancel each other.
                      </li>
                      <li>
                        They have their own unique rules for use.
                      </li>
                      <li>
                        See one of the Core Rulebooks for how they are used.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="collapse" id="Numerical" data-parent="#DiceMechanics">
                <div class="card border-dark mb-3" style="max-width: 100%;">
                  <div class="card-header bg-primary text-white ">
                    <h5>Numerical Dice</h5>
                  </div>
                  <div class="card card-body">
                    <ul>
                      <li>
                        In the Star Wars Role Playing Games, the Numerical dice tend to only be used in the
                          determination of critical injuries to characters or ships.
                      </li>
                      <li>
                        By default, the Numerical Dice are set as d100.
                      </li>
                      <li>
                        You can change the number of sides by selecting the "100" and typing the desired value.
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-lg-2 col-md-3 col-sm-4"></div>
        <div class="col-lg-10 col-md-9 col-sm-8">
            <div class="container"><h4>Resources</h4></div>
        </div>
    </div>
    <div class="row no-gutters" style="min-height: 240px;">
        <div class="col-lg-2 col-md-3 col-sm-4">
          <div class="btn-group-vertical align-right" style="width: 100%;">
            <button class="btn btn-outline-info" type="button" data-toggle="collapse"
                    data-target="#CoreRuleBooks" aria-expanded="false" aria-controls="CoreRuleBooks">
                Core Rulebooks
            </button>
            <button class="btn btn-outline-info" type="button" data-toggle="collapse"
                    data-target="#Supplements" aria-expanded="false" aria-controls="Supplements">
                Supplements
            </button>
            <button class="btn btn-outline-info" type="button" data-toggle="collapse"
                    data-target="#Additional" aria-expanded="false" aria-controls="Additional">
                Additional
            </button>
          </div>
        </div>
        <div class="col-lg-10 col-md-9 col-sm-8">
            <div class="container-fluid" id="Resources">
              <div class="collapse show" id="CoreRuleBooks" data-parent="#Resources">
                <div class="card border-dark mb-3" style="max-width: 100%;">
                  <div class="card-header bg-info text-white ">
                    <h5>Core Rule Books (CRBs)</h5>
                  </div>
                  <div class="card card-body">
                    <ul>
                        <li><a href="https://www.fantasyflightgames.com/en/products/star-wars-edge-of-the-empire/">
                                Edge of the Empire</a>
                             - Focuses on Smugglers, Bounty Hunters, Bantha Fodder, and Nerf Herders.
                        </li>
                        <li><a href="https://www.fantasyflightgames.com/en/products/star-wars-force-and-destiny/">
                                Force and Destiny</a>
                             - Jedis are the centerpiece of this CRB.  Force powers galore.
                        </li>
                        <li><a href="https://www.fantasyflightgames.com/en/products/star-wars-age-of-rebellion/">
                            Age of Rebellion</a>
                            - You know all those pilots and fighters that get killed in the movies?
                            Be one of them (and maybe <em>not</em> die)!
                        </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="collapse" id="Supplements" data-parent="#Resources">
                <div class="card border-info mb-3" style="max-width: 100%;">
                  <div class="card-header bg-info text-white ">
                    <h5>Supplements</h5>
                  </div>
                  <div class="card card-body">
                    <p class="card-text">
                      These are just a few examples.
                    </p>
                    <ul style="margin-left: -20px;">
                        <li><a href="https://www.fantasyflightgames.com/en/products/star-wars-edge-of-the-empire/products/beyond-the-rim/">
                                Beyond the Rim</a>
                             - Adventure module for Edge of the Empire.
                        </li>
                        <li><a href="https://www.fantasyflightgames.com/en/products/star-wars-edge-of-the-empire/products/enter-the-unknown/">
                            Enter the Unknown</a>
                            - Rules Supplement for Edge of the Empire; this book adds three specializations for the Explorer.
                        </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="collapse" id="Additional" data-parent="#Resources">
                <div class="card border-info mb-3" style="max-width: 100%;">
                  <div class="card-header bg-info text-white ">
                    <h5>Additional</h5>
                  </div>
                  <div class="card card-body">
                    <ul style="margin-left: -20px;">
                        <li><a href="https://www.fantasyflightgames.com/en/products/star-wars-the-force-awakens-beginner-game/">
                                The Force Awakens Beginner Game</a>
                             - Starter Game pack that follows the same rules / mechanics as the linked CRBs.
                        </li>
                        <li><a href="https://www.fantasyflightgames.com/en/products/star-wars-edge-of-the-empire/products/game-masters-kit-1-2-3-4-5/">
                            Game Master's Kit</a>
                            - Screen, info about NPCs, stuff for GMs.
                        </li>
                        <li><a href="https://www.fantasyflightgames.com/en/products/star-wars-roleplaying-accessories/products/star-wars-roleplaying-dice-1/">
                            Dice</a>
                            - You know how this is a virtual dice roller website?  Well, buying those dice will let you
                            roll <em>in real life!</em>  Crazy!
                        </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>
    <div class="row no-gutters">
        <div class="col-lg-2 col-md-3 col-sm-4"></div>
        <div class="col-lg-10 col-md-9 col-sm-8">
            <div class="container"><p></p>
                <p style="font-size: 0.75em;">
                <strong>Disclaimer:</strong>
                <br>
                The Star Wars Dice Roller is designed to be used in conjunction with
                <a href="https://www.fantasyflightgames.com/en/index/">Fantasy Flight Games'</a> Star Wars Role Playing Game.
                This website is not made with any input or coordination from Fantasy Flights, which still holds the
                copyright to all of their original content.
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}