{% extends 'sw_base.html' %}

{% block head %}
    <meta charset="UTF-8">
    <title>Docking Bay</title>
{% endblock %}

{% block subtitle %} Docking Bay{% endblock %}

{% block body %}

{% block link_dice_sw %}
{% endblock %}
{% load static %}
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <br>
            <h1>Hail, {% if user.userprofile.user_first_name %}
                {{user.userprofile.user_first_name}}!
                {% else %}
                {{user.username}}!
                {% endif %}
            </h1>
            <p>
                This is your personal docking bay.
                From here, you will be able to join make rooms that use FFG's Edge of the Empire dice.
            </p>
        </div>
        <div class="col-md-8">
            <br>
            <img src="{% static '/swdice/DockingBay.png' %}" alt="Docking Bay Banner" width="100%">
            <p></p>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="card border-dark mb-3" style="max-width: 100%;">
                  <div class="card-header">
                    <h5 class="card-title">
                        {% if my_rooms_list %}
                            Rooms you've been in:
                        {% else %}
                            You have not yet entered a room.
                        {% endif %}
                    </h5>
                  </div>
                    <div class="card-body text-dark">
                        {% if my_rooms_list %}
                            <table id="star_wars_table">
                            <col width="60%">
                            <col width="20%">
                            <col width="20%">
                            <tr>
                                <td><strong>Name (Link)</strong></td>
                                <td><strong>Avatar</strong></td>
                                <td><strong>GM</strong></td>
                            </tr>
                            {% for room in my_rooms_list %}
                            <tr style="border-top: 1px solid #ddd;">
                                <td class="room_name_table">
                                    <div>
                                        <a href="{% url 'swdice:swroom' room.id %}">{{ room.name }}</a>
                                    </div>
                                </td>
                                <td>
                                    {{ my_avatars_list|get_item:room.id }}
                                </td>
                                <td>
                                    {{ gms_list|get_item:room.id }}
                                    {% if gms_list|get_item:room.id == 'you' %}
                                        <button class="align-right" type="button" style="padding: 0;"
                                                data-toggle="collapse"
                                                data-target=".multi-collapse{{room.id}}"
                                                aria-expanded="false"
                                                aria-controls="row1_room_{{room.id}} row2_room_{{room.id}}">
                                            <!--<strong>+</strong>-->
                                            <img src="{% static '/vanlevy/plus_button_40.png' %}"
                                                 alt="info" width="16" height="16">
                                        </button>
                                    {% endif %}
                                </td>
                            </tr>
                            {% if gms_list|get_item:room.id == 'you' %}
                                <tr class="collapse multi-collapse{{room.id}}" id="row1_room_{{room.id}}">
                                    <td style="padding-left: 20px;">
                                        <strong>ID:</strong>
                                        {{ room.id }}
                                        <span style="padding-left: 20px"><strong>Passcode:</strong>
                                        {% if room.open_to_all %}open to all{%else%}<em>{{room.passcode}}</em>{%endif%}
                                        </span>
                                    </td>
                                    <td colspan="2">
                                        <strong>Copy direct link:</strong>
                                        <div style="display: none;" id="link_{{room.id}}">www.vanlevy.com{% url 'swdice:swroom' room.id %}direct/{% if room.open_to_all %}open{% else %}{{ room.passcode}}{% endif %}
                                        </div>
                                        <button type="button" style="padding: 0;margin-left: 10px;"
                                                onclick="copyURL(link_{{room.id}})">
                                        <img src="{% static '/vanlevy/copy_button_40.png' %}" alt="info" width="20" height="20">
                                        </button>
                                    </td>
                                </tr>
                                <tr class="collapse multi-collapse{{room.id}}" id="row2_room_{{room.id}}"
                                    style="border-bottom: 1px solid #888;">
                                    <td style="padding-left: 20px;">
                                        Created: {{ room.created_on }}
                                    </td>
                                    <td>
                                        # players
                                    </td>
                                    <td>
                                        <strong>Info Page: </strong>
                                        <a href="{% url 'swdice:swroom_info' room.id %}">
                                        <img src="{% static '/vanlevy/info_32.png' %}" alt="info" width="20" height="20">
                                        </a>
                                    </td>
                                </tr>
                            {% endif %}
                            {% endfor %}
                        </table>
                        {% else %}
                            Once you've been in a room, this will be a list of direct links to get back in.
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="col-lg-4">

                <div class="card border-dark mb-3" style="max-width: 100%;">
                  <div class="card-header">
                      <h5 class="card-title">Enter a room</h5>
                  </div>
                  <div id="accordion">
                    <div id="collapseOne" class="collapse" data-parent="#accordion">
                        <div class="card-body text-dark">
                            <h5 class="card-title">Direct Link
                                <button class="btn btn-outline-primary btn-sm align-right" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                                    Use Passcode
                                </button>
                            </h5>
                            <form method="post"  autocomplete="off">
                            {% csrf_token %}
                              <table style="width: 100%;">
                                <tr>
                                    <td><strong>Direct Link:</strong><br>
                                        {{form_direct.direct}} <br>
                                        <strong>{{ form_direct.direct.errors }}</strong><br>
                                    </td>
                                </tr>
                                    <td><strong>Avatar:</strong><br>
                                        {{form.default_avatar}} <br>
                                        Select your avatar.<br>
                                        <strong>{{ form.default_avatar.errors }}</strong>
                                    </td>
                                </tr>
                                <tr>

                                    <td>
                                        <button type="submit" class="btn btn-primary align-right" id="direct-button">
                                            Enter Room <strong>&#12299</strong>
                                        </button>
                                    </td>
                                </tr>
                              </table>
                            </form>
                        </div>
                    </div>
                    <div id="collapseTwo" class="collapse show" data-parent="#accordion">
                        <div class="card-body text-dark">
                            <h5 class="card-title">Id & Passcode
                                <!--<button class="btn btn-outline-primary btn-sm align-right" data-toggle="collapse"-->
                                        <!--data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">-->
                                    <!--Use Direct Link-->
                                <!--</button>-->
                            </h5>
                            <form method="post"  autocomplete="off">
                            {% csrf_token %}
                                <table style="width: 100%;">
                                    <tr>
                                        <td><strong>Room ID:</strong><br>
                                            {{form.room_number}} <br>
                                            <strong>{{ form.room_number.errors }}</strong><br>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Passcode:</strong><br>
                                            {{form.passcode}} <br>
                                            If the room is open, leave this blank.<br> <br>
                                            <strong>{{ form.passcode.errors }}</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><strong>Avatar:</strong><br>
                                            {{form.default_avatar}} <br>
                                            Select your avatar.<br>
                                            <strong>{{ form.default_avatar.errors }}</strong>
                                        </td>
                                    </tr>
                                    <tr>
                                      <td>
                                        <button type="submit" class="btn btn-primary align-right" id="passcode-button">
                                            Enter Room <strong>&#12299</strong>
                                        </button>
                                      </td>
                                    </tr>
                                </table>
                            </form>
                        </div>
                    </div>
                  </div>
                </div>

                <div class="card border-dark mb-3" style="max-width: 100%;">
                  <div class="card-header">
                      <h5 class="card-title">Make a new room</h5>
                  </div>
                  <div class="card-body text-dark">
                    <div class="row">
                        <div class="col-9">
                            <p class="card-text">
                                Create a new Star Wars Dice Room where you are the GM.
                            </p>
                        </div>
                        <div class="col-3">
                            <a href="{% url 'swdice:makeroom' %}">
                                <button type="button" class="btn btn-primary align-right">
                                    <strong>&#12299</strong>
                                </button>
                            </a>
                        </div>
                    </div>
                  </div>
                </div>

            </div>
        </div>
    </div>
</div>

{% block page_scripts %}
<script>
function copyTextToClipboard(text) {
  var textArea = document.createElement("textarea");

  // Place in top-left corner of screen regardless of scroll position.
  textArea.style.position = 'fixed';
  textArea.style.top = 0;
  textArea.style.left = 0;

  // Ensure it has a small width & height. Setting to 1px / 1em doesn't work as this gives a negative w/h on some browsers.
  textArea.style.width = '2em';
  textArea.style.height = '2em';

  // We don't need padding, reducing the size if it does flash render.
  textArea.style.padding = 0;

  // Clean up any borders.
  textArea.style.border = 'none';
  textArea.style.outline = 'none';
  textArea.style.boxShadow = 'none';

  // Avoid flash of white box if rendered for any reason.
  textArea.style.background = 'transparent';

  textArea.value = text;

  document.body.appendChild(textArea);
  textArea.focus();
  textArea.select();

  try {
    var successful = document.execCommand('copy');
    var msg = successful ? 'successful' : 'unsuccessful';
    console.log('Copying text command was ' + msg);
  } catch (err) {
    console.log('Oops, unable to copy');
  }

  document.body.removeChild(textArea);
}

function copyURL(element){
    console.log(element.innerText);
    var copyText = element.innerText;
    copyTextToClipboard(copyText)
    var msg = (copyText).concat(" copied to clipboard.")
    alert(msg);
}
</script>
{% endblock %}

{% endblock %}  <!-- body -->
