{% extends 'sw_base.html' %}
{% load static %}
{% load diceroomtags %}

{% block head %}
    <meta charset="UTF-8">
    <title>SW Room</title>
{% endblock %}

{% block brand %}
  <a class="navbar-brand" href="{% url 'vanlevy:home' %}">
    <img src="{% static '/vanlevy/images/IconReverse_32.png' %}" alt="Van Levy Icon" height="32" width="32">
  </a>

  <a class="navbar-brand">
    <span class="d-inline-block text-truncate room-name" >
      {{room.name}}
    </span>
  </a>

  <a class="navbar-brand" style="color:white;" href="{% url 'swdice:dockingbay' %}">
    <img src="{% static '/vanlevy/images/droid_background_32.png' %}" alt="SW Dice Roller" height="32" width="32">
    {% block subtitle %}{% endblock %}
  </a>
{% endblock brand %}

{% block other_navbar_right %}
<button type="button" class="btn btn-sm btn-light" data-toggle="collapse" style="margin-right: 15px; display: none;"
      data-target="#chatAndInfo" aria-expanded="false"  aria-controls="chatAndInfo"
      id="show_chat_input_navbar" onclick="hide('show_chat_input_navbar')">
  Show Chat
</button>
<a href="{% url 'swdice:swroom_info' room_number %}">
  <img src="{% static '/swdice/RoomInfoSmall_32.png' %}" alt="Room Info" height="32" width="32">
  {% block info_label %}
    <span style="font-size: 0.67em; color: white; margin-right: 10px; margin-left: -5px;">
      Info
    </span>
  {% endblock info_label %}
</a>
{% endblock other_navbar_right %}

{% block body %}
<div class="container" style="padding: 0px;">
<br>
  {% if not viewing_basic_room %}
    <div class="row no-gutters">
      <div class="col-md-9">
        {% block user_table %}
        {% endblock %}
        {% block gm_stuff %}
        {% endblock %}
      </div>
      <div class="col-md-3">
        {% block room_header %}
        {% endblock %}
      </div>
    </div>
  {% endif %}
    {% block form_inputs %}
    {% if not room.disabled %}
    <form id="destiny" method="POST" autocomplete="off">
      {% csrf_token %}
      <div class="row no-gutters" style="padding: 0px;">
        <div class="col-12 col-lg-9 col-xl-8" style="padding: 0px;">
          {% block destiny %}
            <div class="dice-box" id="destiny_area">
              <div class="row no-gutters">
                <div class="col-1"> <!-- col-4 col-sm-3 col-md-2 -->
                  <table class="destiny_table_new">
                    <tr>
                      <td style="width:12px;">
                        <button type="submit" class="btn btn-dark btn-sm dark-pip-btn" name="add_dark"
                                title="Add a Dark Destiny Point">
                          &#10010;
                        </button>
                        <br>
                        <button type="submit" name="rem_dark"
                                {% if dark_pips == 0 %}
                                class="btn btn-sm btn-light light-pip-btn"
                                disabled title="There are no Dark Destiny Points"
                                {% else %}
                                class="btn btn-dark btn-sm dark-pip-btn"
                                title="Remove a Dark Destiny Point"
                                {% endif %}>
                          &#9866;
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-10 "> <!-- col-sm-6 col-md-8 order-first order-sm-3 -->
                  <span class="container-fluid" id="destiny_box" style="margin: auto;">
                    {% if dark_pips == 0  and light_pips == 0 %}
                      There are no Destiny Points
                    {% else %}
                      {% if dark_pips != 0 %}
                        <button type="submit" class="btn btn-sm btn-light" name="use_dark"
                                style="padding: 2px; border-radius: 25px;"
                                id="use_dark" title="Flip a Destiny Point from Dark to Light">
                          {% for i in dark_pips|get_range %}
                          <img src="{% static 'swdice/Pips/black.png' %}" width="40" alt="Black Pip"
                               title="Flip a Destiny Point from Dark to Light">
                          {% endfor %}
                        </button>
                      {% endif %}
                      {% if light_pips != 0 %}
                        <button type="submit" class="btn btn-sm btn-light" name="use_light"
                                style="padding: 2px; border-radius: 25px;"
                                id="use_light" title="Flip a Destiny Point from Light to Dark">
                          {% for i in light_pips|get_range %}
                            <img src="{% static 'swdice/Pips/white.png' %}" width="40" alt="White Pip"
                                 title="Flip a Destiny Point from Light to Dark">
                          {% endfor %}
                        </button>
                      {% endif %}
                    {% endif %}
                  </span>
                </div>
                <div class="col-1 "> <!-- offset-4 offset-sm-0 order-sm-last -->
                  <table class="destiny_table_new align-right">
                    <tr>
                      <td style="width:12px;">
                        <button type="submit" class="btn btn-sm btn-light light-pip-btn" name="add_light"
                                title="Add a Light Destiny Point">
                          &#10010;
                        </button>
                        <br>
                        <button type="submit" class="btn btn-sm btn-light light-pip-btn" name="rem_light"
                                {% if light_pips == 0 %}
                                disabled title="There are no Light Destiny Points"
                                {% else %}
                                title="Remove a Light Destiny Point"
                                {% endif %}>
                          &#9866;
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          {% endblock destiny %}
          {% block dice_box %}
            <div class="dice-box">
              <div class="row no-gutters justify-content-start">
                <div class="col-4 col-sm-3 col-md-2">
                  <table class="dice_table_sml">
                    <tr>
                      <td>
                        <img src="{% static 'swdice/Dice/ability.png' %}" width="40" title="Ability" alt="ability">
                        {{ dice_form.num_ability_dice }}
                      </td>
                      <td>
                        <button type="button" onclick="addOne('ability')" class="btn btn-light btn-sm">
                          &#9650;
                        </button>
                        <br>
                        <button type="button" onclick="subtractOne('ability')" class="btn btn-light btn-sm">
                          &#9660;
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-4 col-sm-3 col-md-2">
                  <table class="dice_table_sml">
                    <tr>
                      <td>
                        <img src="{% static 'swdice/Dice/proficiency.png' %}" width="40" title="Proficiency"
                             alt="Proficiency">
                        {{ dice_form.num_proficiency_dice }}
                      </td>
                      <td>
                        <button type="button" onclick="addOne('proficiency')" class="btn btn-light btn-sm">
                          &#9650;
                        </button>
                        <br>
                        <button type="button" onclick="subtractOne('proficiency')" class="btn btn-light btn-sm">
                          &#9660;
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-4 col-sm-3 col-md-2">
                  <table class="dice_table_sml">
                    <tr>
                      <td>
                        <img src="{% static 'swdice/Dice/boost.png' %}" width="40" title="Boost" alt="boost">
                        {{ dice_form.num_boost_dice }}
                      </td>
                      <td>
                        <button type="button" onclick="addOne('boost')" class="btn btn-light btn-sm">
                          &#9650;
                        </button>
                        <br>
                        <button type="button" onclick="subtractOne('boost')" class="btn btn-light btn-sm">
                          &#9660;
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-4 col-sm-3 col-md-2">
                  <table class="dice_table_sml">
                    <tr>
                      <td>
                        <img src="{% static 'swdice/Dice/difficulty.png' %}" width="40" title="Difficulty"
                             alt="difficulty">
                        {{ dice_form.num_difficulty_dice }}
                      </td>
                      <td>
                        <button type="button" onclick="addOne('difficulty')" class="btn btn-light btn-sm">
                          &#9650;
                        </button>
                        <br>
                        <button type="button" onclick="subtractOne('difficulty')" class="btn btn-light btn-sm">
                          &#9660;
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-4 col-sm-3 col-md-2">
                  <table class="dice_table_sml">
                    <tr>
                      <td>
                        <img src="{% static 'swdice/Dice/challenge.png' %}" width="40" title="Challenge"
                             alt="challenge">
                        {{ dice_form.num_challenge_dice }}
                      </td>
                      <td>
                        <button type="button" onclick="addOne('challenge')" class="btn btn-light btn-sm">
                          &#9650;
                        </button>
                        <br>
                        <button type="button" onclick="subtractOne('challenge')" class="btn btn-light btn-sm">
                          &#9660;
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-4 col-sm-3 col-md-2">
                  <table class="dice_table_sml">
                    <tr>
                      <td>
                        <img src="{% static 'swdice/Dice/setback.png' %}" width="40" title="Setback" alt="setback">
                        {{ dice_form.num_setback_dice }}
                      </td>
                      <td>
                        <button type="button" onclick="addOne('setback')" class="btn btn-light btn-sm">
                          &#9650;
                        </button>
                        <br>
                        <button type="button" onclick="subtractOne('setback')" class="btn btn-light btn-sm">
                          &#9660;
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-8 col-sm-6 col-md-4">
                  <table class="dice_table_lrg">
                    <tr>
                      <td>
                        <img src="{% static 'swdice/Dice/D100.png' %}" width="80" title="Numerical Dice"
                             alt="numerical dice">
                        <span class="big-font"> d</span>
                        {{ dice_form.numerical_dice_sides }}
                        {{ dice_form.num_numerical_dice }}
                      <td>
                        <button type="button" onclick="addOne('numerical')" class="btn btn-light btn-sm">
                          &#9650;
                        </button>
                        <br>
                        <button type="button" onclick="subtractOne('numerical')" class="btn btn-light btn-sm">
                          &#9660;
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-4 col-sm-3 col-md-2">
                  <table class="dice_table_sml">
                    <tr>
                      <td>
                        <img src="{% static 'swdice/Dice/force.png' %}" width="40" title="Force" alt="force">
                        {{ dice_form.num_force_dice }}
                      </td>
                      <td>
                        <button type="button" onclick="addOne('force')" class="btn btn-light btn-sm">
                          &#9650;
                        </button>
                        <br>
                        <button type="button" onclick="subtractOne('force')" class="btn btn-light btn-sm">
                          &#9660;
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-8 col-sm-6 col-md-4">
                  <table class="dice_table_lrg">
                    <tr>
                      <td>
                        {{ dice_form.caption }}
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-4 col-sm-3 col-md-2">
                  <table class="dice_table_sml">
                    <tr><td style="text-align: center;">
                      {% if player_is_gm %}
                        <button type="submit" class="btn btn-outline-secondary btn-sm" id="clear_destiny"
                                name="clear_destiny" {%if dark_pips == 0 and light_pips == 0%} disabled {%endif%}>
                          Clear ALL <br>Destiny Points
                        </button>
                      {% endif %}
                    </td></tr>
                  </table>
                </div>
              </div>
              <div class="row no-gutters" id="hidden_fields_1" style="display:none">
                <div class="col-4 col-sm-3 col-md-2">
                  <table class="dice_table_sml">
                    <tr>
                      <td>
                        <img src="{% static 'swdice/Faces/Add01.png' %}" title='Automatic Triumph'
                             alt="automatic triumph">
                        {{ dice_form.additional_triumph }}
                      </td>
                      <td>
                        <button type="button" onclick="addOne('triumph')" class="btn btn-light btn-sm">
                          &#9650;
                        </button>
                        <br>
                        <button type="button" onclick="subtractOne('triumph')" class="btn btn-light btn-sm">
                          &#9660;
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-4 col-sm-3 col-md-2">
                  <table class="dice_table_sml">
                    <tr>
                      <td>
                        <img src="{% static 'swdice/Faces/Add03.png' %}" title='Automatic Success'
                             alt="Automatic Success">
                        {{ dice_form.additional_success }}
                      </td>
                      <td>
                        <button type="button" onclick="addOne('success')" class="btn btn-light btn-sm">
                          &#9650;
                        </button>
                        <br>
                        <button type="button" onclick="subtractOne('success')" class="btn btn-light btn-sm">
                          &#9660;
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-4 col-sm-3 col-md-2">
                  <table class="dice_table_sml">
                    <tr>
                      <td>
                        <img src="{% static 'swdice/Faces/Add05.png' %}" title='Automatic Advantage'
                             alt="automatic advantage">
                        {{ dice_form.additional_advantage }}
                      </td>
                      <td>
                        <button type="button" onclick="addOne('advantage')" class="btn btn-light btn-sm">
                          &#9650;
                        </button>
                        <br>
                        <button type="button" onclick="subtractOne('advantage')" class="btn btn-light btn-sm">
                          &#9660;
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-4 col-sm-3 col-md-2">
                  <table class="dice_table_sml">
                    <tr>
                      <td>
                        <img src="{% static 'swdice/Faces/Add07.png' %}" title='Automatic Light'
                             alt="automatic light">
                        {{ dice_form.additional_light_pips }}
                      </td>
                      <td>
                        <button type="button" onclick="addOne('lightpip')" class="btn btn-light btn-sm">
                          &#9650;
                        </button>
                        <br>
                        <button type="button" onclick="subtractOne('lightpip')" class="btn btn-light btn-sm">
                          &#9660;
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-8 col-sm-6 col-md-4 d-none d-md-inline">
                  <table class="dice_table_lrg">
                    <tr>
                      <td>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-4 col-sm-3 col-md-2">
                  <table class="dice_table_sml">
                    <tr>
                      <td>
                        <img src="{% static 'swdice/Faces/Add02.png' %}" title='Automatic Despair'
                             alt="automatic despair">
                        {{ dice_form.additional_despair }}
                      </td>
                      <td>
                        <button type="button" onclick="addOne('despair')" class="btn btn-light btn-sm">
                          &#9650;
                        </button>
                        <br>
                        <button type="button" onclick="subtractOne('despair')" class="btn btn-light btn-sm">
                          &#9660;
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-4 col-sm-3 col-md-2">
                  <table class="dice_table_sml">
                    <tr>
                      <td>
                        <img src="{% static 'swdice/Faces/Add04.png' %}" title='Automatic Failure'
                             alt="automatic failure">
                        {{ dice_form.additional_failure }}
                      </td>
                      <td>
                        <button type="button" onclick="addOne('failure')" class="btn btn-light btn-sm">
                          &#9650;
                        </button>
                        <br>
                        <button type="button" onclick="subtractOne('failure')" class="btn btn-light btn-sm">
                          &#9660;
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-4 col-sm-3 col-md-2">
                  <table class="dice_table_sml">
                    <tr>
                      <td>
                        <img src="{% static 'swdice/Faces/Add06.png' %}" title='Automatic Threat'
                             alt="automatic threat">
                        {{ dice_form.additional_threat }}
                      </td>
                      <td>
                        <button type="button" onclick="addOne('threat')" class="btn btn-light btn-sm">
                          &#9650;
                        </button>
                        <br>
                        <button type="button" onclick="subtractOne('threat')" class="btn btn-light btn-sm">
                          &#9660;
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-4 col-sm-3 col-md-2">
                  <table class="dice_table_sml">
                    <tr>
                      <td>
                        <img src="{% static 'swdice/Faces/Add08.png' %}" title='Automatic Dark'
                             alt="automatic dark">
                        {{ dice_form.additional_dark_pips }}
                      </td>
                      <td>
                        <button type="button" onclick="addOne('darkpip')" class="btn btn-light btn-sm">
                          &#9650;
                        </button>
                        <br>
                        <button type="button" onclick="subtractOne('darkpip')" class="btn btn-light btn-sm">
                          &#9660;
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-4 col-sm-3 col-md-2 d-inline d-sm-none">
                  <table class="dice_table_sml">
                    <tr><td>
                    </td></tr>
                  </table>
                </div>
                <div class="col-8 col-sm-6 col-md-4 d-none d-md-inline">
                  <table class="dice_table_lrg">
                    <tr><td>
                    </td></tr>
                  </table>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col-8 col-sm-6 col-md-4" style="text-align:center">
                  <table class="dice_table_lrg">
                    <tr>
                      <td>
                        <button type="button" id="show_secret_roll_button"
                                class="btn btn-outline-secondary btn-sm"
                                onclick="showSecretRoll()" style="display: block; margin: auto;">
                          Switch to Secret Roll
                        </button>
                        <button type="button" id="hide_secret_roll_button"
                                class="btn btn-outline-secondary btn-sm"
                                onclick="hideSecretRoll()" style="display: none; margin: auto">
                          Switch to Regular Roll
                        </button>
                        <span id="secret_warning" style="display:none">
                          {% if player_is_gm %}
                            <em>As GM, only you will see this roll.</em>
                          {% else %}
                            <em>You and the GM will see this roll.</em>
                          {% endif %}
                        </span>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-4 col-sm-3 col-md-2" style="text-align:center">
                  <table class="dice_table_sml">
                    <tr>
                      <td>
                        <button type="button" id="show_pips_button" class="btn btn-outline-secondary btn-sm"
                                onclick="showAutoPips()" style="margin: auto; display: block;">
                          Show Extras
                        </button>
                        <button type="button" id="hide_pips_button" class="btn btn-outline-secondary btn-sm"
                                onclick="hideAutoPips()" style="margin: auto; display: none">
                          Hide Extras
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-8 col-sm-6 col-md-4 order-md-first" style="text-align:center">
                  <table class="dice_table_lrg">
                    <tr>
                      <td>
                        <button type="submit" class="btn btn-warning btn-lg" id="roll_dice_button"
                                name="roll_dice" style="margin: auto">
                          <strong>Roll 'Em!</strong>
                        </button>
                        <button type="submit" class="btn btn-outline-warning btn-lg" id="roll_dice_secret_button"
                                name="roll_dice_secret" style="margin: auto; display: none;">
                          <strong>Roll 'Em</strong><em>, secretly!</em>
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
                <div class="col-4 col-sm-3 col-md-2" style="text-align:center">
                  <table class="dice_table_sml">
                    <tr>
                      <td>
                        <button type="button" id="reset_dice" class="btn btn-outline-secondary btn-sm"
                                onclick="resetDice()" style="margin: auto;">
                          Reset Dice
                        </button>
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          {% endblock dice_box %}
        </div>
        <div class="col-lg-3 d-none d-lg-block d-xl-none" style="padding-left: 30px;">
          <!-- This section is only visible when page is lg -->
          <p>
            <span style="color:gray">
              Signed in as:
            </span>
            <br>
            {% if avatar_id == 0 %}
              <img src="{% static 'vanlevy/images/Profile_32.png' %}" width="24" title="Profile" alt="Profile Pic">
            {% else %}
              <img src="{% static 'vanlevy/images/avatar_32.png' %}" width="24" title="Avatar" alt="Avatar Pic">
            {% endif %}
            <strong>{{ name_in_room }}</strong>
          </p>
          <div class="row">
            {% if icon %}
              <div class="col-6">
                <img src="{{ icon }}" width="80" alt="Your Pic">
              </div>
            {% endif %}
            <div class="col-6">
              {% if avatar_id > 0 %}
                <a href="{% url 'swdice:switch_avatar_room' room_number %}" role="button"
                       class="btn btn-light btn-sm align-right" id="switch_avatar_1">
                  Switch Avatar
                </a>
              {% endif %}
              <p><br></p>
              {% if not has_char and avatar_id != 0 %}
                <a href="{% url 'accounts:view_avatar' avatar_id %}" role="button"
                       class="btn btn-sm btn-light align-right">
                  Add Char. Sheet
                </a>
              {% endif %}
            </div>
          </div>
          {% if avatar_id == 0 %}
          <br>
            <a href="{% url 'swdice:switch_avatar_room' room_number %}" role="button"
                   class="btn btn-light btn-sm " id="switch_to_an_avatar">
              Switch to an Avatar
            </a>
          {% endif %}
          <button type="button" class="btn btn-sm btn-light" name="switch_to_chat" data-toggle="collapse"
                data-target="#chatAndInfo" aria-expanded="false"  aria-controls="chatAndInfo"
                style="position: absolute; bottom: 0; right: 0; display: none;" id="show_chat_input"
                onclick="hide('show_chat_input')">
            Show Chat Input
          </button>
        </div>
        <div class="col-12 col-xl-4">
          <div class="row no-gutters collapse show" id="chatAndInfo">
            <div class="col-md-6 col-xl-12 d-block d-lg-none d-xl-inline">
              {% block player_info %}
                <hr class="d-xl-none">
                <table style="width: 100%;">
                  <tr>
                    {% if icon %}
                      <td rowspan="2" style="width:90px">
                        <img src="{{ icon }}" width="80" alt="Your Pic">
                      </td>
                      <td>
                        <span style="color:gray">You are signed in as: </span>
                        <br>
                        {% if avatar_id == 0 %}
                          <img src="{% static 'vanlevy/images/Profile_32.png' %}" width="24" title="Profile"
                               alt="Profile Pic">
                        {% else %}
                          <img src="{% static 'vanlevy/images/avatar_32.png' %}" width="24" title="Avatar"
                               alt="Avatar Pic">
                        {% endif %}
                        <strong>{{ name_in_room }}</strong>
                      </td>
                    {% else %}
                      <td>
                        <span style="color:gray">You are signed in as: </span>
                        <br>
                        <strong>{{ name_in_room }}</strong>
                      </td>
                    {% endif %}
                  </tr>
                  <tr>
                    <td>
                      <a href="{% url 'swdice:switch_avatar_room' room_number %}" role="button"
                             class="btn btn-light btn-sm" id="switch_avatar">
                        Switch {% if avatar_id == 0 %}to an{% endif %} Avatar
                      </a>
                      {% if not has_char and avatar_id != 0 %}
                        <a href="{% url 'accounts:view_avatar' avatar_id %}" role="button"
                               class="btn btn-sm btn-light">
                          Add Char. Sheet
                        </a>
                      {% endif %}
                    </td>
                  </tr>
                </table>
              {% endblock player_info %}
            </div>
            <div class="col-md-6 col-lg-12">
              {% block chat_header %}
                <hr>
                <div class="row">
                  <div class="col-12 col-lg-1 col-xl-12">
                    <h5>Chat</h5>
                  </div>
                  {% endblock chat_header %}
                  {% block chat_input %}
                  <div class="col-12 col-lg-6 col-xl-12">
                    {{ chat_form.chat_text }}
                  </div>
                  <div class="col-12 col-lg-5 col-xl-12">
                    {{ chat_form.recipient }}
                    <br>
                    <button type="submit" name="chat" id="chat_submit" style="margin-top: 10px;"
                            class="btn {%if start_whisper%}btn-outline-warning{%else%}btn-outline-dark{%endif%} btn-sm" >
                      {%if start_whisper%}Whisper{%else%}Add Chat{%endif%}
                    </button>
                    <button type="button" class="btn btn-sm btn-light d-none d-lg-inline d-xl-none"
                            name="hide_chat_info" data-toggle="collapse"
                            data-target="#chatAndInfo" aria-expanded="false"  aria-controls="chatAndInfo"
                            style="position: absolute; right: 0; bottom: 0;" id="hide_chat_input"
                            onclick="show('show_chat_input')">
                      Hide Chat Input
                    </button>
                    <button type="button" class="btn btn-sm btn-light d-inline d-lg-none"
                            name="hide_chat_info" data-toggle="collapse"
                            data-target="#chatAndInfo" aria-expanded="false"  aria-controls="chatAndInfo"
                            style="position: absolute; right: 0; bottom: 0;" id="hide_chat_input_2"
                            onclick="show('show_chat_input_navbar')">
                      Hide Chat Input
                    </button>
                  </div>
                </div>
              {% endblock chat_input %}
            </div>
          </div>
        </div>
      </div>
    </form>
    {% else %}
      <h3>This room has been archived by the GM.</h3>
      <p>No new rolls or chats may be made in it.</p>
    {% endif %}
    {% endblock form_inputs %}
    <div class="row">
      <div class="col-12 col-lg-9 col-xl-8">
        <hr>
        {% block alt_destiny %}
        {% endblock %}
        {% block actions_header %}
        {% endblock actions_header %}
        {% block action_log %}
        <div class="container-fluid" id="action_log" style="padding:0">
          {% if action_log is empty %}
            <p>This room has no actions.</p>
          {% else %}
            <table id="action_table">
              <col style="width: 50px">
              <col>
              {% for action in action_log %}
              {% if not action.secret_roll or player_is_gm or action.user == user %}
                {% if not action.secret_roll %}
                  <tr>
                {% elif action.user == user %}
                  <tr style="background-color:#C3EBCD;">
                {% else %}
                  <tr style="background-color:#D2FCDC;">
                {% endif %}
                  {% if action.is_just_caption %}
                    <td>
                      {% if action.image_url %}
                        <img src="{{ action.image_url }}" alt="{{ action.user.username }}'s Pic"
                             title="{{ action.user.username }} as {% if action.avatar %}{{ action.avatar.avatar_name }}{% else %}theirself{% endif %}"
                             width="40">
                      {% else %}
                        <strong>
                          {% if action.avatar %}{{ action.avatar.avatar_name|split_name|wordwrap:9 }}
                          {% else %}{{ action.user.username|split_name|wordwrap:9 }}
                          {% endif %}
                        </strong>
                      {% endif %}
                    </td>
                    <td>
                      {% if action.secret_roll %}
                        <em>secret roll</em><br>
                      {% endif %}
                      {{ action.caption }}
                    </td>
                  {% else %}
                    <td>
                      {% if action.image_url %}
                        <img src="{{ action.image_url }}" alt="{{ action.user.username }}'s Pic"
                             title="{{ action.user.username }} as {% if action.avatar %}{{ action.avatar.avatar_name }}{% else %}theirself{% endif %}"
                             width="40" style="margin: auto;">
                      {% else %}
                        <strong>
                          {% if action.avatar %}{{ action.avatar.avatar_name|split_name|wordwrap:9 }}
                          {% else %}{{ action.user.username|split_name|wordwrap:9 }}
                          {% endif %}
                        </strong>
                      {% endif %}
                    </td>
                    <td>
                      <p style="padding: 0px; margin: 6px;">
                        {% if action.secret_roll %}
                          {% if action.user == user and player_is_gm %}
                            <em>GM Roll: </em>
                          {% else %}
                            <em>Secret Roll: </em>
                          {% endif %}
                        {% else %}
                          Rolled:
                        {% endif %}
                          <!--Individual Faces-->
                        {% for face in action.faces_summary|split_string %}
                          {% if face %}
                            {% with 'swdice/Faces/'|add:face|add:'.png' as face_image %}
                              <img src="{% static face_image %}" title="{{face}}" alt="{{face}}">
                            {% endwith %}
                          {% endif %}
                        {% endfor %}
                        {% if action.num_numerical_dice %}
                          {% for i in action.num_numerical_dice|get_range %}
                            <span style="border-style: groove; border-color: black; border-width: 1px;
                                    display: inline; margin: 5px; padding: 2px; width: 40px; height: 40px;
                                    border-radius: 10px">
                                d {{ action.numerical_dice_sides }}
                            </span>
                          {% endfor %}
                        {% endif %}
                      </p>
                      <p style="padding: 0px; margin: 6px;">
                        {% if action.faces_summary != "" or action.num_numerical_dice > 0%}
                          <strong>Results: </strong>
                        {% endif %}
                        {% if action.results_triumph > 0 %}
                          {% for i in action.results_triumph|get_range %}
                            <img src="{% static 'swdice/Results/Tri01.png' %}" alt="triumph"
                                 title="{{action.results_triumph}} Triumph">
                          {% endfor %}
                        {% endif %}
                        {% if action.results_despair > 0 %}
                          {% for i in action.results_despair|get_range %}
                            <img src="{% static 'swdice/Results/Des01.png' %}" alt="despair"
                                 title="{{action.results_despair}} Despair">
                          {% endfor %}
                        {% endif %}
                        {% if action.results_success > 0 %}
                          {% for i in action.results_success|get_range %}
                            <img src="{% static 'swdice/Results/Suc01.png' %}" alt="success"
                                 title="{{action.results_success}} Success">
                          {% endfor %}
                        {% endif %}
                        {% if action.results_failure > 0 %}
                          {% for i in action.results_failure|get_range %}
                            <img src="{% static 'swdice/Results/Fai01.png' %}" alt="failure"
                                 title="{{action.results_failure}} Failure">
                          {% endfor %}
                        {% endif %}
                        {% if action.results_advantage > 0 %}
                          {% for i in action.results_advantage|get_range %}
                            <img src="{% static 'swdice/Results/Adv01.png' %}" alt="advantage"
                                 title="{{action.results_advantage}} Advantage">
                          {% endfor %}
                        {% endif %}
                        {% if action.results_threat > 0 %}
                          {% for i in action.results_threat|get_range %}
                            <img src="{% static 'swdice/Results/Thr01.png' %}" alt="threat"
                                 title="{{action.results_threat}} Threat">
                          {% endfor %}
                        {% endif %}
                        {% if action.results_light_pips > 0 %}
                          {% for i in action.results_light_pips|get_range %}
                            <img src="{% static 'swdice/Results/Lig01.png' %}" alt="light pip"
                                 title="{{action.results_light_pips}} Light Pips">
                          {% endfor %}
                        {% endif %}
                        {% if action.results_dark_pips > 0 %}
                          {% for i in action.results_dark_pips|get_range %}
                            <img src="{% static 'swdice/Results/Dar01.png' %}" alt="dark pip"
                                 title="{{action.results_dark_pips}} Dark Pips">
                          {% endfor %}
                        {% endif %}
                        {% if action.results_numerical %}
                          {% for number in action.results_numerical|split_string %}
                            {% if number %}
                              <span style="border-style: solid; border-color: black; border-width: 1px;
                                  display: inline; margin: 5px; padding: 2px; width: 40px; height: 40px;">
                                {{ number }}
                              </span>
                            {% endif %}
                          {% endfor %}
                        {% endif %}
                        {% if action.results_cancel %}
                          <em>All dice have cancelled.</em>
                        {% endif %}
                      </p>
                      {% if action.caption %}
                        <p style="padding: 0px; margin: 6px;">
                          <strong>Caption: </strong>
                          {{ action.caption }}
                        </p>
                      {% endif %}
                      </td>
                    {% endif %}
                  </tr>
                {% endif %}
              {% endfor %}
            </table>
          {% endif %}
        </div>
        {% endblock action_log %}
      </div>
      <div class="col-12 col-lg-3 col-xl-4" style="padding:0;">
        {% block alt_chat_header %}
        {% endblock %}
        {% block chat_log %}
          <div class="container-fluid" id="chat_log" style="padding:0">
          <hr>
          {% block glossary %}
            {% if has_char %}
              <input type="checkbox" id="showblock3">
              <div id="slideout3">
                <label id="slideout_tab3" for="showblock3" title="Character Sheet">
                  <i>Char</i>
                </label>
                <div id="slideout_inner3">
                  <p style="margin-left: 20px;">
                    {% if not use_pdf_char %}
                      <strong>Character Sheet - </strong>
                    {% else %}
                      <strong>Character Sheet - {{char_pdf.pdf_name}}</strong>
                    {% endif %}
                    <a href="{% url 'accounts:view_avatar' avatar_id %}" role="button"
                       class="btn btn-sm btn-outline-dark align-right" style="margin-right: 40px;">
                      Change Character Sheet
                    </a>
                  </p>
                  {% if not use_pdf_char %}
                  {% else %}
                  <iframe src="{{ char_pdf.pdf_url }}" style="width: 100%; height: 900px;"></iframe>
                  {% endif %}
                </div>
              </div>
            {% endif %}
              <input type="checkbox" id="showblock">
              <div id="{% if has_char %}slideout_c{% else %}slideout{% endif %}">
                <label id="slideout_tab" for="showblock" title="Dice Meanings">
                  <i>Dice</i>
                </label>
                <div id="slideout_inner">
                  <p style="color: white; margin-left: 45px;"><strong>Glossary</strong></p>
                  <ul style="list-style-type:none; color: white;">
                    <li>
                      <img src="{% static 'swdice/Dice/boost.png' %}" width="32" title="Boost" alt="boost">
                      Boost
                    </li>
                    <li><img src="{% static 'swdice/Dice/ability.png' %}" width="32" title="Ability" alt="ability">
                      Ability
                    </li>
                    <li><img src="{% static 'swdice/Dice/proficiency.png' %}" width="32" title="Proficiency" alt="proficiency">
                      Proficiency
                    </li>
                    <li><img src="{% static 'swdice/Dice/setback.png' %}" width="32" title="Setback" alt="setback">
                      Setback
                    </li>
                    <li><img src="{% static 'swdice/Dice/difficulty.png' %}" width="32" title="Difficulty" alt="difficulty">
                      Difficulty
                    </li>
                    <li><img src="{% static 'swdice/Dice/challenge.png' %}" width="32" title="Challenge" alt="challenge">
                      Challenge
                    </li>
                    <li><img src="{% static 'swdice/Dice/D100.png' %}" width="32" title="Numerical" alt="numerical">
                      Numerical
                    </li>
                    <li><img src="{% static 'swdice/Dice/force.png' %}" width="32" title="Force" alt="force">
                      Force
                    </li>
                  </ul>
                </div>
              </div>
              <input type="checkbox" id="showblock2">
              <div id="{% if has_char %}slideout2_c{% else %}slideout2{% endif %}">
                <label id="slideout_tab2" for="showblock2" title="Result Meanings">
                  <i>Pips </i>
                </label>
                <div id="slideout_inner2">
                  <p style="color: white; margin-left: 45px;"><strong>Glossary</strong></p>
                  <ul style="list-style-type:none;">
                    <li><img src="{% static 'swdice/Results/Suc01.png' %}" title="Success" alt="success"> Success</li>
                    <li><img src="{% static 'swdice/Results/Fai01.png' %}" title="Failure" alt="failure"> Failure</li>
                    <li><img src="{% static 'swdice/Results/Adv01.png' %}" title="Advantage" alt="advantage"> Advantage</li>
                    <li><img src="{% static 'swdice/Results/Thr01.png' %}" title="Threat" alt="threat"> Threat</li>
                    <li><img src="{% static 'swdice/Results/Tri01.png' %}" title="Triumph" alt="triumph"> Triumph</li>
                    <li><img src="{% static 'swdice/Results/Des01.png' %}" title="Despair" alt="despair"> Despair</li>
                    <li><img src="{% static 'swdice/Results/Lig01.png' %}" title="Light" alt="light pip"> Light</li>
                    <li><img src="{% static 'swdice/Results/Dar01.png' %}" title="Dark" alt="dark pip"> Dark</li>
                  </ul>
                </div>
              </div>
          {% endblock glossary %}
          {% if chat_log is empty %}
            <p>This room has no chats</p>
          {% else %}
            <table id="chat_table">
              <col style="width: 50px">
              <col>
                {% for chat in chat_log %}
                  {% if chat.is_private %}
                    {% if chat.recipient == user %}
                      <tr style="background-color:#B1DAF2;">
                        <td>
                          {% if chat.image_url %}
                            <img src="{{ chat.image_url }}" alt="{{ chat.user.username }}'s Pic"
                                 title="{{ chat.user.username }} as {% if chat.avatar %}{{ chat.avatar.avatar_name }}{% else %}theirself{% endif %}"
                                 width="40">
                          {% endif %}
                        </td>
                        <td>
                          {% if chat.avatar %}
                            <em>{{ chat.avatar.avatar_name }} whispers to you:</em>
                          {% else %}
                            <em>{{ chat.user.username }} whispers to you:</em>
                          {% endif %}
                          <br>{{chat.chat_text}}
                        </td>
                      </tr>
                    {% elif chat.user == user %}
                      <tr style="background-color:#9EC3D9;">
                        <td>
                          {% if chat.image_url %}
                            <img src="{{ chat.image_url }}" alt="{{ chat.user.username }}'s Pic"
                                 title="{{ chat.user.username }} as {% if chat.avatar %}{{ chat.avatar.avatar_name }}{% else %}theirself{% endif %}"
                                 width="40">
                          {% endif %}
                        </td>
                        <td>
                          <em>You whisper to
                            {% if chat.recipient_avatar %}
                              {{ chat.recipient_avatar.avatar_name }}:
                            {% else %}
                              {{ chat.recipient.username }}:
                            {% endif %}
                          </em>
                          <br>{{chat.chat_text}}
                        </td>
                      </tr>
                    {% endif %}
                  {% else %}
                    <tr>
                      <td>
                        {% if chat.image_url %}
                          <img src="{{ chat.image_url }}" alt="{{ chat.user.username }}'s Pic"
                               title="{{ chat.user.username }} as {% if chat.avatar %}{{ chat.avatar.avatar_name }}{% else %}theirself{% endif %}"
                               width="40">
                        {% else %}
                          {% if chat.avatar %}
                            <div class="container-fluid" style="overflow: hidden; max-height: 70px; margin: 0px; padding: 0px;">
                              <span style="width:40px; word-wrap:break-word; display:inline-block;">
                              <strong>{{ chat.avatar.avatar_name }}</strong></span>
                          {% else %}
                              <span style="width:40px; word-wrap:break-word; display:inline-block;">
                              <strong>{{ chat.user.username }}</strong></span>
                          {% endif %}
                            </div>
                        {% endif %}
                      </td>
                      <td>
                        {{chat.chat_text}}
                      </td>
                    </tr>
                  {% endif %}
              {% endfor %}
              </table>
          {% endif %}
          </div>
          {% endblock %}
          {% block page_updates %}
            <div class="container-fluid" id="last_times">
              <p style="display: none">Last action taken: <span id="actionTime">{{ update_times.action.isoformat }}</span></p>
              <p style="display: none">Last chat made: <span id="chatTime">{{ update_times.chat.isoformat }}</span></p>
            </div>
            <div class="container-fluid">
              <p style="display: none">Page last updated: <span id="updateTime"></span></p>
            </div>
          {% endblock %}
      </div>
    </div>
</div>

{% block page_scripts %}
<script>
$(function () {
    var dt = new Date();
    document.getElementById('updateTime').innerText = dt.toISOString();
    update_times();
});
function showAutoPips() {
    document.getElementById('hidden_fields_1').style.display='flex';
    document.getElementById('show_pips_button').style.display='none';
    document.getElementById('hide_pips_button').style.display='block';
};
function hideAutoPips() {
    document.getElementById('hidden_fields_1').style.display='none';
    document.getElementById('show_pips_button').style.display='block';
    document.getElementById('hide_pips_button').style.display='none';
};
function showSecretRoll() {
    document.getElementById('secret_warning').style.display='block';
    document.getElementById('show_secret_roll_button').style.display='none';
    document.getElementById('hide_secret_roll_button').style.display='block';
    document.getElementById('roll_dice_button').style.display='none';
    document.getElementById('roll_dice_secret_button').style.display='block';
};
function hideSecretRoll() {
    document.getElementById('secret_warning').style.display='none';
    document.getElementById('show_secret_roll_button').style.display='block';
    document.getElementById('hide_secret_roll_button').style.display='none';
    document.getElementById('roll_dice_button').style.display='block';
    document.getElementById('roll_dice_secret_button').style.display='none';
};
function addOne(id) {
    document.getElementById(id).stepUp(1);
};
function subtractOne(id) {
    document.getElementById(id).stepDown(1);
};
function resetDice() {
    document.getElementById('boost').value = 0;
    document.getElementById('setback').value = 0;
    document.getElementById('ability').value = 0;
    document.getElementById('difficulty').value = 0;
    document.getElementById('proficiency').value = 0;
    document.getElementById('challenge').value = 0;
    document.getElementById('force').value = 0;
    document.getElementById('numerical').value = 0;
    document.getElementById('sides').value = 100;
    document.getElementById('triumph').value = 0;
    document.getElementById('despair').value = 0;
    document.getElementById('success').value = 0;
    document.getElementById('failure').value = 0;
    document.getElementById('advantage').value = 0;
    document.getElementById('threat').value = 0;
    document.getElementById('lightpip').value = 0;
    document.getElementById('darkpip').value = 0;
};
function highlightChat() {
  var number = document.getElementById("id_recipient").selectedIndex;
  var button = document.getElementById("chat_submit");
  var chat_area = document.getElementById("chat_text");
  if (number > 0) {
    button.classList.remove('btn-outline-dark');
    button.classList.add('btn-outline-warning');
    button.textContent = 'Whisper';
    chat_area.classList.add('chat_whisper');
    chat_area.classList.remove('chat_regular');
  } else {
    button.classList.remove('btn-outline-warning');
    button.classList.add('btn-outline-dark');
    button.textContent = 'Add Chat';
    chat_area.classList.remove('chat_whisper');
    chat_area.classList.add('chat_regular');
  };
};
$(function () {
  var number = document.getElementById("id_recipient").selectedIndex;
  var button = document.getElementById("chat_submit");
  var chat_area = document.getElementById("chat_text");
  if (number > 0) {
    chat_area.classList.add('chat_whisper');
    chat_area.classList.remove('chat_regular');
  };
});
var myForm = $("#destiny");
myForm.submit(function(){
    myForm.submit(function(){
        return false;
    });
});
var mySecondForm = $("#dice");
mySecondForm.submit(function(){
    mySecondForm.submit(function(){
        return false;
    });
});
var myThirdForm = $("#chat");
myThirdForm.submit(function(){
    myThirdForm.submit(function(){
        return false;
    });
});
function refresh_action_log(){
    var url_actions = document.URL + ' #action_log';
    var url_destiny = document.URL + ' #destiny_area';
    $('#action_log').load(url_actions);
    $('#destiny_area').load(url_destiny);
};
function refresh_chat_log() {
    var url_chat_log = document.URL + ' #chat_log';
    $('#chat_log').load(url_chat_log);
};
function check_and_update() {
    var pageUpdate = new Date(document.getElementById('updateTime').innerText);
    var actionUpdate = new Date($("#actionTime").text());
    var chatUpdate = new Date($("#chatTime").text());
    var now = new Date();
    if (actionUpdate > pageUpdate && chatUpdate > pageUpdate) {
        refresh_action_log();
        refresh_chat_log();
        document.getElementById('updateTime').innerText = now.toISOString();
    } else if (actionUpdate > pageUpdate) {
        refresh_action_log();
        document.getElementById('updateTime').innerText = now.toISOString();
    } else if (chatUpdate > pageUpdate) {
        refresh_chat_log();
        document.getElementById('updateTime').innerText = now.toISOString();
    };
};
function update_times() {
    var url_action_time = document.URL + ' #last_times';
    $('#last_times').load(url_action_time, function () {
        // When it loads, schedule the next request for 1s later
        setTimeout(update_times, 1000)
    });
    check_and_update();
};
function show(id) {
    document.getElementById(id).style.display='inline';
};
function hide(id) {
    document.getElementById(id).style.display='none';
};
</script>
{% endblock page_scripts %}
{% endblock body %}