{% extends 'swdice/swroom.html' %}

{% block head %}
    <meta charset="UTF-8">
    <title>SW Room Info</title>
{% endblock %}

{% block brand %}
<span class="d-inline-block text-truncate" style="max-width: 700px; color:white; font-size: 150%;">
    {{room.name}}
</span>
<span class="d-inline-block" style="color:white; font-size: 150%;">; Info Page</span>
{% endblock %}

{% load static %}

{% block room_header %}
<table style="width: 100%;">
    <tr>
        <td>
            <h4>This page does not automatically update.</h4>
            <p>You must manually refresh to see changes to destiny, new rolls, or new chats.</p>
        </td>
        <td>
            <a href="{% url 'swdice:swroom' room_number %}">
            <button type="button" class="btn btn-info align-right" name="back to page">
                Back to Live Page
            </button>
            </a>
        </td>
    </tr>
</table>
{% endblock %}

{% block user_table %}
<div class="container-fluid" id="current_users">
    <h5>User Information Table</h5>
    <table id="users_table" style={%if player_is_gm%}"width:720px"{%else%}"width:540px"{%endif%}>
        <tr>
            <th style="width:80px">User <br>Image</th>
            <th style="width:300px">&nbsp<br>Playing as</th>
            <th style="width:80px">Avatar <br>Image</th>
            <th style="width:80px">&nbsp<br>Role</th>
            {% if player_is_gm %}
            <th style="width:180px">Player <br>Info</th>
            {% endif %}
        </tr>
        {% for player in users_in_room %}
        {% if not player.banned or player_is_gm %}
        <tr>
            <td>
                {% if player.user_id.userprofile.user_image %}
                    <img src="{{ player.user_id.userprofile.user_image.url }}" width="40">
                {% else %}
                    <em>no image</em>
                {% endif %}
            </td>
            <td>
                <strong>{{ player.user_id.username }}</strong> playing as:
                <strong>
                    {% if player.avatar_id %}{{ player.avatar_id.avatar_name }}{% else %}theirself{% endif %}
                </strong>
            </td>
            <td>
                {% if player.avatar_id %}
                    {% if player.avatar_id.avatar_image %}
                        <img src="{{ player.avatar_id.avatar_image.url }}" width="40">
                    {% else %}
                        <em>no image</em>
                    {% endif %}
                {% else %}
                    {% if player.user_id.userprofile.user_image %}
                        <img src="{{ player.user_id.userprofile.user_image.url }}" width="40">
                    {% else %}
                        <em>no image</em>
                    {% endif %}
                {% endif %}
            </td>
            <td>
                {% if player.banned %}<em>banned</em>
                {% elif player.game_master %}<strong>GM</strong>
                {% else %}Player
                {% endif %}
            </td>
            {% if player_is_gm %}
            <td>

                <a href="{% url 'swdice:swroom_player_info' room_number player.user_id_id%}">
                <button type="button" class="btn btn-info btn-sm btn-outline-info" name="Player_Info">
                    Player Info
                </button>
                </a>
            </td>

            {% endif %}
        </tr>
        {% endif %}
        {% endfor %}
    </table>
</div>
{% endblock %}

{% block gm_stuff %}
{% if player_is_gm %}
    <div class="container-fluid" id="gm_message">
        <h5>Room Details</h5>
        <ul>
            {% if not room.open_to_all %}
            <li><strong>Passcode:</strong>
                {% if room.passcode %}
                    "{{ room.passcode }}"
                {% else %}
                    this room's passcode has been left <em>blank</em>.
                {% endif %}
            </li>
            {% else %}
            <li>This room is <strong>open to all</strong></li>
            {% endif %}
            <li><strong>Created on:</strong> {{ room.created_on }}</li>
            <li><strong>Created by:</strong> {{ room.created_by.username }}</li>
        </ul>
        <hr>

        <h5>GM Information</h5>
        <p>
            You are the GM for this room.  This means that you have have extra privileges.  You can:
            <ul>
                <li>See individual Player Info pages (and alter player privileges)</li>
                <li>See banned players</li>
                <li>See Room Details</li>
            </ul>
        </p>
        <hr>
    </div>
{% endif %}
{% endblock %}

{% block destiny %}
<div class="container-fluid" id="destiny_area">
    <h5>Current Destiny</h5>
    <table id="destiny_table">
        <tr>
            <td>
                <span class="container-fluid" id="destiny_box">
                {% if dark_pips == 0  and light_pips == 0 %}
                There are no Destiny Points
                {% endif %}
                {% for i in dark_pips|get_range %}
                    <img src="{% static 'swdice/Pips/black.png' %}" width="40" title="Use Dark">
                {% endfor %}
                {% for i in light_pips|get_range %}
                    <img src="{% static 'swdice/Pips/white.png' %}" width="40" title="Use Light">
                {% endfor %}
                </span>
            </td>
        </tr>
    </table>
</div>
{% endblock %}
{% block dice_box %}
<!-- no dice box -->
{% endblock %}
{% block actions_header %}
<hr>
<h5>Rolls</h5>
{% endblock %}
<!-- include block action_log -->
<!-- include block player_info -->
{% block switch_avatar_button %}
<!-- no switch avatar button -->
{% endblock %}
{% block chat_header %}
<hr>
<h5>Chats</h5>
{% endblock %}
{% block chat_input %}
<!-- no chat input -->
{% endblock %}
<!-- include block chat_log -->


{% block page_scripts %}
<!-- no page_scripts-->
{% endblock %}

