{% extends 'sw_base.html' %}

{% block head %}
    <meta charset="UTF-8">
    <title>SW Room</title>
{% endblock %}

{% block navbar_space_part_1 %}
<!--exclude space-->
{% endblock %}

{% block brand %}
<a href="{% url 'swdice:swroom_info' room_number %}">
<span class="d-inline-block text-truncate" style="max-width: 750px; color:white; font-size: 150%;">
    {{room.name}}
</span>
</a>
{% endblock %}

{% block navbar_space_part_2 %}
<!--exclude space-->
{% endblock %}

{% block body %}

{% load static %}
<div class="container-fluid">
<br>
    <div class="row">
        <div class="col-9">
            {% block room_header %}
            {% endblock %}
            {% block user_table %}
            {% endblock %}
            {% block gm_stuff %}
            {% endblock %}
            {% block destiny %}
            <div class="container-fluid" id="destiny_area">
                <table id="destiny_table">
                    <tr>
                    <form id="destiny" method="POST">
                    {% csrf_token %}
                        <td style="width:12px;">
                            <button type="submit" class="btn btn-light btn-sm" name="add_dark">&#9650</button>
                            <br>
                            <button type="submit" class="btn btn-light btn-sm" name="rem_dark">&#9660</button>
                        </td>
                        <td style="width:33px;">
                            <button type="submit" class="btn btn-secondary outline-me" name="use_dark" id="use_dark">
                                Use<br>Dark
                            </button>
                        </td>
                        <td>
                            <span class="container-fluid" id="destiny_box">
                            {% if dark_pips == 0  and light_pips == 0 %}
                            There are no Destiny Points
                            {% endif %}
                            {% for i in dark_pips|get_range %}
                                <img src="{% static 'swdice/Pips/black.png' %}" width="40" title="Use Dark">
                            {% endfor %}
                            {% for i in light_pips|get_range %}
                                <img src="{% static 'swdice/Pips/white.png' %}" width="40" title="Use Light">
                            {% endfor %}
                            </span>
                        </td>
                        <td style="width:36px;">
                            <button type="submit" class="btn btn-outline-dark" name="use_light" id="use_light">
                                Use<br>Light
                            </button>
                        </td>
                        <td style="width:12px;">
                            <button type="submit" class="btn btn-light btn-sm" name="add_light">&#9650</button>
                            <br>
                            <button type="submit" class="btn btn-light btn-sm" name="rem_light">&#9660</button>
                        </td>
                    </form>
                    </tr>
                </table>
            </div>
            {% endblock %}
            {% block dice_box %}
            <div class="container-fluid" id="dice_box">
                <form id="dice" method="post" autocomplete="off">
                    {% csrf_token %}
                    <div class="container-fluid dice-container">
                        <table>
                            <tr>
                                <td>
                                    <img src="{% static 'swdice/Dice/boost.png' %}" width="40">
                                    {{ dice_form.num_boost_dice }}
                                </td>
                                <td>
                                    <button type="button"
                                            onclick="addOne('boost')"
                                            class="btn btn-light btn-sm">
                                        &#9650
                                    </button>
                                    <br>
                                    <button type="button"
                                            onclick="subtractOne('boost')"
                                            class="btn btn-light btn-sm">
                                        &#9660
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="container-fluid dice-container">
                        <table>
                            <tr>
                                <td>
                                    <img src="{% static 'swdice/Dice/ability.png' %}" width="40">
                                    {{ dice_form.num_ability_dice }}
                                </td>
                                <td>
                                    <button type="button"
                                            onclick="addOne('ability')"
                                            class="btn btn-light btn-sm">
                                        &#9650
                                    </button>
                                    <br>
                                    <button type="button"
                                            onclick="subtractOne('ability')"
                                            class="btn btn-light btn-sm">
                                        &#9660
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="container-fluid dice-container">
                        <table>
                            <tr>
                                <td>
                                    <img src="{% static 'swdice/Dice/proficiency.png' %}" width="40">
                                    {{ dice_form.num_proficiency_dice }}
                                </td>
                                <td>
                                    <button type="button"
                                            onclick="addOne('proficiency')"
                                            class="btn btn-light btn-sm">
                                        &#9650
                                    </button>
                                    <br>
                                    <button type="button"
                                            onclick="subtractOne('proficiency')"
                                            class="btn btn-light btn-sm">
                                        &#9660
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="container-fluid dice-container-long">
                        <table>
                            <tr>
                                <td>
                                    <img src="{% static 'swdice/Dice/D100.png' %}" width="80">
                                    <span class="big-font"> d</span>
                                    {{ dice_form.numerical_dice_sides }}
                                    {{ dice_form.num_numerical_dice }}
                                <td>
                                    <button type="button"
                                            onclick="addOne('numerical')"
                                            class="btn btn-light btn-sm">&#9650</button>
                                    <br>
                                    <button type="button"
                                            onclick="subtractOne('numerical')"
                                            class="btn btn-light btn-sm">
                                        &#9660
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div class="container-fluid dice-container">
                        <button type="button" id="show_pips_button"
                                class="btn btn-outline-secondary btn-sm align-right"
                                onclick="showAutoPips()">
                            Extra Pips
                        </button>
                        <button type="button" id="hide_pips_button"
                                class="btn btn-outline-secondary btn-sm align-right"
                                onclick="hideAutoPips()" style="display:none">
                            Hide
                        </button>
                    </div>
                    <br class="clearBoth">
                    <div class="container-fluid dice-container">
                        <table>
                            <tr>
                                <td>
                                    <img src="{% static 'swdice/Dice/setback.png' %}" width="40">
                                    {{ dice_form.num_setback_dice }}
                                </td>
                                <td>
                                    <button type="button"
                                            onclick="addOne('setback')"
                                            class="btn btn-light btn-sm">
                                        &#9650
                                    </button>
                                    <br>
                                    <button type="button"
                                            onclick="subtractOne('setback')"
                                            class="btn btn-light btn-sm">
                                        &#9660
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="container-fluid dice-container">
                        <table>
                            <tr>
                                <td>
                                    <img src="{% static 'swdice/Dice/difficulty.png' %}" width="40">
                                    {{ dice_form.num_difficulty_dice }}
                                </td>
                                <td>
                                    <button type="button"
                                            onclick="addOne('difficulty')"
                                            class="btn btn-light btn-sm">
                                        &#9650
                                    </button>
                                    <br>
                                    <button type="button"
                                            onclick="subtractOne('difficulty')"
                                            class="btn btn-light btn-sm">
                                        &#9660
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="container-fluid dice-container">
                        <table>
                            <tr>
                                <td>
                                    <img src="{% static 'swdice/Dice/challenge.png' %}" width="40">
                                    {{ dice_form.num_challenge_dice }}
                                </td>
                                <td>
                                    <button type="button"
                                            onclick="addOne('challenge')"
                                            class="btn btn-light btn-sm">
                                        &#9650
                                    </button>
                                    <br>
                                    <button type="button"
                                            onclick="subtractOne('challenge')"
                                            class="btn btn-light btn-sm">
                                        &#9660
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="container-fluid dice-container">
                        <table>
                            <tr>
                                <td>
                                    <img src="{% static 'swdice/Dice/force.png' %}" width="40">
                                    {{ dice_form.num_force_dice }}
                                </td>
                                <td>
                                    <button type="button"
                                            onclick="addOne('force')"
                                            class="btn btn-light btn-sm">
                                        &#9650
                                    </button>
                                    <br>
                                    <button type="button"
                                            onclick="subtractOne('force')"
                                            class="btn btn-light btn-sm">
                                        &#9660
                                    </button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="container-fluid dice-container-long">
                        {{ dice_form.caption }}
                    </div>

                    <br class="clearBoth">

                    <div id="hidden_fields" style="display:none">
                        <div class="container-fluid dice-container">
                            <table>
                            <tr>
                                <td>
                                    <img src="{% static 'swdice/Faces/Add01.jpg' %}" title='Automatic Triumph'>
                                    {{ dice_form.additional_triumph }}
                                </td>
                                <td>
                                    <button type="button"
                                            onclick="addOne('triumph')"
                                            class="btn btn-light btn-sm">
                                        &#9650
                                    </button>
                                    <br>
                                    <button type="button"
                                            onclick="subtractOne('triumph')"
                                            class="btn btn-light btn-sm">
                                        &#9660
                                    </button>
                                </td>
                            </tr>
                            </table>
                        </div>
                        <div class="container-fluid dice-container">
                            <table>
                            <tr>
                                <td>
                                    <img src="{% static 'swdice/Faces/Add03.jpg' %}" title='Automatic Success'>
                                    {{ dice_form.additional_success }}
                                </td>
                                <td>
                                    <button type="button"
                                            onclick="addOne('success')"
                                            class="btn btn-light btn-sm">
                                        &#9650
                                    </button>
                                    <br>
                                    <button type="button"
                                            onclick="subtractOne('success')"
                                            class="btn btn-light btn-sm">
                                        &#9660
                                    </button>
                                </td>
                            </tr>
                            </table>
                        </div>
                        <div class="container-fluid dice-container">
                            <table>
                            <tr>
                                <td>
                                    <img src="{% static 'swdice/Faces/Add05.jpg' %}" title='Automatic Advantage'>
                                    {{ dice_form.additional_advantage }}
                                </td>
                                <td>
                                    <button type="button"
                                            onclick="addOne('advantage')"
                                            class="btn btn-light btn-sm">
                                        &#9650
                                    </button>
                                    <br>
                                    <button type="button"
                                            onclick="subtractOne('advantage')"
                                            class="btn btn-light btn-sm">
                                        &#9660
                                    </button>
                                </td>
                            </tr>
                            </table>
                        </div>
                        <div class="container-fluid dice-container">
                            <table>
                            <tr>
                                <td>
                                    <img src="{% static 'swdice/Faces/Add07.jpg' %}" title='Automatic Light'>
                                    {{ dice_form.additional_light_pips }}
                                </td>
                                <td>
                                    <button type="button"
                                            onclick="addOne('lightpip')"
                                            class="btn btn-light btn-sm">
                                        &#9650
                                    </button>
                                    <br>
                                    <button type="button"
                                            onclick="subtractOne('lightpip')"
                                            class="btn btn-light btn-sm">
                                        &#9660
                                    </button>
                                </td>
                            </tr>
                            </table>
                        </div>
                        <div class="container-fluid dice-container-long"></div>
                        <br class="clearBoth">
                        <div class="container-fluid dice-container">
                            <table>
                            <tr>
                                <td>
                                    <img src="{% static 'swdice/Faces/Add02.jpg' %}" title='Automatic Despair'>
                                    {{ dice_form.additional_despair }}
                                </td>
                                <td>
                                    <button type="button"
                                            onclick="addOne('despair')"
                                            class="btn btn-light btn-sm">
                                        &#9650
                                    </button>
                                    <br>
                                    <button type="button"
                                            onclick="subtractOne('despair')"
                                            class="btn btn-light btn-sm">
                                        &#9660
                                    </button>
                                </td>
                            </tr>
                            </table>
                        </div>
                        <div class="container-fluid dice-container">
                            <table>
                            <tr>
                                <td>
                                    <img src="{% static 'swdice/Faces/Add04.jpg' %}" title='Automatic Failure'>
                                    {{ dice_form.additional_failure }}
                                </td>
                                <td>
                                    <button type="button"
                                            onclick="addOne('failure')"
                                            class="btn btn-light btn-sm">
                                        &#9650
                                    </button>
                                    <br>
                                    <button type="button"
                                            onclick="subtractOne('failure')"
                                            class="btn btn-light btn-sm">
                                        &#9660
                                    </button>
                                </td>
                            </tr>
                            </table>
                        </div>
                        <div class="container-fluid dice-container">
                            <table>
                            <tr>
                                <td>
                                    <img src="{% static 'swdice/Faces/Add06.jpg' %}" title='Automatic Threat'>
                                    {{ dice_form.additional_threat }}
                                </td>
                                <td>
                                    <button type="button"
                                            onclick="addOne('threat')"
                                            class="btn btn-light btn-sm">
                                        &#9650
                                    </button>
                                    <br>
                                    <button type="button"
                                            onclick="subtractOne('threat')"
                                            class="btn btn-light btn-sm">
                                        &#9660
                                    </button>
                                </td>
                            </tr>
                            </table>
                        </div>
                        <div class="container-fluid dice-container">
                            <table>
                            <tr>
                                <td>
                                    <img src="{% static 'swdice/Faces/Add08.jpg' %}" title='Automatic Dark'>
                                    {{ dice_form.additional_dark_pips }}
                                </td>
                                <td>
                                    <button type="button"
                                            onclick="addOne('darkpip')"
                                            class="btn btn-light btn-sm">
                                        &#9650
                                    </button>
                                    <br>
                                    <button type="button"
                                            onclick="subtractOne('darkpip')"
                                            class="btn btn-light btn-sm">
                                        &#9660
                                    </button>
                                </td>
                            </tr>
                            </table>
                        </div>
                        <div class="container-fluid dice-container-long"></div>
                        <br class="clearBoth">
                    </div>
                    <div class="container-fluid dice-container-long" style="text-align:center">
                    <button type="submit" class="btn btn-warning btn-lg" name="roll_dice" style="margin: auto"
                            id="roll_dice_button">
                        <strong>Roll 'Em!</strong>
                    </button>
                    <button type="submit" class="btn btn-outline-warning btn-lg" name="roll_dice_secret"
                            style="margin: auto; display: none;" id="roll_dice_secret_button">
                        <strong>Roll 'Em</strong><em>, secretly!</em>
                    </button>
                    </div>
                    <div class="container-fluid dice-container-long">
                        <span id="secret_warning" style="display:none">
                            {% if player_is_gm %}
                            <em>Only you will be able to see this roll.</em>
                            {% else %}
                            <em>Only you and the GM will be able to see this roll</em>
                            {% endif %}
                        </span>
                    </div>
                    <div class="container-fluid dice-container-long">
                        <button type="button" id="show_secret_roll_button"
                                class="btn btn-outline-secondary btn-sm align-right"
                                onclick="showSecretRoll()">
                            Switch to Secret Roll
                        </button>
                        <button type="button" id="hide_secret_roll_button"
                                class="btn btn-outline-secondary btn-sm align-right"
                                onclick="hideSecretRoll()" style="display:none">
                            Switch to Regular Roll
                        </button>
                    </div>
                    <br class="clearBoth">
                </form>
                <p><br></p>
            </div>
            {% endblock %}
            {% block actions_header %}
            {% endblock %}
            {% block action_log %}
            <div class="container-fluid" id="action_log" style="padding:0">
                <hr>
                {% if action_log is empty %}
                    <p>This room has no actions.</p>
                {% else %}
                <table id="action_table">
                    <col width="50px">
                    {% for action in action_log %}
                    {% if not action.secret_roll or player_is_gm or action.user == user %}
                    {% if not action.secret_roll %}
                        <tr>
                    {% elif action.user == user %}
                        <tr style="background-color:#fff3a2;">
                    {% else %}
                        <tr style="background-color:#fff372;">
                    {% endif %}
                        {% if action.is_just_caption %}
                            <td>
                            {% if action.image_url %}
                                <img src="{{ action.image_url }}"
                                     title="{{ action.user.username }} as {% if action.avatar %}{{ action.avatar.avatar_name }}{% else %}theirself{% endif %}"
                                     width="40">
                            {% endif %}
                            </td>
                            <td>
                                {% if action.secret_roll %}
                                <em>secret roll</em><br>
                                {% endif %}
                                <strong>{% if action.avatar %}{{ action.avatar.avatar_name }}{% else %}
                                    {{ action.user.username }}{% endif %}</strong>:
                            {{ action.caption }}
                            </td>
                        {% else %}
                            <td>
                            {% if action.image_url %}
                                <img src="{{ action.image_url }}"
                                     title="{{ action.user.username }} as {% if action.avatar %}{{ action.avatar.avatar_name }}{% else %}theirself{% endif %}"
                                     width="40">
                            {% endif %}
                            </td>
                            <td>
                            {% if action.secret_roll %}
                            <em>secret roll</em><br>
                            {% endif %}
                            <strong>{% if action.avatar %} {{ action.avatar.avatar_name }} {% else %}
                                    {{ action.user.username }} {% endif %} </strong> Rolled:
                                <!--Individual Faces-->
                            {% for face in action.faces_summary|split_string %}
                                {% if face %}
                                {% with 'swdice/Faces/'|add:face|add:'.jpg' as face_image %}
                                <img src="{% static face_image %}" title="{{face}}">
                                {% endwith %}
                                {% endif %}
                            {% endfor %}
                            {% if action.results_numerical %}
                                {% for number in action.results_numerical|split_string %}
                                    {% if number %}
                                        <mark>{{ number }}</mark>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                                <!--Summary-->
                                <br>
                                {% if action.faces_summary != "" %}
                                <strong>Results: </strong>
                                {% endif %}
                            {% if action.results_triumph > 0 %}
                                {% for i in action.results_triumph|get_range %}
                                <img src="{% static 'swdice/Results/Tri01.jpg' %}" title="{{action.results_triumph}} Triumph">
                                {% endfor %}
                            {% endif %}
                            {% if action.results_despair > 0 %}
                                {% for i in action.results_despair|get_range %}
                                <img src="{% static 'swdice/Results/Des01.jpg' %}" title="{{action.results_despair}} Despair">
                                {% endfor %}
                            {% endif %}
                            {% if action.results_success > 0 %}
                                {% for i in action.results_success|get_range %}
                                <img src="{% static 'swdice/Results/Suc01.jpg' %}" title="{{action.results_success}} Success">
                                {% endfor %}
                            {% endif %}
                            {% if action.results_failure > 0 %}
                                {% for i in action.results_failure|get_range %}
                                <img src="{% static 'swdice/Results/Fai01.jpg' %}" title="{{action.results_failure}} Failure">
                                {% endfor %}
                            {% endif %}
                            {% if action.results_advantage > 0 %}
                                {% for i in action.results_advantage|get_range %}
                                <img src="{% static 'swdice/Results/Adv01.jpg' %}" title="{{action.results_advantage}} Advantage">
                                {% endfor %}
                            {% endif %}
                            {% if action.results_threat > 0 %}
                                {% for i in action.results_threat|get_range %}
                                <img src="{% static 'swdice/Results/Thr01.jpg' %}" title="{{action.results_threat}} Threat">
                                {% endfor %}
                            {% endif %}
                            {% if action.results_light_pips > 0 %}
                                {% for i in action.results_light_pips|get_range %}
                                <img src="{% static 'swdice/Results/Lig01.jpg' %}" title="{{action.results_light_pips}} Light Pips">
                                {% endfor %}
                            {% endif %}
                            {% if action.results_dark_pips > 0 %}
                                {% for i in action.results_dark_pips|get_range %}
                                <img src="{% static 'swdice/Results/Dar01.jpg' %}" title="{{action.results_dark_pips}} Dark Pips">
                                {% endfor %}
                            {% endif %}
                            {% if action.results_cancel %}
                                <em>All dice have cancelled.</em>
                            {% endif %}

                            {% if action.caption %}
                                <br>
                                <strong>Caption: </strong>
                                {{ action.caption }}
                            {% endif %}
                            </td>
                        {% endif %}
                    </tr>
                    {% endif %}
                    {% endfor %}
                </table>
                {% endif %}
            </div>
            {% endblock %}
        </div>
        <div class="col-3" style="padding:0;">
            {% block player_info %}
            <table style="width: 100%;">
                <tr>
                    <td rowspan="2" style="width:90px">
                        {% if icon %}
                            <img src="{{ icon }}" width="80">
                        {% endif %}
                    </td>
                    <td>
                        <span style="color:gray">You are signed in as: </span>
                        <strong>{{ name_in_room }}</strong>
                    </td>
                </tr>
                <tr>
                    <td>
                        {% block switch_avatar_button %}
                        <a href="{% url 'swdice:switch_avatar_room' room_number %}">
                        <button type="button" class="btn btn-light btn-sm align-right" name="switch_avatar">
                            Switch Avatar
                        </button>
                        {% endblock %}
                        </a>
                    </td>
                </tr>
            </table>
            {% endblock %}
            {% block chat_header %}
            <h5>Chat</h5>
            {% endblock %}
            {% block chat_input %}
            <div class="container-fluid" id="chat_input" style="padding:0">
            <form method="post" autocomplete="off">
                {% csrf_token %}
                {{ form.chat_text }}
                {{ form.recipient }}
                <button type="submit" name="chat" class="btn btn-outline-dark btn-sm">
                    Add Chat
                </button>
            </form>
            </div>
            {% endblock %}
            {% block chat_log %}
            <div class="container-fluid" id="chat_log" style="padding:0">
            <hr>
            {% if chat_log is empty %}
                <p>This room has no chats</p>
            {% else %}
                <table id="chat_table">
                    <col width="50px">
                {% for chat in chat_log %}
                    {% if chat.is_private %}
                        {% if chat.recipient == user %}
                            <tr>
                                <td>
                                {% if chat.image_url %}
                                    <img src="{{ chat.image_url }}"
                                         title="{{ chat.user.username }} as {% if chat.avatar %}{{ chat.avatar.avatar_name }}{% else %}theirself{% endif %}"
                                         width="40">
                                {% endif %}
                                </td>
                                <td style="background-color:#fff372;">
                                    {% if chat.avatar %}
                                    <em>{{ chat.avatar.avatar_name }} whispers to you:</em>
                                    {% else %}
                                    <em>{{ chat.user.username }} whispers to you:</em>
                                    {% endif %}
                                    <br>{{chat.chat_text}}
                                </td>
                            </tr>
                        {% elif chat.user == user %}
                            <tr>
                                <td>
                                {% if chat.image_url %}
                                    <img src="{{ chat.image_url }}"
                                         title="{{ chat.user.username }} as {% if chat.avatar %}{{ chat.avatar.avatar_name }}{% else %}theirself{% endif %}"
                                         width="40">
                                {% endif %}
                                </td>
                                <td style="background-color:#fff3a2;">
                                    <em>You whisper to
                                        {% if chat.recipient_avatar %}
                                            {{ chat.recipient_avatar.avatar_name }}:
                                        {% else %}
                                        {{ chat.recipient.username }}:</em>
                                    {% endif %}
                                    </em>
                                    <br>{{chat.chat_text}}
                                </td>
                            </tr>
                        {% endif %}
                    {% else %}
                        <tr>
                            <td>
                            {% if chat.image_url %}
                                <img src="{{ chat.image_url }}"
                                     title="{{ chat.user.username }} as {% if chat.avatar %}{{ chat.avatar.avatar_name }}{% else %}theirself{% endif %}"
                                     width="40">
                            {% endif %}
                            </td>
                            <td>
                                {{chat.chat_text}}
                            </td>
                        </tr>
                    {% endif %}
                {% endfor %}
                </table>
            {% endif %}
            </div>
            {% endblock %}
        </div>
    </div>
</div>


{% block page_scripts %}
<script>
function showAutoPips() {
    document.getElementById('hidden_fields').style.display='block'
    document.getElementById('show_pips_button').style.display='none'
    document.getElementById('hide_pips_button').style.display='block'
}

function hideAutoPips() {
    document.getElementById('hidden_fields').style.display='none'
    document.getElementById('show_pips_button').style.display='block'
    document.getElementById('hide_pips_button').style.display='none'
}

function showSecretRoll() {
    document.getElementById('secret_warning').style.display='block'
    document.getElementById('show_secret_roll_button').style.display='none'
    document.getElementById('hide_secret_roll_button').style.display='block'
    document.getElementById('roll_dice_button').style.display='none'
    document.getElementById('roll_dice_secret_button').style.display='block'
}

function hideSecretRoll() {
    document.getElementById('secret_warning').style.display='none'
    document.getElementById('show_secret_roll_button').style.display='block'
    document.getElementById('hide_secret_roll_button').style.display='none'
    document.getElementById('roll_dice_button').style.display='block'
    document.getElementById('roll_dice_secret_button').style.display='none'
}

function addOne(id) {
    document.getElementById(id).stepUp(1);
}
function subtractOne(id) {
    document.getElementById(id).stepDown(1);
}
</script>

<script>
$(function() {
    function refresh_action_log(){
        var url_actions = document.URL + ' #action_log'
        $('#action_log').load(url_actions, function () {
            // When it loads, schedule the next request for 2s later
            setTimeout(refresh_action_log, 10000)
        });
    }
    function refresh_chat_log(){
        var url_actions = document.URL + ' #chat_log'
        $('#chat_log').load(url_actions, function () {
            // When it loads, schedule the next request for 2s later
            setTimeout(refresh_chat_log, 10000)
        });
    }
    function refresh_destiny_box() {
        var url_destiny = document.URL + ' #destiny_box'
        $('#destiny_box').load(url_destiny, function () {
            setTimeout(refresh_destiny_box, 10000)
        });
        // $('#use_dark').prop('disabled', false);
        // $('#use_light').prop('disabled', false);
    };

    refresh_action_log();
    refresh_chat_log();
    refresh_destiny_box();
})
</script>

{% endblock %} <!--page_scripts-->

{% endblock %} <!--body-->